<div>
  <h1>Route Search</h1>

  <section class="row">

      <div class="small-12 columns">

          <div class="media--fl  ng-hige" ng-show="hasNoWalls">

              <div>
                  <label for="searchTerm" class="icon--label icon-search inline"></label>
              </div>

              <div>
                  <input name=""
                          type="search"
                          id="searchTerm"
                          ng-model="form.filter"
                          ng-change="applyFilter()"
                          placeholder="Search by Wall Name">
              </div>

          </div>

      </div>

  </section>


  <div class="small-12 columns  ng-hide"
      ng-show="!hasNoRoutes"
        ng-include src=" 'templates/ZoneRoutesTable.tpl.html' ">
      <!-- Routes Table Inserted Here-->

  </div>
</div>
