<div>
  <div class="relative">
      <div class="[ placeholder-text  large  ] text-center">

          <div class="vertical-align">

              <h2 class="h4 fwb mb2">
                  {{title}}
              </h2>

              <p>
                  {{text}}
                  <br>
                  <a
                      ng-click="model.click()"
                      class="fwb">
                      {{linkText}}
                  </a>
              </p>

          </div>

      </div>

      <img class="placeholderImage"
           ng-src="{{image}}">
  </div>
</div>
