
<div style="display: inline-block;">

  <img class="{{class}}"
        ng-class="{noclick: !active}"
        ng-hide="isUploadingImage"
        ng-src="{{image}}" />

  <div class="{{class}}"
       ng-class="{noclick: !active}"
       style="position: relative"
       ng-show="isUploadingImage"
       us-spinner></div>

  <form
      ng-if="active"
      enctype="multipart/form-data"
      action="{{action}}"
      method="post"
      ng-upload="imageUploadComplete(content)">

      <!-- This is what is clickable -->
      <input id="image_file"
          type="file"
          name="file"
          value="Upload new Image"
          onchange="angular.element(this).scope().fileNameChanged()"></input>

      <input class="submit"
          style="opacity: 0; position: absolute; z-index: -1000;"
          type="submit"></input>

      <input
          name="authorization"
          style="opacity: 0; position: absolute; z-index: -1000;"
          value="{{authorization}}"></input>
  </form>

</div>
