
<div class="row">
  <div class="col-md-4">
    <div class="panel top">
      <h2>Boulder Problems</h2>
      <canvas id="bar" chart-data="data" chart-labels="labels" chart-series="series" class="chart chart-bar"></canvas>
      <canvas id="pie" chart-data="piedata" chart-labels="labels" chart-series="series" class="chart chart-pie"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel top">
      <h2>Top Rope Routes</h2>
      <canvas id="bar" chart-data="data" chart-labels="labels" chart-series="series" class="chart chart-bar"></canvas>
      <canvas id="pie" chart-data="piedata" chart-labels="labels" chart-series="series" class="chart chart-pie"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel top">
      <h2>Lead Routes</h2>
      <canvas id="bar" chart-data="data" chart-labels="labels" chart-series="series" class="chart chart-bar"></canvas>
      <canvas id="pie" chart-data="piedata" chart-labels="labels" chart-series="series" class="chart chart-pie"></canvas>
    </div>
  </div>
</div>