.panel(
  style="background-image: url('assets/images/banner2.jpg'); background-size: cover; background-position: 0px -100px;"
)
  .logo(
    style="background-image: url('assets/images/aiguille.gif'); background-size: cover; background-position: 0px 0px;"
  )
  .name Aiguille Rock Climbing Center
  
  .buttons
    button.main
      i.fa.fa-map-o
      | View Gym Routes
    br
    button 
      i.fa.fa-search
      | Search Routes
