<!-- Header -->
<ng-include src=" 'templates/gym/GymHeader.tpl.html' "></ng-include>


<!-- Tabs-->
<div class="row small-collapse">

    <div class="small-12 columns">

        <!--

            SECTION - Tabs

        -->


        <ul ng-model="tabs" ng-init="tabs = 'panel1'" class="tabs row small-collapse" data-tab role="tablist">

            <li class="tab-title  [ small-4  columns ]  
            text-center"
                ng-class="{'active': tabs =='panel1'}" > 
                    
                <a ng-click="tabs  = 'panel1'">
                    <i class="icon-globe"></i>
                    Activity
                </a>
            
            </li>

            <li class="tab-title  [ small-4  columns ]  
            text-center"
                ng-class="{'active': tabs =='panel2'}"
                ng-click="refreshCharts()"
                >

                <a ng-click="tabs  = 'panel2'; refreshCharts(); "  >
                    <i class="icon-stats"></i>
                    Statistics
                </a>
            
            </li>
            
            <li class="tab-title  [ small-4  columns ]  
            text-center"
                ng-class="{'active': tabs =='panel3'}">

                <a ng-click="tabs  = 'panel3' ">
                    <i class="icon-group"></i>
                    Climbers
                </a>

            </li>
                
        </ul>

        <div class="tabs-content">
            
            <div class="content" 
                ng-class="{'active': tabs == 'panel1'}"
                >
                <ng-include src=" 'templates/gym/panels/activity/ActivityPanel.tpl.html' "></ng-include>
            </div>

            <div class="content" ng-class="{'active': tabs == 'panel2'}">
                    <ng-include src=" 'templates/gym/panels/statistics/StatisticsPanel.tpl.html' ">
                    </ng-include>
            </div>

            <div class="content" ng-class="{'active': tabs == 'panel3'}">
                    <ng-include src=" 'templates/gym/panels/members/MembersPanel.tpl.html' "></ng-include>
            </div>

        </div>

<!--         <tabset>
            <tab class="small-4  columns  text-center">
                <tab-heading>
                    <i class="icon-globe"> </i>
                    <span class="hide-for-small">
                        Activity
                    </span>
                </tab-heading>

                <content>
                    <ng-include src=" 'templates/gym/panels/activity/ActivityPanel.tpl.html' "></ng-include>
                </content>
            </tab>


            <tab class="small-4  columns  text-center"
                 select="refreshCharts()">
                <tab-heading>
                    <i class="icon-stats"> </i>
                    <span class="hide-for-small">
                        Statistics
                    </span>
                </tab-heading>

                <content>
                    <ng-include src=" 'templates/gym/panels/statistics/StatisticsPanel.tpl.html' "></ng-include>
                </content>
            </tab>


            <tab class="small-4  columns  text-center">
                <tab-heading>
                    <i class="icon-group"> </i>
                    <span class="hide-for-small">
                        Climbers
                    </span>
                </tab-heading>

                <content>
                    <ng-include src=" 'templates/gym/panels/members/MembersPanel.tpl.html' "></ng-include>
                </content>
                
            </tab>  

        </tabset>
 -->
    </div>

</div>



<!-- hidden -->
<form id="image_form"
        style="display: none;"
        enctype="multipart/form-data"
        action="{{'/api/accounts/image'}}"
        method="post"
        ng-upload="complete(content)">
    <input id="image_file"
        type="file"
        name="file" />
    <input id="image_submit"
        type="submit"></input>
    <input name="authorization"
        value="{{authorization}}"></input>
</form>
