<!-- Header -->
<ng-include src=" 'templates/gym/GymHeader.tpl.html' " >
</ng-include>



<!-- Tabs-->
<div class="row">


        <!--

            SECTION - Tabs

        -->
        <ul class="tabs row small-collapse"
            ng-init="setCurrentTab(PANEL_ACTIVITY)"
            role="tablist">

            <li class="tab-title  [ small-4  columns ] text-center"
                ng-class="{'active': currentTab === PANEL_ACTIVITY}" >

                <a ng-click="setCurrentTab(PANEL_ACTIVITY)">
                    <i class="icon-globe"></i>
                    Activity
                </a>

            </li>

            <li class="tab-title  [ small-4  columns ] text-center"
                ng-class="{'active': currentTab === PANEL_STATS}"
                ng-click="refreshCharts()">

                <a ng-click="setCurrentTab(PANEL_STATS)">
                    <i class="icon-stats"></i>
                    Statistics
                </a>

            </li>

            <li class="tab-title  [ small-4  columns ] text-center"
                ng-class="{'active': currentTab === PANEL_CLIMBERS}">

                <a ng-click="setCurrentTab(PANEL_CLIMBERS)">
                    <i class="icon-group"></i>
                    Climbers
                </a>

            </li>

        </ul>

        <div class="tabs-content small-12 columns">

            <div class="content"
                 ng-class="{'active': currentTab === PANEL_ACTIVITY}">
                <ng-include src=" 'templates/gym/panels/activity/ActivityPanel.tpl.html' "></ng-include>
            </div>

            <div class="content"
                 ng-class="{'active': currentTab === PANEL_STATS}">
                    <ng-include src=" 'templates/gym/panels/statistics/StatisticsPanel.tpl.html' ">
                    </ng-include>
            </div>

            <div class="content"
                 ng-class="{'active': currentTab === PANEL_CLIMBERS}">
                    <ng-include src=" 'templates/gym/panels/members/MembersPanel.tpl.html' "></ng-include>
            </div>

        </div>

</div>



<!-- hidden -->
<form id="image_form"
        style="display: none;"
        enctype="multipart/form-data"
        action="{{'/api/accounts/image'}}"
        method="post"
        ng-upload="imageUploadComplete(content)">
    <input id="image_file"
        type="file"
        name="file" />
    <input id="image_submit"
        type="submit"></input>
    <input name="authorization"
        value="{{authorization}}"></input>
</form>
