


<!-- User - Gym Header -->
<div class="section--secondary pt2">

    <section class="row hide-for-medium-up" ng-show="isUserAccount()">

        <div class="header  text-center">

            <div class="small-12 columns"
                 ng-click="getAccountId() === gymId && uploadImage()">

                <div class="center avatar avatar--big  mb2"
                     ng-style="{'background-image': 'url(' + getGymImageSrc(image) + ')'}" >
                </div>

                <h1 class="fwb h2 mb1">
                  {{gym.name}}
                </h1>
            </div>
        </div>


        <div class="small-12 columns"
             ng-hide="getHomeGymId() === gymId || isGymAccount()">
            <button class="btn--primary  btn--medium  icon-home btn--expanded"
                    ng-click="setHomeGym()">
                Set as Home Gym
            </button>

        </div>

        <div class="small-12 columns"
                    ng-show="getAccountId() !== gymId">

            <button class="[ btn--primary  btn--medium  btn--expanded ]  icon-map"
                    ng-click="navigateToWalls(gymId)">
                View Gym Zones
            </button>

        </div>

        <div class="small-12 columns  mb2">

            <button class="[ btn--secondary  btn--medium  btn--expanded ]  icon-messaging "
                    ng-click="navigateToGymSuggestions(gymId)"
                    ng-show="isUserAccount()" >
                Post Suggestion
            </button>

        </div>

    </section>
</div>





<!-- User - Gym Desktop -->
<div class="section--secondary">
    <section class="row show-for-medium-up" ng-show="isUserAccount()">

        <div class="header">

            <div class="medium-7 columns"
                 ng-click="getAccountId() === gymId && uploadImage()">

                <div class="flag">

                    <div class="flag-image">

                        <img class="avatar avatar--big  mb2"
                             ng-src="{{getGymImageSrc(image)}}">

                    </div>

                    <div class="flag-body">

                        <h1 class="h2 fwl testQuery mb1">
                            {{gym.name}}
                        </h1>

                        <a href=""
                           class="icon-home"
                           ng-click="setHomeGym()"
                           ng-hide="getHomeGymId() === gymId || isGymAccount()">
                          Set as Home Gym
                        </a>
                    </div>


                </div>

            </div>

            <div class="medium-5 columns">

                <div class="small-12 columns"
                     ng-hide="getHomeGymId() === gymId || isGymAccount()">
                </div>

                <div class="small-12 columns"
                            ng-show="getAccountId() !== gymId">

                    <button class="[ btn--primary  btn--medium  btn--expanded ]  icon-map"
                            ng-click="navigateToWalls(gymId)">
                        View Gym Zones
                    </button>

                </div>

                <div class="small-12 columns  mb2">

                    <button class="[ btn--secondary  btn--medium  btn--expanded ]  icon-messaging "
                            ng-click="navigateToGymSuggestions(gymId)"
                            ng-show="isUserAccount()" >
                        Post Suggestion
                    </button>

                </div>

            </div>

        </div>

    </section>
</div>

<!-- Gym - Header -->
<section class="row"  ng-show="isGymAccount()">

    <div class="header">

        <div class="row">

            <div class="small-12 medium-6 columns mb2">

                <div>

                    <div class="flag">

                        <div class="flag-image"
                        ng-click="getAccountId() === gymId && uploadImage()">

                            <div class="avatar avatar--big"  ng-style="{'background-image': getImageUrlString()}">


                            </div>

                        </div>

                        <div class="flag-body text-left">

                            <h1 class=" display--block  h2 mb0 testQuery fwb">
                                Your Dashboard
                            </h1>

                            <h2 class=" display--block  h4  fwl ">{{gym.name}}
                            </h2>

                        </div>

                    </div>

                </div>

            </div>


            <div class="small-12 columns medium-6" ng-show="isGymAccount()">

                <div class="small-12 medium-12 large-1 columns">
                    <!-- Needed to float the right div over -->
                </div>

                <div class="small-12 medium-12 large-6 columns">

                    <button class="[ btn--primary  btn--medium  btn--expanded ] right  icon-pencil"
                            ng-click="openCreateRouteModal()" >
                        Set Route
                    </button>

                    <button class="[ btn--secondary  btn--medium  btn--expanded ] right  icon-map"
                            ng-click="navigateToWalls(gymId)" >
                        Manage Zones
                    </button>

                </div>

            </div>

        </div>

    </div>

</section>
