
<div class="row">
  <div class="col-md-8">
    <div class="panel top">
      <h2>Gym News</h2>
      <hr/>
      <div>The gym will be closed next Monday</div>
      <div class="date">Feb 6th, 2016</div>
      <hr/>
      <div>The gym will be closed next Monday</div>
      <div class="date">Feb 6th, 2016</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel top">
      <div style="text-align: center;">
        <div data-height="800" data-href="https://www.facebook.com/aiguilleclimbing" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" class="fb-page">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/aiguilleclimbing"><a href="https://www.facebook.com/aiguilleclimbing">Aiguille Rock Climbing Center</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>