<div class="row full-height" data-ui-component="settersManager">      

    <!--<div ng-include src="'templates_angular/navigation.tmpl.html'"></div>-->
    <div ng-include src="'templates_angular/gyms--header.tmpl.html'"></div>

    <!--Page Header
    <div class="header">
        <div class="left">
            <h1 class="fwb mb0 display--block">Gym Dashboard</h1>
            <h1 class="fwl mb2 txtc2">Aiguille Rock Climbing Center</h1>
        </div>
        <hr class="header-divider">
    </div>
    End Page Header-->
      
    <section class="gridRow--50 mb3">
        <div class="row--nested">
            <!-- The route type drop down -->
            <div class="gridRow--100 clearfix">
                <h2 class="txtc2 fwl left">Current Routes</h2>
                <div class="select--tetriary select--small right">
                <select id="type_select">Sort By
                    <option value="bouldering"><a href="">Bouldering</a></option>
                    <option value="toprope"><a href="">Top Rope</a></option>
                    <option value="lead"><a href="">Lead</a></option>
                </select>
                </div>
            </div>

            <!-- The chart area -->
            <div class="gridRow--100">    
                <ul class="table prl2">
                    <li class="dataTable-item">
                        <div id="currentGymRoutes" class="barGraph" style="height: 400px;">
                        </div>
                    </li>

                    <ul data-bar-id="currentGymRoutes" class="barGraph-legend gridRow--100">
                        <li ng-repeat="count in bouldering_count" data-value="{{count.count}}">{{count.grade}}</li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>

    <section class="gridRow--100">
        <h2 class="fwl txtc2">Current Wall Performance</h2>
        <div class="row--nested">

            <!--Begin List 1-->
            <div class="gridRow--oneThird">   
                <ul data-ui-component="bouldering_ratings" class="list--dotted list list--stats">
                    <h3 class="list--stats-title">Best Wall</h3>
                    <li class="list--stats-topElem" >
                        <span class="title">Wall Name</span> 
                        <div class="right">
                            <div ng-repeat="performance in bouldering_performance">
                                <a href="#" class="display--block">{{performance.name}}</a>
                                <span class="[ rating rating--small ] right">
                                <i ng-repeat="i in getArray(5) track by $index" ng-class="{star: $index <= performance.count, 'star--empty': $index > performance.count}">
                            </div>
                        </div>
                    </span> 
                    </li>
                </ul>
            </div>
            <!--
            <div class="gridRow--oneThird">  
                <ul data-ui-component="lead_ratings" class= "list--dotted list list--stats">
                    <h3 class="list--stats-title">Top Rope</h3>
                    <li class="list--stats-topElem">
                        <span class="title">Best Wall</span> 
                        <div class="right">
                            <a href="#" class="display--block">Wall Name</a>
                            <span class="[ rating rating--small ] right">
                            <i class=" star"></i>
                            <i class=" star"></i>
                            <i class=" star--empty"></i>
                            <i class=" star--empty"></i>
                            <i class=" star--empty"></i>
                        </div>
                    </span> 
                    </li>
                </ul>
            </div> 

            <div class="gridRow--oneThird">  
                <ul data-ui-component="toprope_ratings" class= "list--dotted list list--stats">
                    <h3 class="list--stats-title">Lead</h3>
                    <li class="list--stats-topElem">
                        <span class="title">Best Wall</span> 
                        <div class="right">
                            <a href="#" class="display--block">Wall Name</a>
                            <span class="[ rating rating--small ] right">
                            <i class=" star"></i>
                            <i class=" star"></i>
                            <i class=" star--empty"></i>
                            <i class=" star--empty"></i>
                            <i class=" star--empty"></i>
                        </div>
                    </span> 
                    </li>
                </ul>
            </div>
            --> 
        </div>
    </section>
</div>  