
<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <h2>Gym Members</h2>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
      <div class="flag member"> <img src="assets/images/me.jpeg"/>
        <div class="text">Cody Seibert</div>
      </div>
    </div>
  </div>
</div>