.col-3-fluid-with-banner
  header
    
  .fluid-wrapper
    .container-fluid.banner
      .row
        banner
        
  .fluid-wrapper
    .container-fluid.content
      .row
        .col-md-2
          navigation
          
        .col-md-10(
          ui-view="content"
        )

  footer
