<div  ng-show="hasBoulder">
    <a ng-click="export()"
            ng-show="getAccountId() === gymId" class="right">Export Data</a>

    <div id="boulderDistribution" class="mb2">

        <h2 class="fwl">Bouldering Distribution</h2>

<!--         <div ng-show="!hasBoulder && getAccountId() !== gymId">

            <h3 class="fwl">

                Not enough routes or problems set yet, <a ng-click="navigateToZones()">go set some</a>!

            </h3>

        </div>

        <div ng-show="!hasBoulder && getAccountId() === gymId">

            <h3 class="fwl">

                There are currently no boulder problems set, check back later!

            </h3>

        </div>
 -->

        <table ng-show="hasBoulder">
            <thead>
                <th>Zone</th>
                <th bindonce ng-repeat="grade in boulderGrades" bo-text="grade.name"></th>
            </thead>

            <tbody>
                <tr bindonce ng-repeat="(zone, grades) in boulderZones">
                    <td bo-text="zone"></td>
                    <td bindonce ng-repeat="count in boulderCounts[zone] track by $index" bo-text="count || ''"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
