
<div class="panel top">
  <div class="btn-group">
    <div ng-if="!creating" uib-tooltip="create" ng-click="new()" class="btn-circle">+</div>
    <div ng-if="creating" uib-tooltip="save" ng-click="submit()" class="btn-circle green">&#10003;</div>
    <div ng-if="creating" uib-tooltip="cancel" ng-click="cancel()" class="btn-circle gray">&times;</div>
  </div>
  <h2>Setters</h2>
  <div ng-if="creating">
    <div class="add">
      <div class="form-group">
        <label>First Name</label>
        <input ng-model="form.firstname" placeholder="First Name" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input ng-model="form.lastname" placeholder="Last Name" class="form-control"/>
      </div>
    </div>
  </div>
  <div ng-repeat="setter in setters" class="setters">
    <div class="flag member"> <img ng-src="{{setter.image}}"/>
      <div class="text">{{setter.firstname}} {{setter.lastname}}</div>
    </div>
  </div>
</div>