.panel
  ul
    li 
      i.fa.fa-newspaper-o
      | News
    li 
      i.fa.fa-map-o
      | View Zones
    li 
      i.fa.fa-search
      | Search Routes
    li 
      i.fa.fa-commenting-o
      | Community
    li 
      i.fa.fa-users
      | Members
    li 
      i.fa.fa-bar-chart
      | Analytics
    li
      i.fa.fa-info
      | Info
    

  //- div(style="text-align: center;")
  //-   .fb-page(
  //-     data-height='800'
  //-     data-href='https://www.facebook.com/aiguilleclimbing'
  //-     data-tabs='timeline'
  //-     data-small-header='false'
  //-     data-adapt-container-width='true'
  //-     data-hide-cover='false'
  //-     data-show-facepile='true'
  //-   )
  //-     .fb-xfbml-parse-ignore
  //-       blockquote(cite='https://www.facebook.com/aiguilleclimbing')
  //-         a(href='https://www.facebook.com/aiguilleclimbing') Aiguille Rock Climbing Center
