$primaryFont: 'Raleway', Helvetica, Sans-Serif; 

//Font Weights 

$bold: 700; 
$normal: 400; 
$light: 300; 



@import "colors",
"generics",
"layoutHelpers",
"buttons",
"typography", 
"blocks",
"layoutHelpers",
"mediaQueries",
"icons",
"switches",
"transitions",
"forms"; 