
//
//Select Mixin
//


@mixin select($color) {
  width: auto;
  outline: none;
  @extend %relative;
  @include border-radius(8px);
  @include box-shadow(0 1px 0 rgba(255, 255, 255, .2) inset);
  background-color: $color;
  border: 1px solid darken($color, 20%);
  color: #000;
  font-weight: $bold;
  margin-bottom: rem-calc(12);
  margin-right: rem-calc(6);
  overflow: hidden;

  i:before {
    @extend %mr0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    background-color: transparent;
    border: 0;
    color: #000;
    line-height: normal;
    width: auto;
  }

  // &:hover,
  // &:active {
  //   background: darken($color, 4%);
  //   background: darken($color, 4%);
  // }

  @content; 
}
