@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?63978659');
  src: url('../fonts/fontello.eot?63978659#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?63978659') format('woff'),
       url('../fonts/fontello.ttf?63978659') format('truetype'),
       url('../fonts/fontello.svg?63978659#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


$icon--rss: '\e83d';

//Objects  


$icon--alert: '\e829';
$icon--megaphone: '\e82d';
$icon--book: '\e82f';
$icon--pencil: '\e82a';

$icon--speachBubble-alt: '\e80f' ;
$icon--speachBubble: '\e810';


$icon--circle: '\e830';


//
//Icons
//

$icon--loading: '\e800';
$icon--comments: '\e802';
$icon--star: '\e801';
$icon--star--empty: '\e800';
// $icon--folder: '\e81a';



//
//Menu Icons
//

$icon--gauge: '\e835';
$icon--insights: '\e804';
$icon--group: '\e817';
$icon--person: '\e828';
$icon--house: '\e803';

$icon--chart--pie: '\e812';
$icon--chart--graph: '\e837'; 


//
//General Menu Icons
//

$icon--logout: '\e824';
$icon--settings: '\e80f';
$icon--search: '\e827';
$icon--map: '\e823';
$icon--globe: '\e811';
$icon--key: '\e82e';

$icon--cog--alt: '\e81a'; 
$icon--cog: '\e822'; 


//
//Social Media Icons, Internet
//
$icon--twitter: '\e813';
$icon--facebook: '\e815';
$icon--location: '\e806';
$icon--website: '\e803';
$icon--mail: '\e80d';

$icon--phone: '\e80e';

$icon--plus: '\e809';
$icon--minus: '\e845';

$icon--thumbsUp: '\e831';

//
//Arrows
//

$icon--arrowR: '\e80a';
$icon--arrowL: '\e80b';
$icon--arrowD: '\e80c';
$icon--arrowU: '\e818';

$icon--pyramidDown: '\e81f';
$icon--pyramidUp: '\e820';

//
//Close, cancel, delete icons
//

$icon--cancelCircle: '\e825';
$icon--thrash: '\e808';




//
//Master Mixin for Icons
//

@mixin icon($icon, $position: before) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: $icon;
      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: rem-calc(12);
      text-align: center;
      font-variant: normal;
      text-transform: none;
    }

    @content;

  }
}

// .icon--new {
//     display: inline-block;
//     text-align: center;
//     width: 60px;
//     height: 26px;
//     border-radius: 5px;
//     left: 5px;
//     padding-top: 8px;
//     top: -2px;
// }

.icon--topRight {
    position: absolute;
    top: -15px;
}


//
//Icon Sizes
//

%icon--small {
  font-size: rem-calc(16);
}

%icon--medium {
  font-size: rem-calc(20);
}

%icon--big {
  font-size: rem-calc(26);
}

%icon--jumbo {
 font-size: rem-calc(32)
}


//
//   Animation for loading icons
//

%animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4837664#fontello') format('svg');
  }
}
*/



// .icon-star-empty:before { content: '\e800'; } /* '' */
// .icon-star:before { content: '\e801'; } /* '' */
// .icon-picture:before { content: '\e802'; } /* '' */
// .icon-home:before { content: '\e803'; } /* '' */
// .icon-frown:before { content: '\e804'; } /* '' */
// .icon-smile:before { content: '\e805'; } /* '' */
// .icon-meh:before { content: '\e806'; } /* '' */
// .icon-blank:before { content: '\e807'; } /* '' */
// .icon-trash:before { content: '\e808'; } /* '' */
// .icon-plus:before { content: '\e809'; } /* '' */
// .icon-right-open:before { content: '\e80a'; } /* '' */
// .icon-left-open:before { content: '\e80b'; } /* '' */
// .icon-down-open:before { content: '\e80c'; } /* '' */
// .icon-up-open:before { content: '\e80d'; } /* '' */
// .icon-spin4-1:before { content: '\e80e'; } /* '' */
// .icon-comment-alt-1:before { content: '\e80f'; } /* '' */
// .icon-comment-1:before { content: '\e810'; } /* '' */
// .icon-globe-alt-1:before { content: '\e811'; } /* '' */
// .icon-chart-pie-1:before { content: '\e812'; } /* '' */
// .icon-twitter-1:before { content: '\e813'; } /* '' */
// .icon-location-1:before { content: '\e814'; } /* '' */
// .icon-facebook-1:before { content: '\e815'; } /* '' */
// .icon-trash-1:before { content: '\e816'; } /* '' */
// .icon-group-1:before { content: '\e817'; } /* '' */
// .icon-mail-1:before { content: '\e818'; } /* '' */
// .icon-phone-1:before { content: '\e819'; } /* '' */
// .icon-cog-alt-1:before { content: '\e81a'; } /* '' */
// .icon-check-empty-1:before { content: '\e81b'; } /* '' */
// .icon-award:before { content: '\e81c'; } /* '' */
// .icon-award-empty:before { content: '\e81d'; } /* '' */
// .icon-fire:before { content: '\e81e'; } /* '' */
// .icon-down-micro:before { content: '\e81f'; } /* '' */
// .icon-up-micro:before { content: '\e820'; } /* '' */
// .icon-check-1:before { content: '\e821'; } /* '' */
// .icon-cog-1:before { content: '\e822'; } /* '' */
// .icon-map-1:before { content: '\e823'; } /* '' */
// .icon-off-2:before { content: '\e824'; } /* '' */
// .icon-cancel-circled2-1:before { content: '\e825'; } /* '' */
// .icon-folder-open-1:before { content: '\e826'; } /* '' */
// .icon-search-1:before { content: '\e827'; } /* '' */
// .icon-torso-1:before { content: '\e828'; } /* '' */
// .icon-attention:before { content: '\e829'; } /* '' */
// .icon-pencil:before { content: '\e82a'; } /* '' */
// .icon-edit:before { content: '\e82b'; } /* '' */
// .icon-rss:before { content: '\e82c'; } /* '' */
// .icon-megaphone:before { content: '\e82d'; } /* '' */
// .icon-key:before { content: '\e82e'; } /* '' */
// .icon-book:before { content: '\e82f'; } /* '' */
// .icon-circle:before { content: '\e830'; } /* '' */
// .icon-thumbs-up-alt:before { content: '\e831'; } /* '' */
// .icon-thumbs-down-alt:before { content: '\e832'; } /* '' */
// .icon-glass:before { content: '\e833'; } /* '' */
// .icon-minus:before { content: '\e834'; } /* '' */
// .icon-gauge-2:before { content: '\e835'; } /* '' */
// .icon-chart-area:before { content: '\e836'; } /* '' */
// .icon-chart-bar:before { content: '\e837'; } /* '' */
// .icon-chart-pie:before { content: '\e838'; } /* '' */
// .icon-globe:before { content: '\e839'; } /* '' */
// .icon-flash-1:before { content: '\e83a'; } /* '' */
