@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?63978659');
  src: url('../fonts/fontello.eot?63978659#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?63978659') format('woff'),
       url('../fonts/fontello.ttf?63978659') format('truetype'),
       url('../fonts/fontello.svg?63978659#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


$icon--rss: '\e83d';

//Objects  


$icon--alert: '\e829';
$icon--megaphone: '\e82d';
$icon--book: '\e82f';
$icon--pencil: '\e82a';

$icon--speachBubble-alt: '\e80f' ;
$icon--speachBubble: '\e810';


$icon--circle: '\e830';


//
//Icons
//

$icon--loading: '\e800';
$icon--comments: '\e802';
$icon--star: '\e801';
$icon--star--empty: '\e800';
// $icon--folder: '\e81a';



//
//Menu Icons
//

$icon--gauge: '\e835';
$icon--insights: '\e804';
$icon--group: '\e817';
$icon--person: '\e828';
$icon--house: '\e803';

$icon--chart--pie: '\e812';
$icon--chart--graph: '\e837'; 


//
//General Menu Icons
//

$icon--logout: '\e824';
$icon--settings: '\e80f';
$icon--search: '\e827';
$icon--map: '\e823';
$icon--globe: '\e811';
$icon--key: '\e82e';

$icon--cog--alt: '\e81a'; 
$icon--cog: '\e822'; 


//
//Social Media Icons, Internet
//
$icon--twitter: '\e805';
$icon--facebook: '\e807';
$icon--location: '\e806';
$icon--website: '\e803';
$icon--mail: '\e80d';

$icon--phone: '\e80e';

$icon--plus: '\e809';
$icon--minus: '\e845';

$icon--thumbsUp: '\e831';

//
//Arrows
//

$icon--arrowR: '\e80a';
$icon--arrowL: '\e80b';
$icon--arrowD: '\e80c';
$icon--arrowU: '\e818';

$icon--pyramidDown: '\e81f';
$icon--pyramidUp: '\e820';

//
//Close, cancel, delete icons
//

$icon--cancelCircle: '\e819';
$icon--thrash: '\e808';




//
//Master Mixin for Icons
//

@mixin icon($icon, $position: before) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: $icon;
      font-family: 'fontello';
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: rem-calc(12);
      text-align: center;
      font-variant: normal;
      text-transform: none;
    }

    @content;

  }
}

// .icon--new {
//     display: inline-block;
//     text-align: center;
//     width: 60px;
//     height: 26px;
//     border-radius: 5px;
//     left: 5px;
//     padding-top: 8px;
//     top: -2px;
// }

.icon--topRight {
    position: absolute;
    top: -15px;
}


//
//Icon Sizes
//

%icon--small {
  font-size: rem-calc(16);
}

%icon--medium {
  font-size: rem-calc(20);
}

%icon--big {
  font-size: rem-calc(26);
}


%icon--jumbo {
    font-size: rem-calc(32); 
}



//
//   Animation for loading icons
//

%animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

