

//
//Typography Styles
//

%tdn { text-decoration: none; }
%fwb { font-weight: $bold; } 
%fwn { font-weight: $normal; }
%fwl { font-weight: $light; }

%txtc2 {
  color: $grey--medium; 
}


//Text Sizes 
%text--mega {
  font-size: rem-calc(48);     // 48px 
  line-height: 1;      // 48px 

}

%h1 {
  font-size: rem-calc(32);     // 32px 
  line-height: 1.5;    // 48px 
}

%h2 {
  font-size: rem-calc(24);    // 24px 
  line-height: 1;      // 24px 
}

%h3 {
  font-size: rem-calc(20);  // 20px 
  line-height: 1.2;    // 24px 
}

%h4 {
  font-size: rem-calc(18); // 18px 
  line-height: 1.333;  // 24px 
}

%h5 {
  font-size: rem-calc(16);   // 16px 
  line-height: 1.5;    // 24px 
}

%h6 {
  font-size: rem-calc(14);     // 14px 
  line-height: 1.2;    // 24px 
}

%text--micro {
  font-size: rem-calc(12); 
  line-height: 2; 
}


