<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Bouldering</h2>

  <ss-line-graph
    class="prl1"
    type="bouldering"
    graph-data="boulderingProgressionGraphData">
  </ss-line-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['bouldering']"
   no-data="{{hasRoutes['bouldering']}}"
    title="Oops! These are not your bouldering stats."
    paragraph="Why don't you send some over at"
    image="images/placeholder--BoulderingGraph.jpg"
    link-text="your your home gym?"
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>

<ss-placeholder
    class="ng-hide"
    size="large"
    ng-show="currentPageIsOtherUser(userId) &&   hasRoutes['bouldering']"
    no-data="{{hasRoutes['bouldering']}}"
    title="{{user.firstname}} hasn't sent any boulder routes yet."
    paragraph=""
    image="images/placeholder--BoulderingGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>


</div>

<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Top Rope</h2>

  <ss-line-graph
    class="prl1"
    graph-data="topropeProgressionGraphData">
  </ss-line-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['toprope']"
   no-data="{{hasRoutes['toprope']}}"
    title="Oops! These are not your top rope stats."
    paragraph="Why don't you send some over at"
    image="images/placeholder--TopRopeGraph.jpg"
    link-text="your home gym?"
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>


   <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="currentPageIsOtherUser(userId) &&   hasRoutes['toprope']"
   no-data="{{hasRoutes['toprope']}}"
    title="{{user.firstname}} hasn't sent any top rope routes yet."
    paragraph=""
    image="images/placeholder--TopRopeGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>

</div>

<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Lead</h2>

  <ss-line-graph
    class="prl1"
    graph-data="leadProgressionGraphData">
  </ss-line-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['lead']"
   no-data="{{hasRoutes['lead']}}"
    title="Oops! These are not your lead stats."
    paragraph="Why don't you send some at"
    image="images/placeholder--BoulderingGraph.jpg"
    link-text="your home gym?"
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="currentPageIsOtherUser(userId) && hasRoutes['lead']"
   no-data="{{hasRoutes['lead']}}"
    title="{{user.firstname}} hasn't sent any lead routes yet."
    paragraph=""
    image="images/placeholder--LeadGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>

</div>
