<div class="small-12 columns">
  <h1 class="fwl h2">Progression Charts</h1>
</div>

<div class="small-12 columns">
    <ng-include class="row small-collapse" src=" 'templates/user/panels/statistics/Progress.tpl.html' " >
    </ng-include>
</div>


<div class="small-12 columns">
  <h1 class="fwl h2">Total Sends</h1>
</div>

<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Bouldering</h2>

  <ss-graph
    class="prl1"
    graph-data="boulderingSendsGraphData">
  </ss-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['bouldering']"
   no-data="{{hasRoutes['bouldering']}}"
    title="You haven't sent any bouldering routes yet."
    paragraph="Start sending some at"
    image="images/placeholder--BoulderingGraph.jpg"
    link-text="your home gym."
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="currentPageIsOtherUser(userId) &&   hasRoutes['bouldering']"
   no-data="{{hasRoutes['bouldering']}}"
    title="{{user.firstname}} hasn't sent any boulder routes yet."
    paragraph=""
    image="images/placeholder--BoulderingGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>


</div>

<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Top Rope</h2>

  <ss-graph
    class="prl1"
    graph-data="topropeSendsGraphData">
  </ss-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['toprope']"
   no-data="{{hasRoutes['toprope']}}"
    title="You haven't sent any top rope routes yet."
    paragraph="Start sending some at"
    image="images/placeholder--TopRopeGraph.jpg"
    link-text="your home gym."
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="currentPageIsOtherUser(userId) &&   hasRoutes['toprope']"
   no-data="{{hasRoutes['toprope']}}"
    title="{{user.firstname}} hasn't sent any top rope routes yet."
    paragraph=""
    image="images/placeholder--TopRopeGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>


</div>

<div class="small-12 medium-6 large-4 columns">

  <h2 class="h3 clearfix">Lead</h2>

  <ss-graph
    class="prl1"
    graph-data="leadSendsGraphData">
  </ss-graph>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="!currentPageIsOtherUser(userId) && hasRoutes['lead']"
   no-data="{{hasRoutes['lead']}}"
    title="You haven't sent any lead routes yet."
    paragraph="Start sending some at"
    image="images/placeholder--BoulderingGraph.jpg"
    link-text="your home gym."
    ng-click="navigateToGym(getHomeGymId())">
  </ss-placeholder>

  <ss-placeholder
   class="ng-hide"
   size="large"
   ng-show="currentPageIsOtherUser(userId) && hasRoutes['lead']"
   no-data="{{hasRoutes['lead']}}"
    title="{{user.firstname}} hasn't sent any lead routes yet."
    paragraph=""
    image="images/placeholder--BoulderingGraph.jpg"
    link-text=""
    ng-click="">
  </ss-placeholder>

</div>
