<section class="row">

    <div class="text-center"
         ng-show="!hasUsers() && getAccountId() !== gymId">

        <h2>

            This gym has no users!

        </h2>

    </div>

    <div class="small-12  medium-8 columns medium-centered"
         ng-show="!hasUsers() && getAccountId() === gymId">

        <p class="h3 text-center mt4">

            Currently there are no climbers with your gym set as a home gym, start getting feedback on your routes & problems by <span class="fwb">telling your climbers to sign up</span>! 
        </p>

        <p class="h5 text-center">- Team at Setter</p>


    </div>

    <div class="small-12 columns">

        <h1 class="fwl h2">Climber Grades</h1>

    </div>

    <div class="row  pb4">

        <div class="small-12 medium-4 columns">
        
            <!-- Current Boulderers Graph -->
            <div class="small-12 medium-6 large-4 columns"
                ng-include
                src= " 'templates/gym/panels/members/graphs/boulderersDist.tpl.html' "
                ng-controller="BoulderRoutesGraphController">
            </div>
        
        </div>
        
        <div class="small-12 medium-4 columns">
             
            <!-- Current Top Ropers Graph -->
            <div class="small-12 medium-6 large-4 columns"
                ng-include
                src= " 'templates/gym/panels/members/graphs/topRopersDist.tpl.html' "
                ng-controller="BoulderRoutesGraphController">
            </div>
        
        </div>
        
        <div class="small-12 medium-4 columns">
            
            <!-- Current Leaders Graph -->
            <div class="small-12 medium-6 large-4 columns"
                ng-include
                src= " 'templates/gym/panels/members/graphs/leadersDist.tpl.html' "
                ng-controller="BoulderRoutesGraphController">
            </div>
        
        </div>

    </div>

    <div class="small-6 medium-3 large-3 columns   pb4"
        ng-repeat="user in users"
        ng-click="navigateToUser(user.id)">

        <div class="flag">

            <div class="flag-image pr2">

                <img class="avatar avatar--small  center mb1"
                ng-src="{{getUserImageSrc(user)}}">

            </div>

            <div class="flag-body">

                <a class="h5  display--block  center">{{user.name}}</a>

            </div>

        </div>

    </div>

</section>
