<div class="section--secondary">

    <section class="row ">

        <div class="header">

            <div class="clearfix" >

                <button class="[ btn--secondary  btn--medium ] left mb3 icon-left-big hide-for-medium-up"
                        ng-show="lastPageWasGym() || lastPageWasRoute() || lastPageWasSetters()"
                        ng-click="back()" >
                   Back
                </button>

            </div>

            <div class="row">

                <div class="small-12 large-6 columns">

                    <div class="flag mb2 ">

                         <div class="flag-image"
                              ng-click="getAccountId() === userId">

                              <form id="image_form"
                                  enctype="multipart/form-data"
                                  action="{{'/api/accounts/image'}}"
                                  method="post"
                                  ng-upload="imageUploadComplete(content)">

                                  <input id="image_file"
                                      class="avatar avatar--big"
                                      style="position: absolute; top: 28px; opacity: 0"
                                      type="file"
                                      name="file"
                                      onchange="angular.element(this).scope().fileNameChanged()"></input>

                                  <input id="image_submit"
                                      style="opacity: 0; position: absolute;"
                                      type="submit"></input>

                                  <input name="authorization"
                                      style="opacity: 0; position: absolute;"
                                      value="{{authorization}}"></input>
                              </form>

                             <img class="avatar--big"
                                  ng-hide="isUploadingImage"
                                  ng-src="{{getUserImageSrc(image)}}">

                              <div class="avatar--big"
                                   style="position: relative"
                                   ng-show="isUploadingImage"
                                   us-spinner></div>
                         </div>

                         <div class="flag-body">
                            <ul>
                                <li>
                                     <h1 class="h2  mb0  fwb"
                                         ng-show="getAccountId() === userId">
                                         {{user.firstname}} {{user.lastname}}
                                     </h1>
                                </li>

                                <li>

                                     <h1 class="h2  mb0  fwb"
                                         ng-hide="getAccountId() === userId">
                                         {{user.firstname}} {{user.lastname}}
                                     </h1>
                                </li>

                                <li>
                                    <h2 class="h4  icon-home "
                                 ng-click="navigateToGym(user.gym_id)">
                                 {{user.gym_name}}
                                    </h2>

                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="large-collapse">
                    <div class="show-for-large-up large-6 columns">

                          <ng-include class="large-4  columns text-center  "
                                      src=" 'templates/user/BoulderGrade.tpl.html' ">
                         </ng-include >


                         <ng-include class="large-4  columns text-center  "
                                     src=" 'templates/user/TopRopeGrade.tpl.html' ">
                         </ng-include >


                         <ng-include class="large-4  columns text-center  "
                                     src=" 'templates/user/LeadGrade.tpl.html' ">
                         </ng-include>

                    </div>
                </div>
            </div>

             <div class="row small-collapse hide-for-large-up">
                 <ng-include class="small-4 medium-4 columns text-center"
                             ng-controller="BoulderGradeController"
                             src=" 'templates/user/BoulderGrade.tpl.html' ">
                 </ng-include >


                 <ng-include class="small-4 medium-4 columns text-center"
                             ng-controller="TopRopeGradeController"
                             src=" 'templates/user/TopRopeGrade.tpl.html' ">
                 </ng-include>


                 <ng-include class="small-4 medium-4 columns text-center"
                             ng-controller="LeadGradeController"
                             src=" 'templates/user/LeadGrade.tpl.html' ">
                 </ng-include>
            </div>

        </div>

    </section>

</div>



<section class="row">

    <ul
        ng-model="userTabs"
        ng-init="userTabs = 'panel1'"
        class="tabs row small-collapse" data-tab
        role="tablist">

        <li class="tab-title  [ small-6  columns ]
        text-center" ng-class="{'active': userTabs =='panel1'}">

            <a ng-click="userTabs  = 'panel1' ">

                <i class="icon-globe"> </i>
                Activity

            </a>

        </li>


        <li  class="tab-title  [ small-6  columns ] text-center"
            ng-click="loadStatisticsData()"
            ng-class="{'active': userTabs =='panel2'}">


            <a ng-click="userTabs = 'panel2'">
                <i class="icon-stats"> </i>
                Statistics
            </a>

        </li>

    </ul>


    <div class="tabs-content small-12 columns">

        <div class="content" ng-class="{'active' : userTabs == 'panel1'}">

            <ng-include src=" 'templates/user/panels/activity/UserActivityPanel.tpl.html' "></ng-include>

        </div>

        <div class="content" ng-class="{'active' : userTabs == 'panel2'}">

            <ng-include src=" 'templates/user/panels/statistics/UserStatisticsPanel.tpl.html' "></ng-include>

        </div>

    </div>


</section>
