
<div class="top"><img src="assets/images/setter-logo.svg" height="35px" width="35px" alt="Setter" class="logo text-right mr1 mb1"/>
  <div class="links">
    <div class="link"><i class="fa fa-user"></i>View Profile</div>
    <div class="link"><i class="fa fa-tachometer"></i>Dashboard</div>
    <div class="link"><i class="fa fa-home"></i>Home</div>
    <div ui-sref="gyms.setters({gymId: gymId})" class="link"><i class="fa fa-users"></i>Setters</div>
    <div ui-sref="gyms.manageroutes({gymId: gymId})" class="link"><i class="fa fa-book"></i>Routes</div>
    <div ui-sref="findgym" class="link"><i class="fa fa-search"></i>Gyms</div>
    <div class="link"><i class="fa fa-users"></i>Users</div>
    <div ui-sref="settings" class="link"><i class="fa fa-gear"></i>Settings</div>
  </div>
</div>