
html,
body {
  color: $color--text; 
  font-size: rem-calc(14);
  font-family: $primaryFont; 
  @include breakpoint(teen-bear) {
    font-size: rem-calc(16);
  }
}


//
//Common margin-bottom for vertical rhythm. */
//

h1,h2,h3,h4,h5,h6,
ul,ol,dl,
fieldset,
p,
table,
pre,
hr {
    margin-bottom:24px;
    margin-bottom:1.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    font-family: $primaryFont; 
    color: $color--text; 
}


//
//Typography Styles
//

.tdn { text-decoration: none; }
.fwb { font-weight: $bold; } 
.fwn { font-weight: $normal; }
.fwl { font-weight: $light; }

.txtc2 {
  color: $grey--medium; 
}


//
//Defined h and hN sizing through placeholders
//

h1, 
.h1 { 
    @extend %h1; 
}

h2, 
.h2 { 
    @extend %h2; 
}

h3, 
.h3 { 
    @extend %h3; 
}

h4, 
.h4 { 
    @extend %h4; 
}

h5, 
.h5 { 
    @extend %h5; 
}

h6, 
.h6 { 
    @extend %h6; 
}


//
//Text Bigger Than Headers 
//

.txt--mega { 
    @extend %text--mega; 
}

//
//Samllest Text 
//

.txt--micro { 
    @extend %text--micro; 
}



a { 
  color: $primaryColor; 
  &:hover {
    color: darken($primaryColor, 15%);
  }
}


.title--main { 
  font-weight: $light; 
}


//
//Titles
//
// .title1 {

// }

// .title3 {
//   color: $primaryColor;
  
// }
