
<div class="row">
  <div class="col-md-7">
    <div class="panel top">
      <h2>{{zone.name}}</h2>
      <div class="btn-group">
        <div ng-if="isGymAdmin()" uib-tooltip="add new route" ng-click="openEditRoutePanel()" class="btn-circle">+</div>
      </div>
      <div ui-grid="gridOptions" ui-grid-selection="ui-grid-selection"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel top">
      <h2>Zone Image</h2>
      <div class="btn-group">
        <div type="button" ngf-select="upload($file, 'image')" ngf-max-size="2MB" ng-if="isGymAdmin()" class="btn-circle"><i class="glyphicon glyphicon-picture"></i></div>
      </div><img ng-src="{{zone.image}}" width="100%"/>
    </div>
  </div>
</div>