

<div>
    <a  class="right"
        ng-click="export()"
        ng-show="getAccountId() === gymId">Export Graph
    </a>

    <h2 class="h3 clearfix">Bouldering</h2>

    <div ng-show="!hasBoulder && getAccountId() !== gymId">

        <h2>

            This gym has no boulder problems set!

        </h2>

    </div>

    <div class="relative" ng-show="!hasBoulder && getAccountId() === gymId">

        <div class="placeholder-text  text-center"
             ng-click="navigateToWalls(gymId)">

            <div class="vertical-align">

                <h2 class="h4 fwb mb2">
                This is not your gym's graph.
                </h2>

                <p >
                    Currently there are no bouldering problems, but you may set new ones on the
                    <a prevent-default class="fwb">Manage Zones page</a>.
                </p>
    
            </div>

        </div>

        
        <img class="placeholder--graph" src="images/placeholder--boulderingGraph.jpg" alt="placeholder graph"> 

 
    </div>

    <canvas
        id="boulderGraph"
        class="chart-bar"
        data="graph.data"
        labels="graph.labels"
        options="chartOptions"
        legend="true"
        width="100%"
        height="100%">
    </canvas>
</div>
