

<div>
    <a  class="right"
        ng-click="export()"
        ng-show="getAccountId() === gymId">Export Graph
    </a>

    <h2 class="h3 clearfix">Bouldering</h2>

    <div ng-show="!hasBoulder && getAccountId() !== gymId">

        <h2>

            This gym has no boulder problems set!

        </h2>

    </div>

    <div ng-show="!hasBoulder && getAccountId() === gymId">

        <h2>

            You have not set any boulder problems!

        </h2>

        <button type="submit"
            class="btn--primary icon-plus btn--medium"
            ng-click="navigateToWalls(gymId)">

            Set Some Routes!

        </button>

    </div>

    <canvas
        id="boulderGraph"
        class="chart-bar"
        data="graph.data"
        labels="graph.labels"
        options="chartOptions"
        legend="true"
        width="100%"
        height="100%">
    </canvas>
</div>
