<div>
    <a  class="right"
        ng-click="export()"
        ng-show="getAccountId() === gymId">Export Graph
    </a>

    <h2 class="h3 clearfix">Lead</h2>

    <div ng-show="!hasLead && getAccountId() !== gymId">

        <h2>

            This gym has no lead routes set!

        </h2>

    </div>

    <div class="relative" ng-show="!hasLead && getAccountId() === gymId">

        <div class="placeholder-text  text-center"
             ng-click="navigateToWalls(gymId)">

            <div class="vertical-align">

                <h2 class="h4 fwb mb2">
                This is not your gym's graph
                </h2>

                <p>
                    Currrently there are no lead routes, but you may set new ones on the <a prevent-default>Manage Zones page</a>.
                </p>
    
            </div>

        </div>


        <img class="placeholder--graph" src="images/placeholder--leadGraph.jpg" alt="placeholder graph"> 


    </div>

    <canvas
        id="leadGraph"
        class="chart-bar"
        data="graph.data"
        labels="graph.labels"
        options="chartOptions"
        legend="true"
        width="100%"
        height="100%">
    </canvas>
</div>
