<div>
    <a  class="right"
        ng-click="export()"
        ng-show="getAccountId() === gymId">Export Graph
    </a>

    <h2 class="h3 clearfix">Lead</h2>

    <div ng-show="!hasLead && getAccountId() !== gymId">

        <h2>

            This gym has no lead routes set!

        </h2>

    </div>

    <div ng-show="!hasLead && getAccountId() === gymId">

        <h2>

            You have not set any lead routes!

        </h2>

        <button type="submit"
            class="btn--primary icon-plus btn--medium"
            ng-click="navigateToWalls(gymId)">

            Set Some Routes!

        </button>

    </div>

    <canvas
        id="leadGraph"
        class="chart-bar"
        data="graph.data"
        labels="graph.labels"
        options="chartOptions"
        legend="true"
        width="100%"
        height="100%">
    </canvas>
</div>
