
<div>

    <a class="right"
       ng-click="export()"
       ng-show="getAccountId() === gymId">Export Graph</a>

    <h2 class="h3 clearfix">Top Rope</h2>

    <!-- User - Blank state for no routes available --> 
    <div class="relative" ng-show="!hasTopRope && getAccountId() !== gymId">

        <div class="placeholder-text  text-center">

            <div class="vertical-align">

                <h2 class="h4 fwb mb2">
                    This gym has no top rope routes, yet.
                </h2>

                <p>
                    If you'd like to climb some, let them know over at their 
                    <a prevent-default 
                       ng-click="navigateToGymSuggestions(gymId)" class="fwb">Suggestions Board</a>.
                </p>
    
    
            </div>

        </div>

        <img class="placeholder--graph" src="images/placeholder--topRopeGraph.jpg" alt="placeholder graph"height="503"  width="553"> 

    </div>

    <!-- Gyms - Blank state for no routes available --> 
    <div class="relative" ng-show="!hasTopRope && getAccountId() === gymId">

        <div class="placeholder-text  text-center"
             ng-click="navigateToWalls(gymId)">

            <div class="vertical-align">

                <h2 class="h4 fwb mb2">
                This is not your gym's graph
                </h2>

                <p>
                    Currently there are no top rope routes, but you may set new ones on the
                    <a prevent-default class="fwb">Manage Zones page</a>.
                </p>
    
            </div>

        </div>

        <img class="placeholder--graph" src="images/placeholder--topRopeGraph.jpg" alt="placeholder graph"height="503"  width="553"> 

    </div>

    <canvas
        id="topRopeGraph"
        class="chart-bar"
        data="graph.data"
        labels="graph.labels"
        options="chartOptions"
        legend="true"
        width="100%"
        height="100%">
    </canvas>

</div>
