<div>
    <a ng-click="export()"
            ng-show="getAccountId() === gymId" class="right">Export Data</a>

    <div id="boulderDistribution" class="mb2">
        <h2>Bouldering Distribution</h2>

        <div ng-show="!hasBoulder && getAccountId() !== gymId">

            <h3 class="fwl">

                Not enough routes or problems set yet, <a ng-click="navigateToZones()">go set some</a>!  

            </h3>

        </div>

        <div ng-show="!hasBoulder && getAccountId() === gymId">

            <h3 class="fwl">

                There are currently no boulder problems set, check back later! 

            </h3>

        </div>


        <table ng-show="hasBoulder">
            <thead>
                <th>Zone</th>
                <th ng-repeat="grade in boulderGrades">{{grade.name}}</th>
            </thead>

            <tbody>
                <tr ng-repeat="(zone, grades) in boulderZones">
                    <td>{{zone}}</td>
                    <td ng-repeat="count in boulderCounts[zone] track by $index">{{count || ''}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
