<div>
    <a ng-click="export()"
            ng-show="getAccountId() === gymId" class="right">Export Data</a>

    <div id="boulderDistribution">
        <h2>Bouldering Distribution</h2>
        <table>
            <thead>
                <th>Zone</th>
                <th ng-repeat="grade in boulderGrades">{{grade.name}}</th>
            </thead>

            <tbody>
                <tr ng-repeat="(zone, grades) in boulderZones">
                    <td>{{zone}}</td>
                    <td ng-repeat="count in boulderCounts[zone] track by $index">{{count || ''}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
