.col-3-fluid-with-banner
  header
    
  .fluid-wrapper
    .container-fluid.banner
      .row
        banner
        
  .fluid-wrapper
    .container-fluid.content
      .row
        .col-md-2.left
          navigation

        .col-md-6.middle
          comments

        .col-md-4.right
          sends

  footer
