

<div class="small-12 columns">

    <h2 class="fwl">Latest Sends</h2>

</div>


<div class="row small-collapse large-uncollapse ">

    <div class="small-12  columns  mb4">

        <ul class="list list--tableStyle">

            <li class="ptb2    "
                ng-repeat="act in activity"
                ng-click="navigateToRoute(act.gym_id, act.wall_id, act.route_id)">

                <span>
                    <i class="icon-circle icon--medium"
                        ng-style="{color: act.value}">
                    </i>
                    {{formatGrade(act.bg, act.rg, act.lg)}}
                </span>

                <span class="right">
                    on {{act.date}}
                </span>

            </li>

        </ul>

    </div>

</div>
