

    <h2 class="fwl mb3">Project List</h2>

      <ul class="list list--navElem list--tableStyle ">

          <li class="ptb2"
              ng-repeat="project in projects"
              ng-click="openRouteModal(project)">

              <i class="icon--big"  ng-class="project.sent ? 'icon-checked' : 'icon-unchecked' ">

              </i>

              <span class="mr2">
                  <i class="icon-circle icon--medium"
                      ng-style="{color: project.value}">
                  </i>
                  {{formatGrade(project.boulder_grade, project.rope_grade, project.lead_grade)}}
              </span>

              <span>
                    {{project.wall_name}}
              </span>


          </li>

      </ul>


