
<h2 class="fwl mb3">Project List</h2>

  <ul class="list list--navElem list--tableStyle ">

    <p class="ng-hide  text-center  fwl"  
       ng-show="hasNoProjects && !currentPageIsOtherUser(userId)">
        Here you'll find routes you're currently working. 
    </p>

    <h6 ng-show="hasNoProjects && !currentPageIsOtherUser(userId)">Simply set it as a 'project' to add it to this list.</h6>

    <p class="ng-hide  text-center  fwl"  
        ng-show="hasNoProjects && currentPageIsOtherUser(userId)">
        No project here, yet. 
    </p>


      <li class="ptb2"
          ng-repeat="project in projects"
          ng-click="openRouteModal(project)">

          <i class="icon--medium"  ng-class="project.sent ? 'icon-checked' : 'icon-unchecked' ">

          </i>

          <span class="mr2">

              <i class="icon-circle icon--medium"
                  ng-style="{color: project.value}">
              </i>

              {{formatGrade(project.boulder_grade, project.rope_grade, project.lead_grade)}}

          </span>

          <span>
                {{project.wall_name}}
          </span>


      </li>

  </ul>


