
//Accordions
.accordion--plain {
  padding: 0;
  dd > .content.active {
    background-color: transparent; 
     padding: 0;
  }

  dd > a {
    @extend %link--normal; 
    padding: 0;  
    background-color: transparent; 

    &:hover {
      background-color: transparent;
    }
  }
}

.accordion dd.active > a {
  background: transparent; 

}
