


@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}


@keyframes slideOutRight {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}


.ng-enter { 
    animation: slideInRight 0.5s both ease-in; z-index: 8888; 
}

.ng-leave { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
