

/*------------------------------------*\
    #Components
\*------------------------------------*/






/*------------------------------------*\
    #Avatars
\*------------------------------------*/


[class*="avatar"] {
  @include border-radius(100%);
  background-color: $grey--medlight;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}

.avatar--big--nowidth {
    height: rem-calc(100);
}

.avatar--tiny {
  height: rem-calc(30);
  width: rem-calc(30);
}

.avatar--small {
  height: rem-calc(50);
  width: rem-calc(50);
}

.avatar--medium {
  height: rem-calc(70);
  width: rem-calc(70);
}

.avatar--big {
  height: rem-calc(130);
  width: rem-calc(130);
}

.avatar--bigger {
  height: rem-calc(128);
  width: rem-calc(128);
}

.avatar--jumbo {
  min-height: rem-calc(140);
  min-width: rem-calc(140);
}





/*------------------------------------*\
    #Ratings
\*------------------------------------*/


.rating {
  @extend %display--inlineBlock;

  i:before {
    margin-right: rem-calc(3);
  }
}

.rating--small {
  & > * {
    @extend %icon--small;
  }
}

.rating--medium {
  & > * {
    @extend %icon--medium;
  }
}

.rating--big {
  & > * {
    @extend %icon--big;
  }
}

.rating--colored {
  .icon-star:before {
    color: #E9E04A;
  }
}






.route {
  @extend %ptb2;
  text-align: justify;
  @include breakpoint(mama-bear) {
    font-size: rem-calc(14);
  }

  .route-mainInfo {
    @include breakpoint(mama-bear) {
      display: inline-block;
      float: left;
      width: 25%;
    }

    .route-actions {
      @include breakpoint(mama-bear) {
        display: none;
      }
    }
  }
}

//
//Makes Route Always Have  Dropdown to secondary content
//

.route--alwaysPortable {
  .route-mainInfo {
    @include breakpoint(mama-bear) {
      display: inline-block;
      float: left;
      width: 100%;
    }

    .route-actions {
      @include breakpoint(mama-bear) {
        display: inline-block;
      }
    }
  }

  .route-secondaryInfo {
    @include breakpoint(mama-bear) {
      display: none;
    }
  }
}


.route-mainInfo {
  @extend %clearfix;

  //Styles for the elements inside the mainInfo
  & > span {
    display: inline-block;
    vertical-align: middle;
    @extend %mr2;
    &:last-child {
      @extend %mr0;
      float: right;
    }

    @include breakpoint(mama-bear) {
      margin-right: 6%;
    }
  }
}

//
//Visible in Desktop Only
//
.route-secondaryInfo {
  @extend %right;
  display: none;
  width: 75%;

  & > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1%;
    @include breakpoint(mama-bear) {
      margin-right: 3%;

      &:last-child {
        margin-right: 0;
      }

    }
  }

  @include breakpoint(mama-bear) {
    display: inline-block;
    float: right;
  }

  .route-rating {
    .star:before,
    .star--empty:before {
      @extend %mr0;
      @extend %icon--medium;
    }
  }

  .route-actions {
    @extend %right;
  }

}


.route-checkbox {
  @extend %mr0;
}



//
//Route Info On Mobile Only
//

.route-moreInfo {
  padding-left: 0;
  padding-right: 0;
  text-align: left;

  .route-grade,
  .route-rating,
  .route-type {
    @extend %mr2;
    @extend %align-vertically;
  }

  .route-rating {
    .star:before,
    .star--empty:before {
      @extend %mr0;
      @extend %icon--medium;
    }
  }

  .route-moreInfo-link {
    @extend %right;
    margin-top: rem-calc(4);
  }
}



//
//Topos
//

.topo {
  border: 4px solid $grey--medlight;
  min-height: rem-calc(100);
  max-height: rem-calc(140);
  width: 100%;
  overflow: hidden;
  display: table;

  img {
    vertical-align: middle;
    height: auto;
    width: 100%;
  }
}

.zoneMarker {
  fill: $primaryColor;

  &:hover {
    fill: darken($primaryColor, 15%);
  }
}


//
//Wall Object
//

.wall {
  @extend %ptb2;

  @include breakpoint(mama-bear) {
    font-size: rem-calc(14);
  }
}


.wall-mainInfo {
    @extend %clearfix;

  & > span {
    display: inline-block;
    vertical-align: middle;
    @extend %mr2;
    &:last-child {
      @extend %mr0;
      float: right;
    }

    @include breakpoint(mama-bear) {
      margin-right: 6%;
    }
  }

  @include breakpoint(mama-bear) {
    display: inline-block;
    float: left;
    width: 30%;
  }

  .wall-actions {
    @include breakpoint(mama-bear) {
      display: none;
    }
  }
}


//
//Route Info On Mobile Only
//

.wall-moreInfo {
  padding-left: 0;
  padding-right: 0;
  text-align: left;

  .wall-grade,
  .wall-rating,
  .wall-totalRoutes {
    @extend %mr3;
    @extend %align-vertically;
  }

  .wall-rating {
    .star:before,
    .star--empty:before {
      @extend %mr0;
      @extend %icon--medium;
    }
  }

  .wall-moreInfo-link {
    @extend %right;
    margin-top: rem-calc(4);
  }
}



//
//Visible in Desktop Only
//

.wall-secondaryInfo {
  @extend %right;
  display: none;
  width: 70%;

  & > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1%;
    @include breakpoint(mama-bear) {
      margin-left: 7%;

      &:last-child {
        margin-right: 0;
      }

    }
  }

  @include breakpoint(mama-bear) {
  display: inline-block;
  float: right;
  }

  .wall-rating {
    .star:before,
    .star--empty:before {
      @extend %mr0;
      @extend %icon--medium;
    }
  }

  .wall-actions {
    @extend %right;
  }

}


//
//Gym Page Header Object
//

.gymDashHeader-content {
  .title {
    @extend %display--inline;
    width: rem-calc(166);
  }
}



//
//Setter Profile
//

.setter-profile-avatar {
  @include border-radius(100%);
  overflow: hidden;
  height: 100px;
  width: 100px;

  .avatar-image {
    vertical-align: top;

  }
}


//
//Gym Uploaded Image Object
//

.gymImageContainer {
  border: 1px solid $grey--medlight;
  background-color: $grey--light;
  min-height: rem-calc(120);
  width: 100%;
}


//
//Editable Information on Click Object
//


//
//Log In / Sign Up Form
//

.logInForm-container {
  @extend %placement--center;
  max-width: rem-calc(380);
  display: block;
}

//
//Header
//

.header {
  @include grid-column(12);
  @extend %mt4;
  @extend %mb2;
  @extend %clearfix;
  
  .header-divider {
    @extend %mt2;
    @extend %display--block;
    @extend %left;
    width: 100%;
  }
}

.splash-message {
    @media #{$large-up} {
        margin-top: 15%; 
    }
}


