
/*------------------------------------*\
    #Modals
\*------------------------------------*/



.reveal-modal {
      @media #{$small-up} {
    top: rem-calc(30);
  }

  @media #{$medium-up} {
    top: rem-calc(120); 
  }
}


.reveal-modal,
.reveal-modal-bg {
  @media #{$medium-up} {
    position: fixed; 
  }
}



.offCanvasModal {
    @extend %dropshadow--middleLayer; 
    @extend %transitionForOffCanvas;
    @include translateX(100vw);
    position: fixed;
    width: 90%; /* Default */
    top: 0;
    padding-top: rem-calc(80); 
    background-color: #fff;
    // box-shadow: 4px 4px 80px #000;
    z-index: 5; 
    height: 100%; 
    overflow-y: scroll; 

    @media #{$medium-up} {
        width: 50%;     }

}

.offCanvasModal.showing {
    @include translateX(0);
    right: 0;
}

.offCanvasModal--right.showing {
    // right: 0px;
    // top: 0px;
}

.offCanvasModal--right {
    // right: -999px; 
}

.offCanvasModal-overlay {
  /* The area that is clickable to close the modal */
    position:absolute;
    z-index:3;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000;
    display: none; 

    @media #{$medium-up} {
        display: none; 
    }

}