
/*------------------------------------*\
    #Modals
\*------------------------------------*/



.reveal-modal {
      @media #{$small-up} {
    top: rem-calc(30);
  }

  @media #{$medium-up} {
    top: rem-calc(120); 
  }
}


.reveal-modal,
.reveal-modal-bg {
  @media #{$medium-up} {
    position: fixed; 
  }
}