
/*------------------------------------*\
    #Modals
\*------------------------------------*/



.reveal-modal {
      @media #{$small-up} {
    top: rem-calc(20);
  }

  @media #{$medium-up} {
    top: rem-calc(40); 
  }
}


// .reveal-modal,
// .reveal-modal-bg {
//   @media #{$medium-up} {
//     position: fixed; 
//   }
// }



.offCanvasModal {
    @extend %dropshadow--topLayer; 
    @extend %transitionForOffCanvas;
    @extend %pt4;
    @include translateX(100vw);
    position: fixed;
    width: 90%; /* Default */
    top: 0;
    background-color: #fff;
    z-index: 5; 
    height: 100%; 
    overflow-y: scroll; 
    margin-top: rem-calc(50); /*Height of top-bar on small/medium*/

    @media #{$medium-up} {
        width: 50%;     
    }

    @media #{$large-up} {
        margin-top: rem-calc(60); /*Height of top-bar on large*/
        width: 44%; 
    }
}

.offCanvasModal-container.right {
    
    .offCanvasModal {
        @include translateX(100vw);   
        right: 0; 
        &.showing {
        
        @include translateX(0);
        right: 0;

        }   

    }

}

.offCanvasModal--left {
    @include translateX(-100vw); 

    &.showing{
        @include translateX(0);
        left: 0;
    }
}

// .offCanvasModal.showing {
//     @include translateX(0);
//     right: 0; 
// }

// .offCanvasModal--right.showing {
//     // right: 0px;
//     // top: 0px;
// }

// .offCanvasModal--right {
//     // right: -999px; 
// }




.offCanvasModal-overlay {
  /* The area that is clickable to close the modal */
    position:absolute;
    z-index:3;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.4;
    display: none; 
    
    @media #{$medium-up} {
        display: none; 
    }

}