
/*------------------------------------*\
    #Panels
\*------------------------------------*/


.panel.warning, 
.panel.success {
    .title,
    .icon {
      color: #FFF;  
  }
}

.panel.warning {
  background-color: $warning; 
}

.panel.success {
  background-color: $success; 
}

