
/*------------------------------------*\
    #Placeholders
\*------------------------------------*/


.placeholder--graph {
    opacity: .4; 
}


.placeholder-text { 

    width: 80%;
    padding-right: rem-calc(5);
    padding-left: rem-calc(5); 
  height: 50%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 40; 
  background-color: #fff; 
  @extend %dropshadow; 
  @extend %radius--boxes; 

}

