
/*------------------------------------*\
    #PopUps
\*------------------------------------*/


.popUp {
  @extend %radius--boxes; 
  @extend %width100; 
  @extend %dropshadow; 
  @include reveal-modal-base(
    // Provides reveal base styles, can be set to false to override.
    $base-style:true
  );

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fff;
  padding-bottom: rem-calc(12);
  padding-left: rem-calc(12);
  padding-right: rem-calc(12);
  overflow: hidden; 
  top: 50%; 
  
  .popUp-title {
    @extend %text-center; 
    @extend %placement--center; 
    @extend %fwb; 
    color: #fff; 
    margin-left: rem-calc(-12);
    margin-right: rem-calc(-12);
    padding-top: rem-calc(8);
    padding-bottom: rem-calc(8);
  }
  
  @include breakpoint(onlyMobile) {
    left: 50%; 
    min-height: 20vh; 
    margin-left: -45%;
    width: 90%; 
  }
}


.popUp--primary {
  border: 1px solid $primaryColor;

  .popUp-title {
    background-color: $primaryColor;
  }
}

.popUp--secondary {
  border: 1px solid $yellow; 
  .popUp-title {
    background-color: $yellow; 
  }
}

.popUp--warning {
  border: 1px solid $warning; 

  .popUp-title {
    background-color: $warning;
  }
}

.popUp--small {
  @include breakpoint(teen-bear) {
    margin-left: -20%; 
    width: 40%; 
  }
}

.popUp--medium {
  @include breakpoint(teen-bear) {
    margin-left: -30%; 
    width: 60%; 
  }
}

.popUp-closeLink { 

  @include icon($icon--cancelCircle) {
    margin-right: 0; 
  }
  
  color: $grey--light; 
  position: absolute;
  right: rem-calc(24);


  &:hover {
    color: #fff; 
  }

}



