
<div class="row">
  <div class="col-md-6">
    <div class="panel top">
      <h2>Discussion Boards</h2>
      <div class="flag"> <img src="assets/images/me.jpeg"/>
        <div class="text">Anyone want to climb tonight? some other stuff. blah blah blah blah</div>
        <div class="date">Feb 6th, 2016</div>
        <hr/>
      </div>
      <div class="flag"> <img src="assets/images/me.jpeg"/>
        <div class="text">Anyone want to climb tonight?</div>
        <div class="date">Feb 6th, 2016</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel top">
      <h2>Gear Board</h2>
      <hr/>
      <div class="flag"> <img src="assets/images/me.jpeg"/>
        <div class="text">Looking to sell a size 10 US male La Sportiva Solution for $80 OBO.  Contact me at 444-444-4444</div>
        <div class="date">Feb 6th, 2016</div>
        <hr/>
      </div>
    </div>
  </div>
</div>