
<div class="row">
  <div class="col-md-6">
    <div class="panel top">
      <h2>Notification Board</h2>
      <notifications-blank-state ng-if="!discussions.length" discussions="discussions"></notifications-blank-state>
      <notifications ng-if="discussions.length" discussions="discussions"></notifications>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel top">
      <h2>Gear Board</h2>
      <gears-blank-state ng-if="!gears.length" gears="gears"></gears-blank-state>
      <gears ng-if="gears.length" gears="gears"></gears>
    </div>
  </div>
</div>