<!-- Header -->
<section class="row">

    <div class="header">

        <div class="clearfix  display--block">

            <button ng-hide="isGymAccount()"
                    class="[ btn--secondary btn--medium left  ] icon-left-big  left "
                    ng-click="navigateToGym(gymId)" >
                    Gym
            </button>

        </div>

        <h1 ng-show="isGymAccount()" class="fwb">
            <img src="images/icon--drill--black.svg" alt="" height="30px" width="30px">  Manage Zones
        </h1>

        <h1 ng-hide="isGymAccount()" class="fwb">
            Gym Zones
        </h1>

        <hr class="header-divider  hide-for-small-only">

    </div>

</section>


    <div class="media--fl" ng-show="isGymAccount() && hasWalls()">
        <button type="submit"
                    alt="Add New Zone"
                    class="btn--primary icon-plus btn--medium "
                    ng-click="addClicked()">
            Add Zone
        </button>

        <div>
            <input type="text"
                    name="name"
                    id="wallName"
                    placeholder="New zone Name"
                    ng-model="form.wallName"/>
        </div>
    </div>
