.row
  .col-md-6
    .panel.top
      h2 Gym Info
      p This gym is awesome
      h3 Address
      h3 Phone Number
      h3 Fax
      h3 Web Site
      h3 Hours of Operation
      
  .col-md-6
    .panel.top
      h2 Location
