
<div class="panel">
  <ul>
    <li ui-sref="gyms.news({gymId: gymId})"><i class="fa fa-newspaper-o"></i>News</li>
    <li ui-sref="gyms.zones({gymId: gymId})"><i class="fa fa-map-o"></i>Zones</li>
    <li><i class="fa fa-search"></i>Routes</li>
    <li ui-sref="gyms.community({gymId: gymId})"><i class="fa fa-commenting-o"></i>Community</li>
    <li ui-sref="gyms.members({gymId: gymId})"><i class="fa fa-users"></i>Members</li>
    <li ui-sref="gyms.analytics({gymId: gymId})"><i class="fa fa-bar-chart"></i>Analytics</li>
    <li><i class="fa fa-info"></i>Info</li>
  </ul>
</div>