.panel.top
  h2 {{zone.name}}
  
  .add
    button(
      ng-click="openEditRoutePanel()"
    ) Add Route
  
  .route(
    ng-repeat="route in routes"
    ng-click="openRoutePanel(route)"
  )
    {{route.name}}
