.row
  .col-md-6
    .panel.top
      h2 Discussion Boards
      .flag 
        img(
          src="assets/images/me.jpeg"
        )
        .text Anyone want to climb tonight? some other stuff. blah blah blah blah
        .date Feb 6th, 2016
        hr
        
      .flag 
        img(
          src="assets/images/me.jpeg"
        )
        .text Anyone want to climb tonight?
        .date Feb 6th, 2016
      
  .col-md-6
    .panel.top
      h2 Gear Board
      hr
      .flag 
        img(
          src="assets/images/me.jpeg"
        )
        .text Looking to sell a size 10 US male La Sportiva Solution for $80 OBO.  Contact me at 444-444-4444
        .date Feb 6th, 2016
        hr
