
<!-- User - Blank state for no routes available --> 
<div class="relative" ng-show="!hasRatedLead() && getAccountId() !== gymId">

    <div class="[ placeholder-text  large ]  text-center">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
                Oh no! There are no rated routes available yet. 
            </h2>

            <p>
                Either this gym hasn't set any routes or climbers haven't rated them.
            </p>

        </div>

    </div>

    <img class="placeholderImage" src="images/placeholder--bestLead.jpg" alt="placeholder list"
         height="305"  width="553"> 
</div> 

<!-- Gym - Blank state for no routes available --> 
<div class="relative" ng-show="!hasRatedLead() && getAccountId() == gymId">

    <div class="[ placeholder-text  large  ]  text-center">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
                Oops! These aren't the best lead routes at your gym.  
            </h2>

            <p>
                Climbers at your gym haven't rated any yet. Let them know you are on Setter and <span class="fwb">start getting feedback!</span>
            </p>

        </div>

    </div>

    <img class="placeholderImage" src="images/placeholder--bestLead.jpg" alt="placeholder list"
         height="305"  width="553"> 
</div> 

<table ng-show="hasRatedLead()"
       class="[ small-12 columns ]  table--unStyled table--list table--clickableElem">

    <tbody>
        <tr bindonce
            ng-repeat="route in bestRatedLead"
            class="list--tableStyle  list--navElem"
            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <!-- Grade -->
            <td bo-text="route.rope_grade || UNRATED_STRING"></td>


            <!-- Color -->
            <td>
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <!-- Zone -->
            <td bo-text="route.zone_name"></td>


            <!-- Rating -->
            <td>
                <ng-include class="rating  rating--medium  rating--colored"
                            ng-controller="StarRatingController"
                            src=" 'templates/StarRating.tpl.html' ">
                </ng-include>
            </td>

            <!--Date Set-->
            <td class="show-for-medium-up">
                <span class="txt--micro">Set on <br>
                </span>
                {{route.date_format}}
            </td>

            <td >
                <div class="icon-right-big right">

                </div>
            </td>

        </tr>
    </tbody>
</table>
