<table class="[ small-12 columns ]  table--unStyled table--list table--clickableElem">


    <tbody>
        <tr bindonce
            ng-repeat="route in bestRatedBoulder"
            class="list--tableStyle  list--navElem"
            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <!-- Grade -->
            <td bo-text="route.boulder_grade || UNRATED_STRING"></td>


            <!-- Color -->
            <td>
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <!-- Zone -->
            <td bo-text="route.zone_name"></td>

            <!-- Rating -->
            <td>
                <ng-include class="rating  rating--medium  rating--colored"
                            
                            ng-controller="StarRatingController"
                            src=" 'templates/StarRating.tpl.html' ">
                </ng-include>
            </td>

            <td >
                <div class="icon-right-big right">
                    
                </div>
            </td>

        </tr>

    </tbody>

</table>
