<div blank-state-place-holder="bestTopRopeBlankState.user"></div>
<div blank-state-place-holder="bestTopRopeBlankState.gym"></div>

<table class="[ small-12 columns ]  table--unStyled table--list table--clickableElem">

    <tbody>

        <tr bindonce
            ng-repeat="route in bestTopRope"
            class="list--tableStyle  list--navElem"
            ng-click="openRouteModal(route)"
            ng-include
            src=" 'templates/gym/panels/activity/sections/BestRatedRoutes.tpl.html' ">
        </tr>

    </tbody>

</table>
