
<div class="small-12 columns">

    <h2 class="fwl">

        Latest Comments

    </h2>

</div>

<div  ng-show="projects.length > 0">

  <div bindonce ng-repeat="comment in comments | limitTo:4"
       class="small-12  medium-6  columns  mb3">

        <div class="flag  mb1">

            <div class="flag-image pr1">
                <img  class="avatar avatar--tiny"  ng-src="{{getUserImageSrc(comment)}}">
            </div>

            <div class="flag-body">

                <a class="fwb" ng-click="navigateToUser(comment.account_id)">
                    {{comment.name}}
                </a>

                <small class="display--block right">
                {{comment.date | date : 'MMM dd, yyyy' }}
                </small>


            </div>

        </div>

        <p class="mb0">
            {{comment.message}}
        </p>
        

        <div ng-click="openRouteModal(comment)">
        
            <i class="icon-circle icon--medium" bo-style="{color: comment.value}">
            </i>
        
            <span class="fwb" bo-text="formatGrade(comment.bg, comment.rg, comment.lg)">
                

            </span>
        
            on {{comment.zone}}

        </div>

    </div>

</div>
