
<div class="small-12 columns">
    <h2 class="fwl">

        Latest Sends

    </h2>
</div>

<table class=" [ small-12  columns ] [  table--unStyled  table--list table--clickableElem ]">

    <tbody ng-show="hasActivity()">

        <tr
            bindonce
            ng-repeat="act in activity"
            ng-click="openRouteModal(act)"
            data-equalizer-watch>

            <td>

                <i class="icon-circle icon--medium"
                    bo-style="{color: act.value}">
                </i>

                {{formatGrade(act.bg, act.rg, act.lg)}}
            </td>

            <td>

              <img class="avatar avatar--tiny "
                  ng-click="navigateToUser(act.id)"
                  bo-src="getUserImageSrc(act)">

              <a class="title mr2 display--inlineBlock"
                  ng-click="navigateToUser(act.id)">
                  {{act.name}}
              </a>

            </td>

            <td>

                <span class="txt--micro">
                    Sent on
                </span>

                <span class="display--block">
                    {{act.date | date : 'MMM dd, yyyy'}}
                </span>

            </td>

            <td>
                <span class="icon-right-big  right">

                </span>
            </td>

        </tr>

    </tbody>

</table>
