
<h2 class="text-center"
    ng-show="!hasLead() && getAccountId() !== gymId">

    This gym has no lead routes set!
    <br><br>
    Please ask them to update their information!

</h2>

<div class="relative" ng-show="!hasBoulder() && getAccountId() == gymId">

    <div class="[ placeholder-text  large  ]  text-center"
         ng-click="navigateToWalls(gymId)">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
            These aren't your newest lead routes. 
            </h2>

            <p>
                Currently there are no lead routes, but you may set new ones on the
                <a prevent-default class="fwb">Manage Zones page</a>.
            </p>

        </div>

    </div>

    <img class="placeholder--graph" src="images/placeholder--newestLead.jpg" alt="placeholder list"> 
</div> 


<table ng-show="hasLead()"
       class=" [ small-12 columns ] table--unStyled table--list table--clickableElem">

    <tbody>
        <tr bindonce
            ng-repeat="route in newestLead"
            class="list--tableStyle  list--navElem"
            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <!-- Grade -->
            <td bo-text="route.rope_grade || UNRATED_STRING"></td>


            <!-- Color -->
            <td>
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <!-- Zone -->
            <td bo-text="route.zone_name">

            </td>


            <!--Date Set-->
            <td >
                <span class="txt--micro">Set on <br>
                </span>
                {{route.date_format}}
            </td>

            <td>
                <div class="icon-right-big right">

                </div>
            </td>

        </tr>
    </tbody>
</table>
