

<table class=" [ small-12 columns ] table--unStyled table--list table--clickableElem">

    <tbody>
        <tr bindonce
            ng-repeat="route in newestLead"
            class="list--tableStyle  list--navElem"
            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <!-- Grade -->
            <td bo-text="route.rope_grade || UNRATED_STRING"></td>


            <!-- Zone -->
            <td bo-text="route.zone_name">

            </td>

            <!-- Color -->
            <td>
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <!--Date Set-->
            <td >
                <span class="txt--micro">Set on <br>
                </span>
                Jan 25th, 14
            </td>

            <td >
                <div class="icon-right-big right">

                </div>
            </td>

        </tr>
    </tbody>
</table>
