
<div class="relative" ng-show="!hasTopRope() && getAccountId() !== gymId">

    <div class="[ placeholder-text  large  ] text-center">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
               Bummer, this gym has no Top Rope routes. 
            </h2>

            <p>
                If you'd like to climb some, let them know over at their 
                <a prevent-default 
                   ng-click="navigateToGymSuggestions(gymId)" class="fwb">Suggestions Board</a>.
            </p>


        </div>

    </div>

    <img class="placeholder--graph" src="images/placeholder--newestTopRope.jpg" alt="placeholder list">

</div> 


<div class="relative" ng-show="!hasTopRope() && getAccountId() == gymId">

    <div class="[ placeholder-text  large  ] text-center"
         ng-click="navigateToWalls(gymId)">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
                These aren't your newest top rope routes. 
            </h2>

            <p>
                Currently you have no top rope routes, but you may set new ones on the
                <a prevent-default class="fwb">Manage Zones page</a>.
            </p>

        </div>

    </div>

    <img class="placeholder--graph" src="images/placeholder--newestTopRope.jpg" alt="placeholder list"> 

</div> 


<table ng-show="hasTopRope()"
       class=" [ small-12 columns ] table--unStyled table--list table--clickableElem">

    <tbody>

        <tr bindonce
            ng-repeat="route in newestTopRope"

            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <!-- Grade -->
            <td  bo-text="route.rope_grade || UNRATED_STRING"></td>

            <!-- Color -->
            <td >
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <!-- Zone -->
            <td  bo-text="route.zone_name">

            </td>

            <!--Date Set-->
            <td >
                <span class="txt--micro">Set on <br>
                </span>
                {{route.date_format}}
            </td>

            <td >
                <div class="icon-right-big right">

                </div>
            </td>

        </tr>

    </tbody>

</table>
