<div blank-state-place-holder="blankStateModels.newest.toprope.user"></div>
<div blank-state-place-holder="blankStateModels.newest.toprope.gym"></div>

<table ng-show="hasTopRope()"
       class=" [ small-12 columns ] table--unStyled table--list table--clickableElem">

    <tbody>

        <tr bindonce
            ng-repeat="route in newestTopRope"

            ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">

            <td  bo-text="route.rope_grade || UNRATED_STRING"></td>

            <td >
                <i class="icon-circle"
                ng-style="{color: route.value}"> </i>
            </td>

            <td  bo-text="route.zone_name">

            </td>

            <td >
                <span class="txt--micro">Set on <br>
                </span>
                {{route.date_format}}
            </td>

            <td >
                <div class="icon-right-big right">

                </div>
            </td>

        </tr>

    </tbody>

</table>
