<!-- H - Header -->
<section class="row ">

        <div class="header">

            <h1  class="fwb">
                Settings
            </h1>

            <hr class="header-divider  hide-for-small-only">

        </div>

</section>



<section class="row" ng-show="isGymAccount()">

    <div class="small-12 small-centered large-6 large-uncentered columns">


        <div class="fieldwrapper  pb5">

            <h2 class="fwl">Gym Privacy Settings</h2>

            <input id="privacy-setters"
                   type="checkbox"
                   ng-model="settings.hide_setters"
                   ng-change="updateSettings()">
            </input>

            <label for="privacy-setters" class="h5">Prevent users from seeing setters on routes</label>
        </div>

        <div class="fieldwrapper  pb5">

            <h2 class="fwl">Facebook URL</h2>

            <input
                   type="input"
                   ng-model="settings.facebook"
                   placeholder="e.g. https://www.facebook.com/yourpage/"
                   style="width: 400px; padding: 10px; margin-bottom: 20px;">
            </input>

            <button class="[ btn--secondary  btn--medium  btn--expanded ] center"
                    ng-click="updateSettings()">
                Save
            </button>
        </div>

    </div>

</section>

<!-- S - New Password -->
<section class="row">

  <div class="small-12 small-centered large-6 large-uncentered columns">
    <h2 class="fwl">Password Settings</h2>

    <div class="fieldwrapper">
      <!-- I - Password -->
      <label class="fwb label--block">
        Create New Password
      </label>
      <input ng-model="form.password"
             type="password"
             placeholder="new password"
             autocorrect="off"
             autocapitalize="off">
      </input>

      <!-- S - Repeat Password -->
      <!-- I - Repeat Password -->
      <input ng-model="form.repeat"
             type="password"
             placeholder="repeat new password"
             autocorrect="off"
             autocapitalize="off">
      </input>

    </div>

      <!-- S - Change Password -->

      <!-- [] - Change Password -->
      <button class="[ btn--secondary  btn--medium  btn--expanded ] center"
              ng-click="changePassword()">
          Change Password
      </button>

    </div>

</section>
