<script id="template_gym_account_settings" type="text/x-jQuery-tmpl">
<div class="row full-height" data-ui-component="accountSettings">
    <div class="header">
        <div class="left">
            <h1 class="fwb mb0 display--block">Gym Account</h1>
            <h1 class="fwl txtc2 display--block">Aiguille Rock Climbing Center</h1>
        </div>
        <div class="right">   
            <button class="btn--primary btn--medium right" data-action="showGymProfile">
                Gym Preview
            </button>
        </div>
        <hr class="header-divider">
    </div>

    <form method="POST" id="settings-form">
        <div class="gridRow--100">
            <h2 class="txtc2 fwl">Basic Gym Info</h2>
            <div class="row">
                <div class="gridRow--50">
                    <h3>Description</h3>
                    <div class="fieldWrapper" data-action="showGymProfile">
                        <textarea type="text" id="gymDescription" class="textarea--small"  maxlength="300" placeholder="Say a bit about your gym!"></textarea>
                        <button class="btn--tetriary btn--small right" type="submit">Update</button>
                    </div>

                    <h3>Address</h3>
                    <div class="fieldWrapper">
                        <div class="media--fl">
                            <div>
                                <label for="gymAddress" rel="address" class="icon--label inline"></label>
                            </div>
                            <div><input type="text" id="gymAddress" placeholder="Street address, City, and State" required/></div>
                        </div>
                        <button class="btn--tetriary btn--small right" type="submit">Update</button>
                    </div>

                    <!--Gyms Hours of Operation-->
                    <h3>Hours of Operation</h3>
                    <ul class="fieldWrapper" data-ui-component="gymHoursOfOperation">
                        <li>
                            <a href="#" class="icon--delete" data-ui-action="deleteHour"></a>
                            <strong role="dateRange">Monday-Thursday</strong> 10:00am - 10:00pm
                        </li>
                        <li>
                            <a href="#" class="icon--delete" data-ui-action="deleteHour"></a>
                            <strong role="dateRange">Friday</strong>
                            10:00am - 10:00pm 
                        </li>
                        <li>
                            <a href="#" class="icon--delete" data-ui-action="deleteHour"></a>
                            <strong role="dateRange">Saturday</strong>
                            Sat 10:00am - 10:00pm 
                        </li>
                        <li>
                            <a href="#" class="icon--delete" data-ui-action="deleteHour"></a>
                            <strong role="dateRange">Sunday</strong>
                            Sun 10:00am - 10:00pm 
                        </li>
                        <li>
                            <a href="#" class="right">+ Add Hours</a>
                        </li>
                    </ul>
                </div>
                <div class="gridRow--50">

                    <!--Gym Logo Uploader-->
                    <h3>Upload Your Gym Logo </h3>
                    <div class="fieldWrapper mb4">
                        <div class="media--fl">
                            <div class="img-overlay">
                                div with IMG as background goes here
                            </div>
                            <div>
                                <p class="txtc2 ml3">Image should be at least 500px X 500px</p>
                                <button class="btn--tetriary btn--small left ml3 " type="submit">Upload Logo</button>
                            </div>
                        </div>
                    </div>
                    <!--End Gym Logo Uploader-->

                    <!--Gym Contact Info-->
                    <h3 >Gym Contact Information</h3>
                    <div class="fieldWrapper">
                        <div  class="media--fl">
                            <div>
                                <label for="gymPhone" rel="tel" class="icon--label inline"></label>
                            </div>
                            <div>
                                <input  id="gymPhone" type="tel"  value="407-351-5581" placeholder="i.e. 111-111-1111" required/>
                            </div>
                        </div>
                        <div class="media--fl">
                            <div>
                                <label for="gymEmail" rel="email" class="icon--label inline " ></label>
                            </div>
                            <div>
                                <input  id="gymEmail" type="email" value="aiguille@gmail.com" required placeholder="i.e. yourgymsemail@mail.com"/>
                            </div>
                        </div>
                        <button class="btn--tetriary btn--small right" >Update
                        </button>
                    </div>
                    <!--End Contact info-->
                </div>

            </div>

            <div class="row">
                <!--Gym Social Media-->
                <div class="gridRow--100">
                    <h2 class="fwl txtc2">Online Presence</h2>
                    <div class="fieldWrapper">
                        <div class="media--fl">
                            <div>
                                <label for="gymWebsite" rel="website-link" class="icon--label inline"></label>
                            </div>
                            <div>
                                <input  id="gymWebsite" type="text" value="gymwebsite.com"/>
                            </div>
                        </div>
                        <div class="media--fl">
                            <div>
                                <label for="gymTwitter" rel="twitter-link" class="icon--label inline"></label>
                            </div>
                            <div>
                                <input rel="gymTwitter" type="text" value="twitter.com/gymtwitter"/>
                            </div>
                        </div>
                        <div class="media--fl">
                            <div>
                                <label for="gymFacebook" rel="facebook-link" class="icon--label inline"></label>
                            </div>
                            <div>
                                <input rel="gymFacebook" type="text" value="twitter.com/gymtwitter"/>
                            </div>
                        </div>
                        <button class="btn--tetriary btn--small right" type="submit">Update</button>
                    </div>
                </div>
                <!--End Social Media-->
            </div>

            <!--Account Settings--> 
            <h2 class="fwl txtc2">Account Settings</h2>
            <div class="row"> 
                <div class="gridRow--50">
                    <h3>Available Climbing at Gym</h3>
                    <ul class="list--noStyles">
                        <!--Availability of Bouldering-->
                        <li class="alignContentsVertically">
                            <label for="boulderingAvail" class="inline">Bouldering</label>
                            <div class="switch right">
                                <input id="boulderingAvail" name="boulderingAvail" type="checkbox" checked>
                                <label for="boulderingAvail" onclick="">Off</label>
                            </div>
                        </li>
                        <!--Availability of Top Rope-->
                        <li class="alignContentsVertically">
                            <label for="topRopeAvail" class="inline">Top Rope</label>
                            <div class="switch right">
                                <input id="topRopeAvail" name="topRopeAvail" type="checkbox" checked>
                                <label for="topRopeAvail" onclick="">Off</label>
                            </div>
                        </li>
                        <!--Availability of Lead Climbing-->
                        <li class="alignContentsVertically">
                            <label for="leadAvail" class="inline">Lead</label>
                            <div class="switch right">
                                <input id="leadAvail" name="leadAvail" type="checkbox" checked>
                                <label for="leadAvail" onclick="">Off</label>
                            </div>
                        </li>
                    </ul>
                    <h3>Grade Display Settings</h3>
                    <ul class="list--noStyles">
                        <!--Type of Bouldering Grade System-->
                        <li>
                            <label for="boulderingGradeSystem" class="inline left">Bouldering</label>
                            <select id="boulderingGradeSystem">
                                <option value="">V1, V2, V3 (Hueco)</option>
                                <option value="">B1, B2, B4 (UK)</option>
                                <option value="">B1, B2, B4 (Font.)</option>
                            </select>
                        </li>
                        <!--Type of Top Rope Grade System-->
                        <li>
                            <label for="ropeGradeSystem" class="inline left">Rope Routes</label>
                            <select id="ropeGradeSystem">
                                <option value="5.2">5.15 (YDS)</option>
                                <option value="5.2">5.15 (YDS)</option>
                                <option value="5.2">5.15 (YDS)</option>
                            </select>
                        </li>
                        <button class="btn--tetriary btn--small right" type="submit">Update</button>
                    </ul>
                </div>
                <!--Begin Interface Preferences--> 
                <div class="gridRow--50">
                    <h3>Interface Preferences</h3>
                    <ul class="list--noStyles">
                        <!--Availability of Bouldering-->
                        <li class="alignContentsVertically">
                            <label for="settersVisibility" class="inline">Publicly Show Setters on Routes</label>
                            <div class="switch right">
                                <input id="settersVisibility" name="settersVisibility" type="checkbox" checked>
                                <label for="settersVisibility" onclick="">Off</label>
                            </div>
                        </li>
                        <!--Availability of Top Rope-->
                        <li class="alignContentsVertically">
                            <label for="allowPms" class="inline">Allow Private Messages to Gym</label>
                            <div class="switch right">
                                <input id="allowPms" name="allowPms" type="checkbox" checked>
                                <label for="allowPms" onclick="">Off</label>
                            </div>
                        </li>
                        <!--Availability of Lead Climbing-->
                        <li class="alignContentsVertically">
                            <label for="allowNotifications" class="inline">Allow Notifications</label>
                            <div class="switch right">
                                <input id="allowNotifications" name="allowNotifications" type="checkbox" checked>
                                <label for="allowNotifications" onclick="">Off</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End Interface preferences-->
            </div>
        </div>
    </form>
</div>
</script>