<div
    ng-show="model.show()"
    class="relative">
    <div class="[ placeholder-text  large  ] text-center">

        <div class="vertical-align">

            <h2 class="h4 fwb mb2">
                {{model.content.title}}
            </h2>

            <p>
                {{model.content.text}}
                <br>
                <a prevent-default
                    ng-click="model.click()"
                    class="fwb">
                    {{model.content.link_text}}
                </a>
            </p>

        </div>

    </div>

    <img class="placeholderImage"
         ng-src="{{model.image}}">
</div>
