
<section class="row">

    <div class="header" ng-hide="getAccountId() === gymId">

        <div class="clearfix">
            <button class="[ btn--secondary btn--medium left ] icon-left-big"
                ng-click="back()" >
                Back
            </button>
        </div>

        <h1> Contact Us</h1>

        <hr class="header-divider  hide-for-small-only">

    </div>

</section>



<section class="row">
    <div class="small-12 large-7  columns" style="font-size: 20px;">

        <div class="mb4">
            Feel free to send us an email at <strong><a href="mailto:setterapp@gmail.com">setterapp@gmail.com</a></strong><br> or send us a message below!
        </div>

        <div class="mb" ng-show="thanks && !error">
            <span class="yellow">Thank you</span> for your message!
        </div>

        <div class="mb" ng-show="error" class="red">
            There was an error posting your message =(
        </div>

        <div ng-hide="thanks">
            <input ng-model="form.name"
                placeholder="email or name"
                autocorrect="off"
                autocapitalize="off"
                type="text">
            </input>

            <textarea class="textarea--small" ng-model="form.message"
                placeholder="What's on your mind?"
                class="contact">
            </textarea>

            <button class=" [ btn--primary  btn--medium btn--expanded ]  icon-plus-squared"
                    ng-click='send()'>
                Send Message
            </button>
        </div>
    </div>
</section>
