
<div class="created-modal reveal-modal small  text-center"
     data-reveal
     style="border-radius: 30px;">

    <h1 class="h2">
        Route Added!
    </h1>

</div>

<!--
    CONTENT
-->
<section class="row ">

    <div class="small-12 columns">

        <div class="row" >

            <div class="small-12 columns" >

                <div class="right ng-hide"
                     ng-show="isGymAccount()"
                     data-ui-component="route-actions">

                    <button class="[ btn--secondary  btn--small ]"
                            ng-click="cancelClicked()"
                            ng-show="isEditMode">
                        Cancel
                    </button>

                    <button class="btn--secondary btn--small icon-down-big "
                            ng-click="strip()"
                            ng-show="isEditMode">
                        Strip Route
                    </button>

                     <span class=" right h2 icon-cancel" ng-click="closeRouteModal()">

                    </span>

                </div>

                <div class="right ng-hide" ng-show="isUserAccount()">

                     <span class=" right h2 icon-cancel" ng-click="closeRouteModal()">

                    </span>

                </div>

            </div>

        </div>

        <hr>

    </div>

</section>






<section class="row" data-ui-component="route-editInformation">

    <div class="small-12 columns">

        <div class="fieldwrapper">

            <h1 class="h3  fwb" ng-hide="isEditMode">
                <img src="images/icon--drill--black.svg" alt="" class="mr2">
                Set Route
            </h1>

            <h1 class="h3  fwb" ng-show="isEditMode"
                class="fwb icon-pencil">
                Editing Route
            </h1>

            <div class="flag  mb1">
                <h3 class="h4  flag-image">Zone</h3>

                <div class="flag-body">
                    <label class="[ select--medium select--secondary ] right">
                        <select ng-model="form.zone"
                                ng-options="zone.name for zone in zones">
                        </select>
                    </label>
                </div>
            </div>

            <div class="flag  mb1">
                <h3 class="h4  flag-image">Type</h3>

                <div class="flag-body">
                    <label class="[ select--medium select--secondary ] right">
                        <select ng-model="form.type"
                                ng-options="type.name for type in types">
                        </select>
                    </label>
                </div>
            </div>

            <div class="flag  mb1">
                <h3 class="h4  flag-image">Grade</h3>

                <div class="flag-body">
                    <label class="[ select--medium select--secondary ] right"
                           ng-show="form.type.name === 'Boulder'">
                        <select name="boulderGrades"
                                id="routeGrade"
                                ng-model="form.boulderGrade"
                                ng-options="grade.name for grade in boulderGrades">
                        </select>
                    </label>

                    <label class="[ select--medium select--secondary ] right"
                           ng-show="form.type.name === 'Top Rope'">
                        <select name="topRopeGrades"
                                id="topRouteGrade"
                                ng-model="form.topRopeGrade"
                                ng-options="grade.name for grade in ropeGrades">
                        </select>
                    </label>

                    <label class="[ select--medium select--secondary ] right"
                           ng-show="form.type.name === 'Lead'">
                        <select name="leadGrades"
                                id="leadGrade"
                                ng-model="form.leadGrade"
                                ng-options="grade.name for grade in ropeGrades">
                        </select>

                    </label>

                </div>

            </div>

            <div class="flag  mb2">

                <h3 class="flag-image">Color</h3>

               <div class="flag-body">

                    <ul class="mb0 list--inline text-right">

                        <li ng-repeat="color in colors">

                          <label style="background-color: {{ color.value}}"

                                class="route-color  mr0"
                                ng-click="selectColor(color.id)"
                                ng-class="{'selected': color.id === selectedColorId}">
                          </label>

                        </li>

                    </ul>

               </div>

            </div>


            <div class="flag  mb1">

                <h3 class="h4  flag-image">Setter</h3>

                <div class="flag-body">

                    <label class="[ select--medium select--secondary ] right">

                        <select name="ropeGrades"
                                id="routeGrade"
                                ng-model="form.setter"
                                ng-options="setter.name for setter in setters">
                        </select>

                    </label>

                </div>

            </div>

            <flag class="mb1">

                <h3 class="h4  flag-image  nowrap">Route Name</h3>

                <div class="flag-body">
                    <input type="text" ng-model="form.name"
                        placeholder="Enter name if applicable"/>
                </div>

            </flag>



            <input type="text"  ng-model="form.note"
                placeholder="note">

            <button class="btn--primary  btn--medium  btn--expanded  icon-plus-squared"
                ng-click="addClicked()"
                ng-hide="isEditMode">
                Add Route
            </button>

            <button class="btn--primary  btn--medium  btn--expanded  icon-plus-squared"
                ng-click="saveClicked()"
                ng-show="isEditMode">
                Save Changes
            </button>

        </div>

    </div>

</section>

<!--     <section class="row" ng-hide="hasSetters()" >

        <div class="small-12 columns"  >

            <h2>This gym has no setters!</h2>

            <p>
                Have your gym's setters create user accounts so that you may start adding them!
            </p>

            <button class="btn--primary btn--medium btn--expanded  icon-plus-squared"
                ng-click="navigateToAddSetters(gymId)"
                ng-hide="isEditMode">
                <i class="icon-plus"> </i> Add Setters
            </button>

        </div>

    </section> -->
