<script id="template_gym_signup" type="text/x-jQuery-tmpl" >

    <!--Gym Sign Up  Template-->
    <section  class="row" data-ui-component="gymSignUpForm" style="display: none;">
        <section class="gridRow--100">
            <div class="logInForm-container">
                <form method="POST" id="signup-form" action="#">
                    <h1 class="text-center fwl mt3 txtc2">Gym Sign Up</h1>
                    <p class="text-center">
                        Enter you gyms information bellow to start setting and engaging with your customers! 
                    </p>
                    <div class="fieldWrapper">
                        <label for="gymName" class="label--block">Gym Name</label>
                        <input id="gymName" type="text" placeholder="What is your gym called?" autofocus="autofocus">
                    </div>
                    <div class="fieldWrapper">
                        <label class="label--block" for="gymEmail">Email</label>
                        <input type="email" id="gymEmail" placeholder="What is your email?">
                    </div>
                    <div class="fieldWrapper">
                        <label for="accountPass" class="label--block">Account Password
                        </label>
                        <input type="password" placeholder="Must be 8 characters minimum" id="accountPass">
                        <input type="password" placeholder="Re-enter password"/>
                    </div>
                    <div class="fieldWrapper">
                        <h2 class="fwl">Gym Address</h2>
                        <label class="label--block"for="gymStreet">Street Address</label>
                        <input id="street" type="text" placeholder="787 Example Street">
                        <!--Gym State and City--> 
                        <div class="row">
                            <div class="columns small-8">
                                <div class="row">
                                    <div class="columns small-2">
                                        <label for="gymCity" class="inline">City</label>
                                    </div>
                                    <div class="columns small-10">   
                                        <input type="text" id="gymCity"/>
                                    </div>
                                </div>
                            </div>
                            <div class="columns small-4">
                                <select id="gymState" name="state">
                                    <option value="" selected="selected" >State</option>
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="DC">DC</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                                <!--End States-->
                            </div>
                            <div class="columns small-12">
                                <div class="row">
                                    <div class="columns small-4">
                                        <label for="" class="inline right">Zip Code</label>
                                    </div>
                                    <div class="columns small-8">
                                        <input id="zip" type="text" placeholder="Enter a Valid Zip Code" pattern="[0-9]{5}"/>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!--State and City-->

                        <!--Sign up button-->
                        <button class="btn--primary btn--big btn--expanded mt3">SIGN UP</button>
                    </div>
                </form>
            </div>
        </section>
        <!--End form view--> 
    </section>
</script>