<script id="template_gym_view_profile" type="text/x-jQuery-tmpl">

<div class="row">
    <div class="header pb2">
        <div class="flag">
            <div class="flag-image pr2">
                <div class="avatar avatar--big">
                    <img src="images/gymLogo--highPoint.png" alt="">
                </div>
            </div>
            <div class="flag-body">
                <h1 class="h2 fwb mb2">Aiguille Rock Climbing Center</h1>
                <div class="rating rating--big">
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                </div>
            </div>
        </div>
        <ul class="mt3">
            <li rel="address">666 Longwood, FL
            </li>
            <li rel="email">
            aiguillerocks@gmail.com
            </li>
        </ul>
        <button class="btn--secondary btn--small left">
                Submit Route Ideas or Comments
        </button>
    </div>

    <div class="gridRow--100">
        <div class="row--nested">

            <div class="gridRow--50 pb4" data-ui-component="routesInGym">
            <h2 class="txtc2 fwl">Latest Routes Set</h2>

            <!--Meant to show latest 5 routes set in the gym--> 
            <ul class="list--tableStyle">
                 <!--A Route-->
                <li class="route route--alwaysPortable" data-ui-component="wall-route">

                <!--A Routes Main Info, always shows--> 
                  <div class="route-mainInfo">
                    <span class="route-color route-color--red ">
                    </span>
                    <span class="route-name ">
                      <a href="#">This is A route Name</a>
                    </span>
                    <span class="route-actions">                    
                      <input type="checkbox" class="route-checkbox">
                    </span>  

                  </div>
                  <!--End Main info--> 

                  <!--Secondary Content of a route, hidden on desktop, only shows on small-->                 
                  <dl class="accordion accordion--plain route-moreInfo " data-accordion>
                    <dd>
                      <span class="route-grade">
                        V16
                      </span>
                    <span class="route-rating">
                          <i class=" star"></i>
                          <i class=" star"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                    </span>    
                    <span class="route-type">
                      <i class="icon--topRope"></i>
                    </span>                         

                    <a href="#route1" class="route-moreInfo-link">+ More</a>

                      <div id="route1" class="content  clearfix">
                        <ul class="list--dotted">
                          <li >
                          <span class="left">Set by</span>
                          <span class="right">{Setter Name}</span>
                          </li>
                          <li >
                          <span class="left">Sends</span>
                          <span class="right">{Send Num}</span>
                          </li>
                          <li >
                          <span class="left">Comments</span>
                          <span class="right">{comments}</span>
                          </li>
                          <li >
                          <span class="left">Set on</span>
                          <span class="right">{Set Date}</span>
                          </li>                        
                        </ul>
                      </div>
                    </dd>
                  </dl>


                </li>
                <!--A Route-->
                <li class="route route--alwaysPortable" data-ui-component="wall-route">

                <!--A Routes Main Info, always shows--> 
                  <div class="route-mainInfo">
                    <span class="route-color route-color--purple ">
                    </span>
                    <span class="route-name ">
                      <a href="#">This is A route Name</a>
                    </span>
                    <span class="route-actions">
                      <input type="checkbox" class="route-checkbox ">

                    </span>  

                  </div>
                  <!--End Main info--> 

                  <!--Secondary Content of a route, hidden on desktop, only shows on small-->                 
                  <dl class="accordion accordion--plain route-moreInfo " data-accordion>
                    <dd>
                      <span class="route-grade">
                        V16
                      </span>
                    <span class="route-rating">
                          <i class=" star"></i>
                          <i class=" star"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                    </span>    
                    <span class="route-type">
                      <i class="icon--topRope"></i>
                    </span>                         

                      <a href="#route2" class="route-moreInfo-link">+ More</a>

                      <div id="route2" class="content  clearfix">
                        <ul class="list--dotted">
                          <li >
                          <span class="left">Set by</span>
                          <span class="right">{Setter Name}</span>
                          </li>
                          <li >
                          <span class="left">Sends</span>
                          <span class="right">{Send Num}</span>
                          </li>
                          <li >
                          <span class="left">Comments</span>
                          <span class="right">{comments}</span>
                          </li>
                          <li >
                          <span class="left">Set on</span>
                          <span class="right">{Set Date}</span>
                          </li>                        
                        </ul>
                      </div>
                    </dd>
                  </dl>

                 
                </li>
                <li class="route route--alwaysPortable" data-ui-component="wall-route">

                <!--A Routes Main Info, always shows--> 
                  <div class="route-mainInfo">
                    <span class="route-color route-color--red ">
                    </span>
                    <span class="route-name ">
                      <a href="#">This is A route Name</a>
                    </span>
                    <span class="route-actions">                    
                      <input type="checkbox" class="route-checkbox">
                    </span>  

                  </div>
                  <!--End Main info--> 

                  <!--Secondary Content of a route, hidden on desktop, only shows on small-->                 
                  <dl class="accordion accordion--plain route-moreInfo " data-accordion>
                    <dd>
                      <span class="route-grade">
                        V16
                      </span>
                    <span class="route-rating">
                          <i class=" star"></i>
                          <i class=" star"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                    </span>    
                    <span class="route-type">
                      <i class="icon--topRope"></i>
                    </span>                         

                    <a href="#route1" class="route-moreInfo-link">+ More</a>

                      <div id="route1" class="content  clearfix">
                        <ul class="list--dotted">
                          <li >
                          <span class="left">Set by</span>
                          <span class="right">{Setter Name}</span>
                          </li>
                          <li >
                          <span class="left">Sends</span>
                          <span class="right">{Send Num}</span>
                          </li>
                          <li >
                          <span class="left">Comments</span>
                          <span class="right">{comments}</span>
                          </li>
                          <li >
                          <span class="left">Set on</span>
                          <span class="right">{Set Date}</span>
                          </li>                        
                        </ul>
                      </div>
                    </dd>
                  </dl>


                </li>
                <!--A Route-->
                <li class="route route--alwaysPortable" data-ui-component="wall-route">

                <!--A Routes Main Info, always shows--> 
                  <div class="route-mainInfo">
                    <span class="route-color route-color--red ">
                    </span>
                    <span class="route-name ">
                      <a href="#">This is A route Name</a>
                    </span>
                    <span class="route-actions">
                      <input type="checkbox" class="route-checkbox ">

                    </span>  

                  </div>
                  <!--End Main info--> 

                  <!--Secondary Content of a route, hidden on desktop, only shows on small-->                 
                  <dl class="accordion accordion--plain route-moreInfo " data-accordion>
                    <dd>
                      <span class="route-grade">
                        V16
                      </span>
                    <span class="route-rating">
                          <i class=" star"></i>
                          <i class=" star"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                          <i class=" star--empty"></i>
                    </span>    
                    <span class="route-type">
                      <i class="icon--topRope"></i>
                    </span>                         

                      <a href="#route2" class="route-moreInfo-link">+ More</a>

                      <div id="route2" class="content  clearfix">
                        <ul class="list--dotted">
                          <li >
                          <span class="left">Set by</span>
                          <span class="right">{Setter Name}</span>
                          </li>
                          <li >
                          <span class="left">Sends</span>
                          <span class="right">{Send Num}</span>
                          </li>
                          <li >
                          <span class="left">Comments</span>
                          <span class="right">{comments}</span>
                          </li>
                          <li >
                          <span class="left">Set on</span>
                          <span class="right">{Set Date}</span>
                          </li>                        
                        </ul>
                      </div>
                    </dd>
                  </dl>

                 
                </li>

            </ul>

            </div>
                
            <div class="gridRow--50 pb4" data-ui-component="zonesInGym">
              <div class="topo-ZoneMarker  parentTable text-center">
              <span class="align-vertically">
                1
              </span>
              </div>
                <h2 class="fwl txtc2">Gym Topo & Zones</h2>
                <div class="topo">
                    <img src="images/topo--aiguille.jpg" alt="">
                </div>
                <ul class="list list--dotted list--stats">
                    <li>
                        <span class="fwb left">Zone</span>
                        <span class="fwb right">Climb Types</span>
                    </li>
                    <li class="list--stats-elem">
                        <span class="left">
                        <span class="list--legend-position">1</span> 
                            <a href="#">Zone Name</a>
                        </span>
                        <i class="icon--topRope right"></i>
                    </li>
                    <li class="list--stats-elem">
                        <span class="left">
                        <span class="list--legend-position">2</span> 
                            <a href="#">Zone Name</a>
                        </span>
                        <i class="icon--bouldering right"></i>
                        <i class="icon--leadClimbing right"></i>
                    </li>
                   <li class="list--stats-elem">
                        <span class="left">
                        <span class="list--legend-position">3</span> 
                        <a href="#">Zone Name</a>
                        </span>
                        <i class="icon--bouldering right"></i>
                    </li>
                   <li class="list--stats-elem">
                        <span class="left">
                        <span class="list--legend-position">4</span> 
                            <a href="#">Zone Name</a>
                        </span>
                        <i class="icon--bouldering right"></i>
                        <i class="icon--topRope right"></i>
                    </li>
                    <li class="text-right"><a href="#" >View All Gym Zones</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="gridRow--100 pb2">
        <h2 class="fwl txtc2">Gym Route Information</h2>
        <div class="row--nested">
            <div class="gridRow--50">
                <ul class="table row--nested">
                    <li class="table-title">Total Routes
                        <a href="">1,000</a>
                    </li>
                    <li class="dataTable-elem ">
                        <div class="small-7 columns">
                            <div id="totalGymRoutes" class="pieGraph--medium ">
                            </div>
                        </div>
                        <ul data-pie-id="totalGymRoutes" class="pieGraph-legend small-5 columns">
                            <li data-value="60">
                                <div class="graph-legend-itemColor"></div>
                                Bouldering (60)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                Top Rope (20)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                Lead (20)
                            </li>
                        </ul> 
                    </li>
                </ul>
            </div>

                    <!--Total Routes Table --> 
            <div class="gridRow--50">
                <ul class="table row--nested">
                    <li class="table-title">Routes by Grade
                        <a href="">1,000</a>
                    </li>
                    <li class="table-elem ">
                        <div class="small-7 columns">
                            <div id="totalGymCustomers" class="pieGraph--medium ">
                            </div>
                        </div>
                        <ul data-pie-id="totalGymCustomers" class="pieGraph-legend small-5 columns">
                            <li data-value="60">
                                <div class="graph-legend-itemColor"></div>
                                V1 (60)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V2 (20)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V3 (20)
                            </li>

                            <li data-value="60">
                                <div class="graph-legend-itemColor"></div>
                                V4 (60)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V5 (20)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V6 (20)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V7 (20)
                            </li>
                            <li data-value="20">
                                <div class="graph-legend-itemColor"></div>
                                V8 (20)
                            </li>

                        </ul> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>   
</script>