<script id="template_gym_manage_walls" type="text/x-jQuery-tmpl" >
    <div class="row full-height" data-ui-component="wallManager">
        <!--Page Header-->
        <div class="header">
            <div class="left">
                <h1 class="fwb mb0 display--block">Manage Zones</h1>
                <h1 class="fwl mb2 txtc2">Aiguille Rock Climbing Center</h1>
            </div>
            <hr class="header-divider">
        </div>
        <!--End Page Header-->

        <!--Manage  Walls Actions-->
        <section class="gridRow--100">
            <div class="mb1">
                <!--Search Box for Walls-->
                <!--<div class="media--fl">
                    <div>
                        <label for="searchTerm" class="icon--label icon--search inline"></label>
                    </div>
                    <div> 
                        <input name="" type="search" id="searchTerm" placeholder="Search walls by name, color, setter, route grades, etc.">
                    </div>
                </div>-->    
                <!--End Search Box for routes--> 

                <div class="left">
                    <label class="align-vertically mb2">Sort by </label>
                    <div class="select--tetriary select--small align-vertically">
                    <select>Sort By
                        <option value="higherRating"><a href="">▲ Rating</a></option>
                        <option value="lowerRating"><a href="">▼ Rating</a></option>
                        <option value="nameAToZ"><a href="">A-Z Name</a></option>
                        <option value="nameZToA"><a href="">Z-A Name</a></option>
                        <option value="newFirst"><a href="">Newest First</a></option>
                        <option value="oldFirst"><a href="">Oldest First</a></option>
                    </select>
                    </div>
                </div>

                <div class="left mr3">
                    <label for="wallTypes" class="align-vertically ml2 mb2">Show</label>
                    <div class="select--tetriary select--small align-vertically">
                    <select name="wallTypes" id="wallTypes">
                        <option value="all">All Types</option>
                        <option value="bouldering">Bouldering</option>
                        <option value="topRope">Top Rope</option>
                        <option value="lead">Lead</option>

                    </select>
                    </div>

                </div>
                <div class="left">
                    <button class="btn--primary btn--small" data-dropdown="addZone" data-action="toggle-dropDown">
                        + Add Zone
                    </button>
                </div>
                    <!--Add Zone Form-->
                  <div id="addZone" class="f-dropdown dropDown--withForm small" data-ui-component="dropDown" data-dropdown-content>
                    <a class="dropDown-closeLink" data-action="close-dropDown"></a>
                    <div class="row--nested">
                      <form action="submit" id="addZoneForm">
                        <div class="gridRow--100">
                          <label class="label--block" for="wallName">Zone Name</label>
                          <input type="text" name="name" id="wallName" placeholder="Wave, 7C, Wall 27, Cave, Incline etc." />

                            <button type="submit" alt="Add New Zone" class="btn--primary btn--small">
                                Add Zone
                            </button>
                          <a>Cancel</a>
                        </div>

                      </form>
                    </div>
              </div>
                <!--End Add Button Form--> 
            </div>
        </section>
        <!--End Manage Walls--> 


        <!--Walls in Gym--> 
        <div class="mt1 gridRow--100" data-ui-component="wallsList">
            <ul class="list--tableStyle">
                                
        </ul> 
    </div>
</div>
</script>

<script id="template_gym_manage_walls_wall" type="text/x-jQuery-tmpl">
 
        <!--A walls Main Info, always shows--> 
        <div class="wall-mainInfo">
            <span class="wall-name ">
                <a href="#gyms/1/manage/walls/<%= id %>"><%= name %></a>
            </span>
            <span class="wall-type">
                <i class="icon--bouldering align-vertically"></i>
                <i class="icon--topRope align-vertically"></i>
                <i class="icon--leadClimbing align-vertically"></i>
            </span>                          
            <span class="wall-actions">

                <button class="btn--primary btn--tiny  mb0" onClick = "window.location.href='#gym/manage/wall'">
                    Edit
                </button>                        
            </span>  

        </div>
        <!--End Main info--> 

        <!--Secondary Content of a wall, hidden on desktop, only shows on small-->                 
        <dl class="accordion accordion--plain wall-moreInfo show-on-small" data-accordion>
            <dd>
                <span class="wall-totalRoutes">
                    Routes (100)
                </span>
                <span class="wall-rating">
                    <i class=" star"></i>
                    <i class=" star"></i>
                    <i class=" star--empty"></i>
                    <i class=" star--empty"></i>
                    <i class=" star--empty"></i>
                </span>    


                <a href="#wall1" class="wall-moreInfo-link">+ More</a>

                <div id="wall1" class="content  clearfix">
                    <ul class="list--dotted">
                        <li >
                            <span class="left">Last Edit</span>
                            <span class="right">{edit date}</span>
                        </li>
                        <li >
                            <span class="left">Comments</span>
                            <span class="right">{Comments Num}</span>
                        </li>  
                        <li>
                            <span class="left">Sends</span>
                            <span class="right">{Sends Num}</span>
                        </li>                     
                    </ul>
                </div>
            </dd>
        </dl>

        <!--Secondary Content of a wall, shows on desktop, hides on small and is replaced by wall-moreInfo -->
        <div class="wall-secondaryInfo">
            <span class="wall-rating ">
                <i class=" star"></i>
                <i class=" star"></i>
                <i class=" star--empty"></i>
                <i class=" star--empty"></i>
                <i class=" star--empty"></i>
            </span>
            <span class="wall-sends ">
                X <a href="#">10</a>
            </span>
            <span class="wall-comments ">
                <a href="#">5</a>
            </span>
            <span class="wall-dateSet">
                {99/99/99}
            </span>
            <span class="wall-actions">
                <button class="btn--primary btn--tiny mb0 " onClick = "window.location.href='#gym/manage/wall'" >
                Edit
            </button>
        </span>
    </div>    
</script>