<script id="template_gym_manage_route" type="text/x-jQuery-tmpl">
<div class="row full-height" data-ui-component="routeEditor">
    <!--Page Header-->
    <div class="header">
        <div class="right mt2">   
            <button action="submit" class="[ btn--primary btn--medium ] right">
                Save
            </button>
            <button  class="[ btn--secondary btn--medium ] right">
                Back
            </button>
        </div>

        <div class="left">
            <h1 class="fwb mb0 display--block">Edit Route</h1>
            <h1 class="fwl mb2 txtc2">Wall name</h1>
        </div>
        <hr class="header-divider">
    </div>
    <!--End Page Header-->

    <div class="gridRow--100">
        <div class="row--nested">
           <div class="gridRow--50">
                <h2 class="fwl txtc2">Route Properties</h2>
                <form action="submit">
                    <div class="display--block clearfix mb2">
                      <label for="routeColor" class="align-vertically mt2 left">
                          Route Color
                      </label>
                      <div class="select--small select--tetriary right">
                        <select name="color" id="routeColor">
                          <option value="red">Red</option>
                            <option value="purple">Purple</option>
                            <option value="blue">Blue</option>
                            <option value="pink">Pink</option>
                            <option value="red">Red</option> 
                            <option value="orange">Orange</option>          
                        </select>  
                      </div>        
                    </div>

                    <div class="display--block clearfix mb2">
                        <label for="routeType" class="mt2 left">Type</label>
                        <div class="select--small select--tetriary right">
                          <select name="type" id="routeType">
                              <option value="bouldering">Bouldering</option>
                              <option value="topRope">Top Rope</option>
                              <option value="lead">Lead</option>
                          </select>
                        </div>
                    </div>

                    <div class="display--block clearfix mb2">
                        <label for="routeGrade" class="mt2 left">Grade</label>
                        <div class="select--small select--tetriary right">
                          <select name="grade" id="routeGrade">
                              <option value="V1">V1</option>
                              <option value="V2">V2</option>
                              <option value="V3">V3</option>
                              <option value="V4">V4</option>
                              <option value="V5">V5</option>
                              <option value="V6">V6</option>
                              <option value="V7">V7</option>
                              <option value="V8">V8</option>
                              <option value="V9">V9</option>
                              <option value="V10">V10</option>
                              <option value="V11">V11</option>
                              <option value="V12">V12</option>
                              <option value="V13">V13</option>
                              <option value="V14">V14</option>
                              <option value="V15">V15</option>
                          </select>
                        </div>
                    </div>

                        <div class="display--block clearfix mb2">
                            <label for="setterName" class="mt2 left">Setter</label>
                            <div class="select--small select--tetriary right">
                              <select name="setter" id="setterName">
                                  <option value="pedro">Pedro</option>
                                  <option value="pedro">Pedro</option>
                                  <option value="pedro">Pedro</option>
                                  <option value="pedro">Pedro</option>
                              </select>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Begin Route Stats--> 
                <div class="gridRow--50">
                    <h2 class="fwl txtc2">Route Stats</h2>
                    <ul class="list--dotted">
                        <li>
                            <span class="left">Rating</span>
                            <span class="[ rating rating--medium ] right">
                                <i class=" star"></i>
                                <i class=" star"></i>
                                <i class=" star--empty"></i>
                                <i class=" star--empty"></i>
                                <i class=" star--empty"></i>
                            </span> 
                        </li>
                        <li>
                            <span class="left">Sends</span>
                            <span class="right">{Num Sends}</span>
                        </li>
                        <li>
                            <span class="left">Set Date</span>
                            <span class="right">{Date Set}</span>
                        </li>
                    </ul>
                    <!--End Route Stats--> 

                </div>
            </div>
        </div>
    </div>
</script>