<section class="row small-collapse  mb2">

    <div class="small-12 columns large-6">

        <div class="row ">

            <div class="small-12  columns">

                <h2 class="fwl  mb2">
                    Latest Routes & Problems
                </h2>

            </div>

            <ss-route-category-selector active-category="activeCategoryLatest">

            </ss-route-category-selector>

        </div>

        <div class="row small-collapse large-uncollapse">

          <div class="small-12  columns">

            <ss-route-list
              active-category="activeCategoryLatest"
              category="latest">
            </ss-route-list>

          </div>

        </div>

    </div>

</section>
