
<section class="row">

    <div class="header">

        <h1 class="fwb icon-search ">Search Gyms</h1>
    </div>

</section>


<section class="row">

    <div class="small-12 columns">

        <label for="searchTerm"
               name="gymName"></label>

        <input class="mb5"
               name=""
               type="search"
               id="searchTerm"
               placeholder="Search gym by name"
               ng-model="form.search"
               ng-change="applySearch()" />

    </div>

    <div class="small-12 columns">

        <div class="flag"
            ng-repeat="gym in gyms"
            style="cursor: pointer; margin-bottom: 30px;"
            ng-show="gym.show"
            ng-click="navigateToGym(gym.account_id)">

            <div class="flag-image">
                <img class="avatar  avatar--big"
                    ng-src="{{getGymImageSrc(gym)}}">
            </div>

            <div class="flag-body">
                <ul>
                    <li><a>{{gym.name}}</a></li>
                    <li>{{gym.address}}</li>
                </ul>
            </div>

        </div>

    </div>

</section>

