<section class="row pt2 ">

    <div class="columns small-12 text-center">
        <img src="images/setter-logo.svg" alt="Setter" class="hide-for-small saddie--medium [ center  mb2 ] ">
        <h1 class="h2">Setter Login</h1>
    </div>

</section>


<section class="row">

    <div class="columns small-12 medium-4 medium-centered">

        <div class="fieldWrapper  mb4">

            <input ng-model="form.email" placeholder="email" type="email"/>

            <input ng-model="form.password" ng-keydown="down($event)" placeholder="password" type="password" class="mb0"/>

            <div class="mb3 fwb">
                <a 
                    ng-click="navigateToPasswordReset()">Forgot your Password?
                </a>
            </div>

            <div class="panel callout" ng-show="error">
                <div class="flag">
                    <div class="flag-image pr1"><h4 class="h2 icon  icon-alert"></h4></div>
                    <div class="flag-body"><h4 class="title">{{error}}</h4></div>
                </div>
                

            </div>


            <button class="btn--secondary  btn--medium  btn--expanded "
                    ng-click="login()">
                LOGIN
            </button>

        </div>

        <div class="fieldWrapper mb4  text-center">

            <label for="" class="fwb  label--inline  mb0 ">Have an access key?</label>

            <button class="icon-edit  btn--primary  btn--medium  btn--expanded"
                    ng-click="navigateToRegisterUser()">
                Register Here
            </button>
        </div>

        <div class="text-center">
            <a for=""
                class="text-center "
                ng-click="navigateToRegisterGym()">Climbing Gym? <br>Request an account here
            </a>
        </div>
</section>
