<section class="row pt2 ">

    <div class="columns small-12 text-center">
        <img src="images/setter-logo.svg" alt="Setter" class="hide-for-small saddie--medium [ center  mb2 ] ">
        <h1 class="h2">Setter Login</h1>
    </div>

</section>


<section class="row">

    <div class="columns small-12 medium-4 medium-centered">

        <div class="fieldWrapper  mb4">

            <div ng-show="error"
                style="">
                {{error}}
                <div class="text-right mb3">
    <a class="txt--micro  mb3"
        ng-click="navigateToPasswordReset()">Forgot Password?
    </a>
</div>
            </div>

            <input ng-model="form.email" placeholder="email" type="email"/>

            <input ng-model="form.password" ng-keydown="down($event)" placeholder="password" type="password" class="mb0"/>
                
            <button class="btn--secondary btn--medium btn--expanded   "
                    ng-click="login()">
                LOGIN
            </button>

        </div>

        <div class="fieldWrapper mb4  text-center">

            <label for="" class="fwb  label--inline  mb0 ">Have an access key?</label>

            <button class="icon-edit  btn--primary  btn--medium  btn--expanded"
                    ng-click="navigateToRegisterUser()">
                Register Here
            </button>
        </div>

        <div class="text-center">
            <a for=""
                class="text-center "
                ng-click="navigateToRegisterGym()">Climbing Gym? <br>Request an account here
            </a>
        </div>
</section>
