<!-- User Specific -->
<li ng-show="isUserAccount()"
    ng-click="navigateToUser(getAccountId())">
    <a class="icon-profile"> Your Profile</a>
</li>

<li ng-show="isUserAccount()"
    ng-click="navigateToGyms()">
    <a class="icon-search"> Search Gyms</a>
</li>

<li ng-show="isUserAccount()"
    ng-click="navigateToGym(getHomeGymId())">
    <a class="icon-home"> Your Home Gym</a>
</li>

<li ng-show="isUserAccount()"
    ng-click="navigateToSettings()">
    <a class="icon-settings"> Settings</a>
</li>

<!-- Gym Specific -->
<li ng-show="isGymAccount()"
    ng-click="navigateToGym(getAccountId())">
    <a class="icon-dashboard"> Dashboard</a>
</li>

<li ng-show="isGymAccount()"
    ng-click="navigateToWalls(getAccountId())">
    <a> <img src="images/icon--wrench.svg" alt=""> Manage Zones</a>
</li>

<li ng-show="isGymAccount()"
    ng-click="navigateToRouteManager(getAccountId())">
    <a class="icon-archive"> Route Archive</a>
</li>

<li ng-show="isGymAccount()"
    ng-click="navigateToSetters(getAccountId())">
    <a class="icon-group"> Manage Setters</a>
</li>

<li ng-show="isGymAccount()"
    ng-click="navigateToGymSuggestions(getAccountId())">
    <a class="icon-messaging"> Suggestions</a>
</li>

<li ng-show="isGymAccount()"
    ng-click="navigateToAlerts(getAccountId())">
    <a class="icon-megaphone"> Announcements</a>
</li>

<li class="mb4"></li>

<!-- Always Show -->
<li ng-click="navigateToSuggestionsPage()">
    <a class="icon-messaging-alt"> Give Feedback</a>
</li>

<li ng-click="navigateToTOS()">
    <a class="icon-messaging-alt"> Terms of Service</a>
</li>

<li ng-click="navigateToContact()">
    <a class="icon-messaging-alt"> Contact</a>
</li>

<li ng-click="navigateToLogout()">
    <a class="icon-logout"> Logout</a>
</li>
