<li
    ng-show="isUserAccount()"
    ng-click="navigateToUser(getAccountId())">
    <a class="icon-profile"> Your Profile</a>
</li>

<li
    ng-show="isGymAccount()"
    ng-click="navigateToGym(getAccountId())">
    <a class="icon-dashboard"> Dashboard</a>
</li>

<li
    ng-click="navigateToWalls(getAccountId())"
    ng-show="isGymAccount()">
    <a> <img src="images/icon--wrench.svg" alt=""> Manage Zones</a>
</li>

<li
    ng-click="navigateToRouteManager(getAccountId())"
    ng-show="isGymAccount()">
    <a class="icon-archive"> Route Archive</a>
</li>

<li
    ng-click="navigateToSetters(getAccountId())"
    ng-show="isGymAccount()">
    <a class="icon-group"> Manage Setters</a>
</li>

<li
    ng-click="navigateToGymSuggestions(getAccountId())"
    ng-show="isGymAccount()">
    <a class="icon-messaging"> Suggestions</a>
</li>

<li  class="mb4"
    ng-click="navigateToAlerts(getAccountId())"
    ng-show="isGymAccount()">
    <a class="icon-megaphone"> Announcements</a>
</li>

<li
    ng-click="navigateToGym(getHomeGymId())"
    ng-show="getHomeGymId()">
    <a class="icon-home"> Your Home Gym</a>
</li>

<li class="mb3"
    ng-click="navigateToGyms()"
    ng-show="isUserAccount()">
    <a class="icon-search"> Search Gyms</a>
</li>

<li
    ng-click="navigateToSuggestionsPage()">
    <a class="icon-messaging-alt"> Give Feedback</a>
</li>

<li
    ng-click="navigateToLogout()">
    <a class="icon-logout"> Logout</a>
</li>
