<div>
    <div class="btn_blue back" ng-click="back()">
        <i class="icon-left-big"> </i> Back
    </div>
</div>

<div class="title mb">Password Reset</div>

<div ng-show="success" class="yellow mb">Please check your email for your new password</div>

<input ng-model="form.email" placeholder="email" class="mb pad10 rounded blue" autocorrect="off" autocapitalize="off"></input>

<div>
    <div class="btn_blue" ng-click="resetPassword()">
        <i class="icon-key"> </i>Reset
    </div>
</div>
