
<section class="row">

      <div class="header">

        <button class="btn--medium  btn--secondary icon-left-big"
    ng-click="back()">Back
        </button>

      </div>


</section>


<section class="row">
  
  <div class="small-12  medium-8 large-6 columns">

      <h1 class="title">
        Reset Password
      </h1>

      <p>Type your email below to receive a new password to your inbox.</p>

      <input ng-model="form.email" placeholder="your email" type="text" autocorrect="off" autocapitalize="off" class="mb3">
        
      </input>i.
    
      <div ng-show="success" class="panel success">
        <span class="title">Please check your inbox for your new password.
        </span>
      </div>

      <button class="btn--primary  btn--expanded   btn--medium"  ng-click="resetPassword()">Reset Password</button>

  </div>

</section>

