
<section class="row">

    <div class="small-12 columns  header">

        <button class="btn--medium  btn--secondary icon-left-big"
    ng-click="back()">Back
        </button>

        <div class="[ small-3  columns small-centered ] [ show-for-small-only  ]  saddie  saddie--small  mt3">

        </div>

    </div>

</section>

<section class="row">

    <div class="columns  small-12  medium-12 large-6  mb4  novalidate">

        <h1 class="icon-edit"> User Registration</h1>


        <!-- Email -->
        <div class="form-group">
            <label class="label--block  fwb"
                   for="email">Email</label>
            <input ng-model='form.email'
                   placeholder="email"
                   type="email"
                   name="email"/>
        </div>


        <!-- Email -->
        <label class="label--block  fwb" for="password">Password</label>
        <input ng-model='form.password'
               placeholder="password"
               type="password"
               name="password"/>


        <!-- First Name -->
        <label class="label--block  fwb"
               for="firstName">First Name</label>
        <input ng-model='form.firstname'
               placeholder="first name"
               type="text"
               style="text-transform: capitalize;"
               name="firstName" />


        <!-- Last Name -->
        <label class="label--block  fwb"
               for="lastName">Last Name</label>
        <input class="mb4"
               ng-model='form.lastname'
               placeholder="last name"
               type="text"
               style="text-transform: capitalize;"
               name="lastName" />

        <!-- Home Gym -->
        <label class="label--block  fwb" for="gym">Home Gym</label>
        <label class="[ select--medium select--secondary ] left mb4">
            <select name="gym"
                    ng-model="form.gym"
                    ng-options="gym.name for gym in gyms">
            </select>
        </label>

        
        <div ng-show="error"
            style="color: red; text-align: center; margin-bottom: 40px;">
            {{error}}!
        </div>

        <button class=" [ btn--primary  btn--big btn--expanded ]  icon-plus"
            ng-click='registerClicked()'>
            Create Account
        </button>
    </div>
</section>
