


<section class="row">

    <div class="header">

        <h1 class="icon-archive"> 
            Route Archive
        </h1>

        <hr class="header-divider">

    </div>

</section>



<div ng-hide="finishedRendering"
    style="width: 150px; height: 150px;"
    us-spinner>
</div>


<div ng-show="finishedRendering">

    <section class="row">

        <div class="small-12 columns">

            <label class="fwb [ inline label--inline ] ">Show Type</label>
            
            <label class="[ select--small select--primary ] display--inlineBlock">

                <select ng-model="form.view"
                        ng-options="view.value for view in views"
                        ng-change="refreshView()">
                </select>

            </label>

        </div>

    </section>

    <section class="row">
        
        <div class="small-12  columns">

            <div class="fieldwrapper  panel [ small-12  columns ] ">  
            
                <div class="row">

                    <div class="small-12 columns">

                        <h2 class="fwl mb4 display--block ">
                            Filter Routes By
                        </h2>

                    </div>

                </div>

                <div class="row small-collapse  medium-uncollapse">
                    <!-- Filters -->
                    <div class="small-12 columns mb2">

                        <div class="small-12  medium-6 large-5 columns">
                            <!-- Setter Grade filter dropdown -->
                            <label class="fwb [ label--inline inline ]">Setter</label>

                            <label class="select--small select--secondary">
                                <select ng-model="form.setterFilter"
                                    ng-options="setter.value for setter in setterInputs"
                                    ng-change="refreshFilters()">
                                </select>
                            </label>

                        </div>

                        <div class="small-12  medium-6 large-4 end columns">
                            <!-- Color filter dropdown -->
                            <label class="fwb [ label--inline  inline ] ">Route Color</label>

                            <div class="select--small select--secondary">

                                <select ng-model="form.colorFilter"
                                    ng-options="color.value for color in colorInputs"
                                    ng-style="{color: input.extra}"
                                    ng-change="refreshFilters()">
                                </select>

                            </div>

                        </div>

                    </div>

                    <div class="small-12 columns">

                        <div class="small-12  medium-6 large-5 columns">
                            <!-- V Grade filter dropdown -->
                            <label class="fwb [ label--inline  inline ] ">Grade</label>

                            <div class="select--small select--secondary">

                                <select ng-model="form.boulderGradeFilter"
                                        ng-show="form.view.value === BOULDERING_VIEW"
                                        ng-options="grade.value for grade in boulderGradeInputs"
                                        ng-change="refreshFilters()">
                                </select>

                            </div>
                            <!-- YDS Grade filter dropdown -->
                            <select ng-model="form.ropeGradeFilter"
                                    class="[ select--medium select--secondary ]"
                                    ng-show="form.view.value === ROPE_VIEW"
                                    ng-options="grade.value for grade in ropeGradeInputs"
                                    ng-change="refreshFilters()"></select>
                        </div>

                        <div class="small-12  medium-6 large-5 end  columns">
                            <!-- Zone filter dropdown -->
                            <label class="fwb [ label--inline inline ] ">Zone</label>

                            <div class="select--small  select--secondary">

                                <select ng-model="form.zoneFilter"
                                        ng-options="zone.value for zone in zoneInputs"
                                        ng-change="refreshFilters()">
                                </select>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="row">

        <div class="small-12 columns">

            <table class="small-12 columns">

                <thead>
                    <th ng-repeat="filter in filters"
                            ng-hide="(form.view.value === ROPE_VIEW && filter.name === 'V') || (form.view.value === BOULDERING_VIEW && filter.name === 'YDS')"  ng-click="sortIconClicked(filter)">
                        <a>
                        {{filter.name}}
                        <i >
                            <span ng-show="filter.sort === 0"></span>
                            <span class="icon-pyramidDown" ng-show="filter.sort === 1"></span>
                            <span class="icon-pyramidUp" ng-show="filter.sort === 2"></span>
                        </i>
                        </a>
                    </th>

                </thead>

                <tbody>
            
                    <tr bindonce ng-repeat="route in routes"
                         class="list--tableStyle  list--navElem"
                         ng-show="route.show"
                         on-finish-render
                         ng-click="navigateToRoute(route.gym_id, route.wall_id, route.id)">
            
                    <td  bo-text="route.wall_name || '-'"></td>
            
                    <td>
                        <i class="icon-circle" bo-style="{color: route.value}"> </i></td>
            
                    <td 
                         ng-show="form.view.value === BOULDERING_VIEW"
                            bo-text="route.boulder_grade || '-'"></td>
            
                    <td  ng-show="form.view.value === ROPE_VIEW"
                         bo-text="route.rope_grade || '-'">
                    </td>
            
                    <!--
                    <td class="small-1 columns"
                        bo-text="route.route_name || '-'"></td>
                    -->
            
                    <td bo-text="route.setter || '-'"></td>
            
                    <td class="rating rating--small">
                        <!--
                        <span bo-show="route.rating !== -1" bo-text="route.rating"></span>
                        <span bo-show="route.rating === -1">-</span>
                        -->

                        <i bindonce 
                            ng-repeat="star in stars" bo-class="{'icon-star': isFilled(star, route.rating), 'icon-star-empty': !isFilled(star, route.rating)}"> 
                        </i>
                    
                    </td>
            
                    <td bo-text="route.sends"></td>
            
                    <td bo-text="route.date_format">
                    </td>
            
    <!--                 <td>
                        <i bo-show="!route.active" class="icon-down-big"> </i>
                    </td> -->
                    
                    </tr>

                </tbody>

            </table>
        </div>
    </section>

</div>
