<!--
    HIDDEN MODAL
-->
<div class="modal reveal-modal tiny"
     data-reveal>

    <h1 class="h2 fwl">
        Awesome Send!
    </h1>

    <p class="lead">
        Help your gym out by rating this route!
    </p>

    <div class="display: inline-block; text-align: center;"
            ng-mouseleave="setHoverRating(-1)">

        <h4 class="mb0 h2 display--inlineBlock"
            ng-class="{rated: hasRated}"
            ng-repeat="star in stars"
            ng-mouseover="setHoverRating(star)"
            ng-click="!isGymAccount() && rate(star)">
            <i ng-class="{'hovered': isHovered(star), 'icon-star': isFilled(star), 'icon-star-empty': !isFilled(star)}" class="rating  mb0  right"> </i>
        </h4>

    </div>

    <button class="[ btn--secondary btn--medium right ] display--block"
            ng-click="closeModal()">
        I promise I'll rate later!
    </button>

    <a class="close-reveal-modal">
        &#215;
    </a>

</div>

<!--
    CONTENT
-->
<section class="row ">

        <div class="header">

            <button
                class="[ btn--secondary  btn--medium ] mb2 icon-left-big display--block"
                ng-click="topNavigationClicked()" >

                <span ng-show="pageWasBookmarked() || lastPageWasZone() || lastPageWasEditRoute()">
                    Zone
                </span>

                <span ng-show="lastPageWasUser()">
                    User
                </span>

                <span ng-hide="pageWasBookmarked() || lastPageWasZone() || lastPageWasEditRoute()">
                    Back
                </span>

            </button>


            <div class="gridRow--100 ng-hide">
              <label class="label--block">Color</label>
                <ul class="mb3 list--inline">

                <!--Route Color Options-->
                  <li><input class="radio--routeColor" type="radio" id="routeColor--brown" name="routeColor"><label for="routeColor--brown" class="route-color route-color--brown"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--lightbrown" name="routeColor"><label for="routeColor--lightbrown" class="route-color route-color--lightbrown"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--blue" name="routeColor"><label for="routeColor--blue" class="route-color route-color--blue"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--lightblue" name="routeColor"><label for="routeColor--lightblue" class="route-color route-color--lightblue"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--teal" name="routeColor"><label for="routeColor--teal" class="route-color route-color--teal"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--pink" name="routeColor"><label for="routeColor--pink" class="route-color route-color--pink"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--red" name="routeColor"><label for="routeColor--red" class="route-color route-color--red"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--green" name="routeColor"><label for="routeColor--green" class="route-color route-color--green"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--darkgreen" name="routeColor"><label for="routeColor--darkgreen" class="route-color route-color--darkgreen"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--limegreen" name="routeColor"><label for="routeColor--limegreen" class="route-color route-color--limegreen"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--yellow" name="routeColor"><label for="routeColor--yellow" class="route-color route-color--yellow"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--orange" name="routeColor"><label for="routeColor--orange" class="route-color route-color--orange"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--purple" name="routeColor"><label for="routeColor--purple" class="route-color route-color--purple"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--lightpurple" name="routeColor"><label for="routeColor--lightpurple" class="route-color route-color--lightpurple"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--white" name="routeColor"><label for="routeColor--white" class="route-color route-color--white"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--grey" name="routeColor"><label for="routeColor--grey" class="route-color route-color--grey"></label></li>
                  <li><input class="radio--routeColor" type="radio" id="routeColor--black" name="routeColor"><label for="routeColor--black" class="route-color route-color--black"></label></li>
                <!--End Route Color Options-->
                </ul>


              <label class="label--block">Route Name</label>
              <input type="text" name="routeName"  placeholder="Name of route if applicable" />
            </div>
            <div class="display--block"
                 ng-show="isGymAccount()"
                 data-ui-component="route-actions">

                <button class="[ btn--primary  btn--medium ] icon-pencil"
                        ng-click="edit()"
                        ng-hide="isEditMode">
                    Edit Route
                </button>

                <button class="btn--secondary btn--medium icon-down-big "
                        ng-click="strip()">
                    Strip Route
                </button>

            </div>

            <h1 class="h2 fwb mb2">
                Route Information
            </h1>
        </div>
</section>




<section class="row"
         data-ui-component="route-information">
    <div class="small-12 columns  mb4">


        <div class="flag  mb3">
                <h3 class="flag-image">
                    Avg. Rating
                </h3>

               <div class="flag-body  text-right"
                    ng-class="{'rating--colored': isGymAccount()}"
                    ng-mouseleave="setHoverRating(-1)">
                    <h4 class="mb0 h2 display--inlineBlock"
                            ng-class="{rated: hasRated}"
                            ng-repeat="star in stars"
                            ng-click="hasSent && !isGymAccount() && rate(star)"
                            ng-mouseover="hasSent && setHoverRating(star)">
                        <i ng-class="{'hovered': isHovered(star), 'icon-star': isFilled(star), 'icon-star-empty': !isFilled(star)}"
                           class="rating  mb0  right"> </i>
                    </h4>

                    <div class="display--Block">({{rating || '0'}}) based on {{ratingCount || '0'}} ratings</div>
                </div>
            </div>


            <div class="flag  mb3">

                <h3 class="flag-image">
                    Name
                </h3>

               <div class="flag-body  text-right">

                    <h4 class="h3  mb0">
                       {{route.route_name || 'N/A'}}
                    </h4>

               </div>

            </div>

            <div class="flag  mb3">
                <h3 class="flag-image">
                    Grade
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h2  mb0">
                        {{formatGrade(route.boulder_grade, route.toprope_grade, route.lead_grade)}}
                    </h4>
                </div>
            </div>

            <div class="flag  mb3">
                <h3 class="flag-image">
                    Color
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h2  mb0">
                        <i class="icon-circle icon--big" ng-style="{color: route.value}"> </i>
                    </h4>
                </div>
            </div>

             <div class="flag  mb3">
                <h3 class="flag-image">
                    Zone
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h3  mb0  fwb">
                        {{route.wall_name}}
                    </h4>
                </div>
            </div>

            <div class="flag  mb3">
                <h3 class="flag-image">
                    Setter
                </h3>

               <div class="flag-body  text-right">

                <h4 class="h3  mb0  fwb">
                    {{route.firstname}} {{route.lastname}}
                </h4>
                
               </div>

            </div>

            <div class="flag  mb3">
                <h3 class="flag-image">
                    Date Set
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h3  mb0 ">
                        {{route.date | date :  'MMM dd, yyyy' }}
                    </h4>
                </div>
            </div>

            <div class="mb4">
                <h3 class="h4 fwb  mb2">
                    Notes
                </h3>
                <p>
                    {{route.note || 'N/A'}}
                </p>
            </div>


        <div ng-hide="isGymAccount()">
            <button class="[ btn--secondary  btn--medium  btn--expanded ] center icon-paper-plane-empty"
                    ng-click="send()"
                    ng-hide="hasSent">
                Send Route
            </button>

            <button class=" [ btn--tetriary  btn--medium  btn--expanded ]  icon-paper-plane center enabled"
                    ng-click="unsend()"
                    ng-show="hasSent">
                Unsend Route
            </button>
        </div>
    </div>
</section>


<section class="row">

    <div class="small-12 columns  mb4">

        <h2 class='fwl'>
            Climber Feedback
        </h2>

        <div ng-repeat="comment in comments"
             style="padding: 20px; margin-bottom: 20px; display: inline-block; vertical-align: top; max-height: 160px; width: 300px; text-align: left;">

            <div style="height: 60px;">
                <div style="float: left;">
                    <div style="width: 60px; height: 60px; margin-right: 20px; cursor: pointer; text-align: center; font-size: 16px;"
                         ng-click="navigateToUser(comment.account_id)">
                        <img ng-src="{{getUserImageSrc(comment)}}"
                             style="height: 100%; width: 100%; border-radius: 50%; border: 2px solid #ed6d56;">
                    </div>
                </div>

                <strong>
                    {{comment.name}}
                </strong>

                <br>

                <i>
                    Posted: {{comment.date | date : 'MMM dd, yyyy' }}
                </i>
            </div>

            <div>

                <div class="mb1">
                    
                </div>

                {{comment.message}}

            </div>

        </div>

        <div ng-hide="isGymAccount()">
            <textarea class="textarea--small"
                      ng-model="form.message"
                      placeholder="comment">
            </textarea>

            <button class=" [ btn--primary  btn--medium btn--expanded ]  icon-plus-squared"
                    ng-click="addComment()">
                Post Comment
            </button>
        </div>
    </div>
</section>


<section class="row">
    <div class="small-12 columns  ">
        <h2 class="fwl">
            Route Sends ({{sends.length}})
        </h2>
    </div>

    <div class="small-12 columns  mb4">
        <div class="flag  mb2"
             ng-repeat="send in sends">

            <div class=" flag-image"
                 ng-click="navigateToUser(send.account_id)">
                <img class="avatar--small"
                     ng-src="{{getUserImageSrc(send)}}">
            </div>

            <div class="flag-body">
                {{send.name}}
            </div>
        </div>
    </div>

    <div class="small-12 columns mb4  text-center"
         ng-show="getAccountId() === gymId">
        <a class="icon-trash"
           ng-click="delete()">
            Delete Route Permanently
        </a>
    </div>
</section>
