<!--
    HIDDEN MODAL
-->
<div class="modal reveal-modal small  text-center"
     data-reveal>

    <h1 class="h2">
        Awesome send!
    </h1>

    <p class="fwb">
        Why not help your gym out by rating this route?
    </p>

    <div class="center"
            ng-mouseleave="setHoverRating(-1)">

        <h4 class="mb0 h2 display--inlineBlock "
            ng-class="{rated: hasRated}"
            ng-repeat="star in stars"
            ng-mouseover="setHoverRating(star)"
            ng-click="!isGymAccount() && rate(star)">
            <i ng-class="{'hovered': isHovered(star), 'icon-star': isFilled(star), 'icon-star-empty': !isFilled(star)}" class="rating  mb0  right"> </i>
        </h4>

    </div>

    <button class="[ btn--secondary btn--medium ]  mt3  display--block  center"
            ng-click="closeModal()">
        I promise I'll rate later
    </button>

    <a class="close-reveal-modal">
        &#215;
    </a>

</div>

<!--
    CONTENT
-->
<section class="row ">

    <div class="small-12 columns">

        <div class="row" >

            <div class="small-12 columns" >

                <div class="right ng-hide"
                     ng-show="isGymAccount()"
                     data-ui-component="route-actions">

                    <button class="[ btn--secondary  btn--small ] icon-pencil"
                            ng-click="edit()"
                            ng-hide="isEditMode || !currentPageIsZone()">
                        Edit
                    </button>

                    <button class="btn--secondary btn--small icon-down-big "
                            ng-click="strip()"
                            ng-hide="!currentPageIsZone()">
                        Strip Route
                    </button>

                     <span class=" right ml2 h2 icon-cancel" ng-click="closeRouteModal()">

                    </span>

                </div>

                <div class="right ng-hide" ng-show="isUserAccount()">

                     <span class=" right  h2 icon-cancel" ng-click="closeRouteModal()">

                    </span>

                </div>

            </div>


        </div>

        <hr>

    </div>

</section>




<section class="row"
         data-ui-component="route-information">

    <div class="center" style="width: 80px; height: 80px; position: relative " ng-show="loading" us-spinner>
    </div>

    <div class="small-12 columns  mb2 ng-hide" ng-hide="loading">


        <div ng-show="isUserAccount()" class="mb2">

            <button class="[ btn--secondary  btn--medium  btn--expanded ] center icon-paper-plane-empty"
                    ng-click="send()"
                    ng-hide="hasSent">
                Send Route
            </button>

            <button class=" [ btn--tetriary  btn--medium  btn--expanded ]  icon-paper-plane center enabled"
                    ng-click="unsend()"
                    ng-show="hasSent">
                Unsend Route
            </button>

        </div>

        <h1 class="h3 fwb left">
            Route Information
        </h1>

        <div class="flag  mb3">
                <h3 class="h4 flag-image">
                    Avg. Rating
                </h3>

               <div class="flag-body  text-right"
                    ng-class="{'rating--colored': isGymAccount()}"
                    ng-mouseleave="setHoverRating(-1)">
                    <h4 class="mb0 h2 display--inlineBlock"
                            ng-class="{rated: hasRated}"
                            ng-repeat="star in stars"
                            ng-click="hasSent && !isGymAccount() && rate(star)"
                            ng-mouseover="hasSent && setHoverRating(star)">
                        <i ng-class="{'hovered': isHovered(star), 'icon-star': isFilled(star), 'icon-star-empty': !isFilled(star)}"
                           class="rating  mb0  right"> </i>
                    </h4>

                    <div class="display--Block">({{rating || '0'}}) based on {{ratingCount || '0'}} ratings</div>
                </div>
            </div>


            <div class="flag  mb3">

                <h3 class="h4 flag-image">
                    Name
                </h3>

               <div class="flag-body  text-right">

                    <h4 class="h3  mb0">
                       {{route.route_name || 'N/A'}}
                    </h4>

               </div>

            </div>

            <div class="flag  mb3">
                <h3 class="h4 flag-image">
                    Grade
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h2  mb0">
                        {{formatGrade(route.boulder_grade, route.toprope_grade, route.lead_grade)}}
                    </h4>
                </div>
            </div>

            <div class="flag  mb3">
                <h3 class="h4 flag-image">
                    Color
                </h3>

                <div class="flag-body  text-right">

                    <h4 class="h2  mb0">
                        <i class="icon-circle icon--big" ng-style="{color: route.value}"> </i>
                    </h4>

                </div>

            </div>

             <div class="flag  mb3">
                <h3 class="h4 flag-image">
                    Zone
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h3  mb0  fwb">
                        {{route.wall_name}}
                    </h4>
                </div>
            </div>

            <div class="flag  mb3">
                <h3 class="h4 flag-image">
                    Setter
                </h3>

               <div class="flag-body  text-right">

                <h4 class="h3  mb0  fwb">
                    {{route.firstname}} {{route.lastname}}
                </h4>

               </div>

            </div>

            <div class="flag  mb3">
                <h3 class="h4 flag-image nowrap">
                    Date Set
                </h3>

                <div class="flag-body  text-right">
                    <h4 class="h3  mb0 ">
                        {{route.date | date :  'MMM dd, yyyy' }}
                    </h4>
                </div>
            </div>

            <div>

                <h3 class="h4 fwb  mb2">
                    Notes
                </h3>

                <p>
                    {{route.note || 'N/A'}}
                </p>

            </div>
    </div>

</section>


<section class="row" ng-hide="loading">
    <div class="small-12 columns  ">
        <h2 class="fwl">
            Route Sends ({{sends.length}})
        </h2>
    </div>

    <div class="small-12 columns  mb4">
        <div class="flag  mb2"
             ng-repeat="send in sends">

            <div class=" flag-image"
                 ng-click="navigateToUser(send.account_id)">
                <img class="avatar--small"
                     ng-src="{{getUserImageSrc(send)}}">
            </div>

            <div class="flag-body">
                {{send.name}}
            </div>
        </div>
    </div>

</section>


<section class="row" ng-hide="loading">

    <div class="small-12 columns  mb4">

        <h2 class='fwl'>
            Climber Feedback
        </h2>

        <div ng-repeat="comment in comments"
             style="padding: 20px; margin-bottom: 20px; display: inline-block; vertical-align: top; max-height: 160px; width: 300px; text-align: left;">

            <div style="height: 60px;">
                <div style="float: left;">
                    <div style="width: 60px; height: 60px; margin-right: 20px; cursor: pointer; text-align: center; font-size: 16px;"
                         ng-click="navigateToUser(comment.account_id)">
                        <img ng-src="{{getUserImageSrc(comment)}}"
                             style="height: 100%; width: 100%; border-radius: 50%; border: 2px solid #ed6d56;">
                    </div>
                </div>

                <strong>
                    {{comment.name}}
                </strong>

                <br>

                <i>
                    Posted: {{comment.date | date : 'MMM dd, yyyy' }}
                </i>
            </div>

            <div>

                <div class="mb1">

                </div>

                {{comment.message}}

            </div>

        </div>

        <div class="pb5" ng-hide="isGymAccount()">

            <textarea class="textarea--small"
                      ng-model="form.message"
                      placeholder="comment">
            </textarea>

            <button class=" [ btn--primary  btn--medium btn--expanded ]  icon-plus-squared"
                    ng-click="addComment()">
                Post Comment
            </button>

        </div>

    </div>

</section>
