<div>
  <table class="[ small-12 columns ]  table--unStyled table--list table--clickableElem">

      <tbody>

          <tr bindonce
              ng-repeat="route in routes | limitTo: limit"
              class="list--tableStyle  list--navElem"
              ng-click="openRouteModal(route.id)"
              ng-include
              src=" 'templates/gym/panels/activity/sections/BestRatedRoutes.tpl.html' ">
          </tr>

      </tbody>

  </table>

  <a ng-click="increment()"
    ng-hide="incrementLimitReached()"
     class="center  h5  text-center">View More +</a>

       <a ng-click="decrease()"
    ng-show="incrementLimitReached()"
     class="center  h5  text-center">Hide Routes - </a>

    
</div>


