




<div class="section--primary">
    <div class="row ">
        
    </div>
</div>

<!--SECTION: Top bar--> 
<div class="dropShadow">
    <div class="row topBar--splash">
    
            <div class="[ saddie--withName saddie--withName--small ] left vertical-align">
                
            </div>
    
            <ul class="links  right  vertical-align">
                
                <a class="mr2">
                    Log In
                </a>
    
                <button class="btn btn--primary btn--medium  mb0">
                    Sign Up
                </button>
            </ul>
    
    
    </div>
</div>

<!--SECTION: Introduction--> 

<div class="section--tetriary  section--photo">

    <div class="background-photo">

        <div class="row  pt5">

            <div class=" small-12 medium-12 pt5 large-only-text-left large-5 columns  text-center">

            
                <h1 class="fwl  section--tetriary-text">
                The indoor climbing manager for
                setters, climbers, and gyms. 
                </h1>
                        

                <button ng-click="navigateToRegisterUser()" class="btn btn--primary btn--big show-for-large-up">
                  Get Started <i class="icon-right-big"></i>
                </button>
            
            </div>

            <div class="background-photo-foreground">
            
            <img src="images/splash1.png" alt="" >

            </div>

        </div>

 

    </div>

</div>


  <!-- SECTION: GYMS and Setters -->

<div class="row  pt5">

    <div class="small-12 columns">

        <h1 class="fwl text-center">Setter for Climbing Gyms</h1>
   
          <div class="row ptb5">
            
            <div class="small-12  medium-6  columns">

                  <ul >

                    <li class="flag mb5">

                        <div class="flag-image">

                            <i class="icon-stats  icon--jumbo  icon--colored">
                                
                            </i>

                        </div>

                        <div class="flag-body">

                            <h2 class="fwb h3  mb1">Gain insight on your gym’s climbers
                            </h2> 

                            <p>Find out what grades they climb, what they’re really diggin’ or how often they're climbing.</p>

                        </div>

                    </li>

                    <li class="flag">

                        <div class="flag-image">
                            <i class="icon-group  icon--jumbo  icon--colored">
                                
                            </i>
                        </div>

                        <div class="flag-body">

                            <h2 class="fwb h3  mb1">
                                Manage your gym's Setters 
                            </h2> 

                            <p> Track their bouldering, lead, and top rope sets and their awesome (or not so awesome) peformance.  
                            </p>

                        </div>

                    </li>

                </ul>

            </div>

            <div class="small-12  medium-6 columns">

                <ul class="list--big">

                    <li class="flag mb5">

                        <div class="flag-image">
                            <i class="icon-archive  icon--jumbo  icon--colored">
                                
                            </i>
                        </div>

                        <div class="flag-body">
                            <h2 class="fwb h3  mb1">
                                Archive your routes and problems
                            </h2>

                         <p>   Keep track of your past top rope, and lead sets for future reference, such as when scheduling setters. </p>
                        

                        </div>

                    </li>

                    <li class="flag">

                        <div class="flag-image">
                            <i class="icon-megaphone  icon--jumbo  icon--colored">
                                
                            </i>
                        </div>

                        <div class="flag-body">
                            <h2 class="fwb h3  mb1">
                            Send alerts to your climbers
                            </h2> 
                            <p>
                            Let them know of new routes, upcoming competitions, events or special hours. </p>
                        </div>

                    </li>

                  </ul>
            
            </div>

          </div>

     </div>

</div>




  <!-- SECTION: CLIMBERS -->

<div class="section--alt">

    <div class="row  pt5">

        <div class="small-12 columns">

            <h1 class="fwl text-center">Setter for Climbers</h1>
       
              <div class="row ptb5">
                
                <div class="small-12  medium-6  columns">

                      <ul >

                        <li class="flag mb5">

                            <div class="flag-image">

                                <i class="icon-stats  icon--jumbo  icon--colored">
                                    
                                </i>

                            </div>

                            <div class="flag-body">

                                <h2 class="fwb h3  mb1">Log your sends at the gym and track your climbing progress
                                </h2> 

                                <p>description goes here</p>

                            </div>

                        </li>

                        <li class="flag">

                            <div class="flag-image">
                                <i class="icon-group  icon--jumbo  icon--colored">
                                    
                                </i>
                            </div>

                            <div class="flag-body">

                                <h2 class="fwb h3  mb1">
                                    Manage your gym's Setters 
                                </h2> 

                                <p> Track their bouldering, lead, and top rope sets and their awesome (or not so awesome) peformance.  
                                </p>

                            </div>

                        </li>

                    </ul>

                </div>

                <div class="small-12  medium-6 columns">

                    <ul class="list--big">

                        <li class="flag mb5">

                            <div class="flag-image">
                                <i class="icon-thumbsUp  icon--jumbo  icon--colored">
                                    
                                </i>
                            </div>

                            <div class="flag-body">
                                <h2 class="fwb h3  mb1">
                                    Leave gyms feedback on routes & problems
                                </h2>

                             <p>Help your gym better serve you by rating their sets and providing suggestions.</p>
                            

                            </div>

                        </li>

                        <li class="flag">

                            <div class="flag-image">
                                <i class="icon-search  icon--jumbo  icon--colored">
                                    
                                </i>
                            </div>

                            <div class="flag-body">
                                <h2 class="fwb h3  mb1">
                                Quickly find a route or gym.  
                                </h2> 
                                <p>
                                Search gyms and routes by name, grade, color, wall, etc.
                                </p>
                            </div>

                        </li>

                      </ul>
                
                </div>

              </div>

         </div>

    </div>
</div>
    


<div class="section--primary">

    <div class="row pt5">

        <div class="small-12 columns  text-center">

            <h1 class="mb5 section--primary-text text--mega fwb">Get started today by registering below! 
            </h1>

        </div>

    </div>

    <div class="row pb5">

        <div class="medium-7 small-centered columns">
            
            <ul class="[ tabs  tabs--simple tabs--primary ] [ row small-collapse ] mr0"
                ng-init="setCurrentTab(GYM_REGISTRATION)"
                role="tablist">

                <li class="tab-title  tabs-title--big  [ small-6  columns ] text-center
                " ng-class="{'active': currentRegistrationTab === GYM_REGISTRATION}">

                    <a ng-click="setCurrentTab(GYM_REGISTRATION)">

                       Gyms
                    </a>

                </li>

                <li class="tab-title  tabs-title--big  [ small-6  columns ] text-center" ng-class="{'active': currentRegistrationTab === USER_REGISTRATION}" >

                    <a ng-click="setCurrentTab(USER_REGISTRATION)">
    
                        Climbers
                    </a>

                </li>

            </ul>

            <div class="tabs-content tabs-content--standAlone">

                <div class="content prl3"
                     ng-class="{'active': currentRegistrationTab === GYM_REGISTRATION}">

                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">

                        <form action="//setterapp.us9.list-manage.com/subscribe/post?u=47170203e5b3a4bb510763ce1&amp;id=2a9c661eaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <div id="mc_embed_signup_scroll">

                        <p>We've only allowed a limited number of gyms to use SETTER at this time. Please fill out the short form below and we'll get in contact shortly with an access key.</p>

                        <div class="mb2">

                        <span class="asterisk  ">*</span> indicates required
                        </div>


                        <div class="fieldWrapper">

                        <label class="label--block  fwb" for="mce-EMAIL">Gym Email

                        <span class="asterisk">*</span>

                        </label>

                        <input type="email"
                                value=""
                                name="EMAIL"
                                class="required email"
                                id="mce-EMAIL"
                                ng-model="form.email"
                                placeholder="Who should we contact?">

                        </div>

                        <div class="fieldWrapper">

                        <label class="label--block  fwb" for="mce-FNAME">Gym Name

                        <span class="asterisk">*</span>

                        </label>

                        <input type="text"
                                value=""
                                name="FNAME"
                                class="required"
                                id="mce-FNAME"
                                ng-model="form.name"
                                placeholder="Type your gym's official full name">

                        </div>

                        <div class="fieldWrapper  mb4">

                        <label class="label--block  fwb" for="mce-LNAME">Gym Address </label>

                        <input type="text"
                            value=""
                            name="LNAME"
                            id="mce-LNAME"
                            ng-model="form.address"
                            placeholder="So people may locate you" >

                        </div>

                        <div id="mce-responses" class="mb3">

                        <div class="response" id="mce-error-response" style="display:none">
                        </div>

                        <div class="response" id="mce-success-response">
                        </div>

                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">

                        <input type="text" name="b_47170203e5b3a4bb510763ce1_2a9c661eaa" tabindex="-1" value=""></div>

                        </div>
                        </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->

                        <form action="//setterapp.us9.list-manage.com/subscribe/post?u=47170203e5b3a4bb510763ce1&amp;id=2a9c661eaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate></form>
                        <div id="mc_embed_signup_scroll">

                        </div>

                        <button type="submit"
                                value="Subscribe"
                                name="subscribe"
                                id="mc-embedded-subscribe"
                                ng-click="save()"
                                class="[ btn--primary  btn--big ptb2  btn--expanded ] ">
                            Request Your Gym Account
                        </button>

                </div>

                <div class="content"
                 ng-class="{'active': currentRegistrationTab === USER_REGISTRATION}">

                    <div class="prl3  mb4  novalidate">

                        <p>Start loggin your sends and helping your gym's setters by creating your free account below.</p>


                        <!-- Email -->
                        <div class="form-group">
                            <label class="label--block  fwb"
                                   for="email">Email</label>
                            <input ng-model='form.email'
                                   placeholder="email"
                                   type="email"
                                   name="email"/>
                        </div>


                        <!-- Email -->
                        <label class="label--block  fwb" for="password">Password</label>
                        <input ng-model='form.password'
                               placeholder="password"
                               type="password"
                               name="password"/>


                        <!-- First Name -->
                        <label class="label--block  fwb"
                               for="firstName">First Name</label>
                        <input ng-model='form.firstname'
                               placeholder="first name"
                               type="text"
                               style="text-transform: capitalize;"
                               name="firstName" />


                        <!-- Last Name -->
                        <label class="label--block  fwb"
                               for="lastName">Last Name</label>
                        <input class="mb4"
                               ng-model='form.lastname'
                               placeholder="last name"
                               type="text"
                               style="text-transform: capitalize;"
                               name="lastName" />

                        <!-- Home Gym -->
                        <label class="label--block  fwb" for="gym">Home Gym</label>
                        <label class="[ select--medium select--secondary ] left mb4">
                            <select name="gym"
                                    ng-model="form.gym"
                                    ng-options="gym.name for gym in gyms">
                            </select>
                        </label>

                        
                        <div ng-show="error"
                            style="color: red; text-align: center; margin-bottom: 40px;">
                            {{error}}!
                        </div>

                        <button class=" [ btn--primary  btn--big btn--expanded ]"
                            ng-click='registerClicked()'>
                            Sign me up!
                        </button>
                    </div>
                </div>


            </div>
   
        </div>


    </div>

</div>







  <footer>

    <div class="row ptb3">

      <section class="small-12  medium-6 columns  text-center">
      <h1 class="h2">
          Connect With Us 
      </h1>
        
      </section>
    <section class="small-12  medium-6 columns  text-center">
        <h1 class="h2">
            Receive Updates
        </h1>
      </section>
    </div>

  </footer>
