



<div class="row">

  <div class="small-12 columns">

    <div class="small-6 columns">
        SETTER
        <div class="saddie--medium saddie left"></div>

        <h1 class="fwl section--photo-text">The indoor climbing manager for
        setters, climbers, and gyms. </h1>

        <h2 class="h4 section--photo-text">

          Setter allows you to track of your setting history and gather feedback from your climbers, gaining you valuable insight to better serve your customers.

        </h2>

        <button ng-click="navigateToRegisterUser()"class="btn btn--primary btn--big">
          Sign Up
        </button>

      </div>

    </div>

  </div>



  <!-- SECTION: GYM -->
  <div class="section--alt">

    <div class="row">

      <div class="row ptb5" >

        <div class="medium-3 columns">

        </div>
        <section class="ptrbl3  medium-6  columns">
          <h1 class="fwb">Setter for Gyms</h1>


          <ul class="list--big  list--arrows ">

            <li>Track your setting history</li>

            <li>Receive feedback on routes & problems from your climbers</li>

            <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>

            <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>

          </ul>
          <button class="btn--primary btn--medium  center"
                  ng-click="navigateToRegisterGym()">
            Request Gym Account
          </button>
        </section>


      </div>

    </div>

  </div>



  <!-- SECTION: CLIMBERS -->
  <div class="section--primary  ">

      <div class="background-photo">

         <div class="row">

              <div class="row ptb5" >

                <section class="ptrbl3  medium-12 columns">

                  <h1 class="fwb section--alt-text">Setter for Climbers</h1>


                  <ul class="list--big  list--arrows ">

                    <li>Track your setting history</li>

                    <li>Receive feedback on routes & problems from your climbers</li>

                    <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>

                    <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>

                  </ul>

                  <button class="btn--tetriary btn--medium  center"
                          ng-click="navigateToRegisterUser()">
                    Request Climbing Account
                  </button>

                </section>

              </div>
      </div>

    </div>

  </div>



  <footer>
    <div class="row ptb3">
      <section class="small-12  text-center">
        FOOTER
      </section>

    </div>
  </footer>
