




<div class="section--primary  mb4">
    <div class="row ">
        
    </div>
</div>

<!--SECTION: Top bar--> 
<div class="row topBar--splash">

    <div class="small-12 columns">

        <div class="[ saddie--withName saddie--withName--small ] left">
            
        </div>

<!--         <ul class="links  right">
            
            <a class="mr2">
                Log In
            </a>

            <button class="btn btn--primary btn--medium">
                Sign Up
            </button>
        </ul> -->

    </div>

</div>

<!--SECTION: Introduction--> 

<div class="section--tetriary  section--photo">

    <div class="background-photo">

        <div class="row  pt5">

            <div class=" small-12 medium-12 pt5 large-only-text-left large-5 columns  text-center">

            
                <h1 class="fwl  section--tetriary-text">
                The indoor climbing manager for
                setters, climbers, and gyms. 
                </h1>
            
                <h2 class="h5 section--tetriary-text">
            
                  Setter allows you to track of your setting history and get feedback from your climbers, gaining you valuable insight to better serve your customers.
            
                </h2>
                

                <button ng-click="navigateToRegisterUser()" class="btn btn--primary btn--big">
                  Request An Account
                </button>
            
            </div>

            <div class="background-photo-foreground">
            
            <img src="images/splash1.png" alt="" >

            </div>

        </div>

 

    </div>

</div>





  <!-- SECTION: GYM -->
  <div class="">

    <div class="row">

      <div class="row ptb5" >

        <div class="medium-3 columns">

        </div>
        <section class="ptrbl3  medium-6  columns">
          <h1 class="fwb">Setter for Gyms</h1>


          <ul class="list--big  list--arrows ">

            <li>Track your setting history</li>

            <li>Receive feedback on routes & problems from your climbers</li>

            <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>

            <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>

          </ul>
          <button class="btn--primary btn--medium  center">
            Request Gym Account
          </button>
        </section>


      </div>

    </div>

  </div>



  <!-- SECTION: CLIMBERS -->
    <div class="section--alt">
        <div class="row">
        
          <div class="row ptb5" >
        
            <section class="ptrbl3  medium-12 columns">
        
              <h1 class="fwb">Setter for Climbers</h1>
        
        
              <ul class="list--big  list--arrows ">
        
                <li>Track your setting history</li>
        
                <li>Receive feedback on routes & problems from your climbers</li>
        
                <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>
        
                <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>
        
              </ul>
        
              <button class="btn--tetriary btn--medium  center">
                Request Gym Account
              </button>
        
            </section>
        
          </div>
        </div>
    </div>



  <footer>
    <div class="row ptb3">
      <section class="small-12  text-center">
        FOOTER
      </section>

    </div>
  </footer>
