  <nav class="top-bar" data-topbar>

    <ul class="logo   left">

       <li>
             <img src="images/setter-logo.svg"
                  height="35px"
                  width="35px"
                  alt="Setter"
                  class="text-right mr1">
                  Setter

       </li>

        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <button class="button">
            Log in
        </button>

        <button class="button">
            Sign up 
        </button>

    </ul>

  </section>

</nav>


<div class="row">
    <div class="small-12 columns">

<div class="small-6 columns">
    <h1 class="fwl section--photo-text">The indoor climbing manager for 
    setters, climbers, and gyms. </h1>
    <h2 class="h4 section--photo-text">
        Setter allows you to track of your setting history and get feedback from your climbers, gaining you valuable insight to better serve your customers.
    
    </h2>
    
    <button ng-click="navigateToRegisterUser()"class="btn btn--primary btn--big">
    Sign Up
    </button>
</div>
    </div>
</div>


<div class="section--primary">
    <div class="section--photo">
    
    
            
                <section class="content">
    
    
    
        
                </section>
    
           
    
    </div>
    </div>

<div class="section--alt  vh100">
    <div class="row">
        
    
        <div class="row ptb5" >
            <div class="medium-3 columns">
                
            </div>
            <section class="ptrbl3  medium-6  columns">
                <h1 class="fwb">Gyms</h1>
    
        
                <ul class="list--big  list--arrows ">
        
                    <li>Track your setting history</li>
            
                    <li>Receive feedback on routes & problems from your climbers</li>
            
                    <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>
            
                    <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>
            
                </ul>
                     <button class="btn--primary btn--medium  center">
                    Request Gym Account
                </button>       
            </section>
            

        </div>
    </div>
</div>


<div class="section--primary  vh100">
    <div class="row">
        
    
        <div class="row ptb5" >
            <section class="ptrbl3  medium-12 columns">
                <h1 class="fwb section--alt-text">Climbers</h1>
    
        
                <ul class="list--big  list--arrows ">
        
                    <li>Track your setting history</li>
            
                    <li>Receive feedback on routes & problems from your climbers</li>
            
                    <li>Alert climbers of new routes, upcoming competitions, events or special hours</li>
            
                    <li>Archive your bouldering, top rope, and lead sets for future reference, such as when scheduling setters. </li>
            
                </ul>
                     <button class="btn--tetriary btn--medium  center">
                    Request Gym Account
                </button>       
            </section>
            

        </div>
    </div>
</div>



<footer>
    <div class="row ptb3">
        <section class="small-12  text-center">
            FOOTER 
        </section>
    
    </div>
</footer>
