<script id="template_user_gymsearch" type="text/x-jQuery-tmpl">

<div class="row full-height">
  <div class="gridRow--100" data-ui-component="gymSearch">

      <div class="[ gridRow--oneThird gridRow--center ] pb4" data-ui-component="gym">
        <div class="pt4 pb1 center ">
          <img src="images/gymLogo--highPoint.png" class=" center avatar avatar--bigger">
        </div>
        <div class="display--block text-center center">
          <div class="mtb2">
            <span class="rating rating--big" data-ui-component="gymRating">
              <i class="star"></i>
              <i class="star"></i>
              <i class="star"></i>
              <i class="star"></i>
              <i class="star"></i>
            </span>
          </div>
          <h1 class="fwl txtc2 mb2">Aiguille Rock Climbing Center</h1>
          <h2 class="h5 fwb mb0">Longwood, FL</h2>

        </div>
        <button class="mt3 center btn--secondary btn--medium expand-on-small">GO TO GYM</button>
      </div>

  </div>

  <div class="gridRow--100">
    <div class="text-center center" data-ui-component="gymSearchControls">
      <div class="display--inlineBlock mr2" data-action="prevGym">
      <button class="btn--primary btn--big">PREV</button>
      </div>

      <div class="display--inlineBlock" data-action="nextGym">
      <button class="btn--primary btn--big">NEXT</button>
      </div>
    </div>
  </div>

</div>
</script>




<script id="template_user_gymsearch_gym" type="text/x-jQuery-tmpl">
      <div class="[ gridRow--oneThird gridRow--center ] pb4" data-ui-component="gym">
        <div class="pt4 pb2 center">
          <img src="images/gymLogo--highPoint.png" class=" center avatar avatar--jumbo">
        </div>
        <div class="display--block text-center center">
          
          <h1 class="fwl txtc2 mb2">Aiguille Rock Climbing Center</h1>

          <span class="rating rating--big" data-ui-component="gymRating">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
          </span>
        </div>
      </div>
</script>

