<!-- Header -->
<section class="row">

    <div class="header">

        <div class="clearfix  display--block">

            <button ng-hide="isGymAccount()"
                    class="[ btn--secondary btn--medium left  ] icon-left-big  left "
                    ng-click="navigateToGym(gymId)" >
                    Gym
            </button>

        </div>

        <h1 ng-show="isGymAccount()" class="fwb">
            <img src="images/icon--drill--black.svg" alt="" height="30px" width="30px">  Manage Gym Zones
        </h1>

        <h1 ng-hide="isGymAccount()" class="fwb"> Gym Zones
        </h1>

        <hr class="header-divider  hide-for-small-only">

    </div>

</section>

<!-- Zone Actions -->
<section class="row">

    <div class="small-12 columns">

        <div class="media--fl">

            <div>
                <label for="searchTerm" class="icon--label icon-search inline"></label>
            </div>

            <div>
                <input name=""
                        type="search"
                        id="searchTerm"
                        ng-model="form.filter"
                        ng-change="applyFilter()"
                        placeholder="Search by Wall Name">
            </div>
        </div>

        <div class="media--fl" ng-show="isGymAccount() && hasWalls()">
            <button type="submit"
                        alt="Add New Zone"
                        class="btn--primary icon-plus btn--medium "
                        ng-click="addClicked()">
                Add Zone
            </button>

            <div>
                <input type="text"
                        name="name"
                        id="wallName"
                        placeholder="New zone Name"
                        ng-model="form.wallName"/>
            </div>
        </div>

    </div>

</section>


<!-- User - Blank State Copy -->
<section ng-show="!hasWalls() && getAccountId() !== gymId">

    This gym has not set any rountes.
    <a prevent-default
       ng-click="navigateToGymSuggestions(gymId)">
       Click here to leave a suggestion!
   </a>

</section>


<!-- NG Repeat Zone List -->
<div class="row  small-collapse  large-uncollapse">

    <!-- Gym - Blank State Copy -->
    <section class="small-12 columns" ng-show="!hasWalls() && getAccountId() === gymId">

        <!-- Gym - Blank State for no Zones Small Only -->
        <div class="row  show-for-small-only">

            <div class="small-12 columns">

                <h2 class="wb  fwb">You have no zones available to set routes on, yet.</h2>
                
                <p>
                    Before you can start adding awesome routes & problems to your gym you must first create a zone. <span class="fwb">Add your first zone below!  </span>
                </p>
                
                <div class="media--fl" ng-show="isGymAccount()">
                
                    <button type="submit"
                                alt="Add New Zone"
                                class="btn--primary icon-plus btn--medium mb1 "
                                ng-click="addClicked()">
                        Add Zone
                    </button>
                
                    <div>
                        <input type="text"
                                name="name"
                                id="wallName"
                                placeholder="New zone Name"
                                ng-model="form.wallName"
                                class="mb1"/>
                    </div>
                
                
                </div>
                
                <p class="txt--micro">
                    <i><span class="uc fwb">Note:</span> Zones can serve as walls, climbing areas/sections, or whichever is the preferred method of wall categorization at your gym</i>.
                </p>
            </div>

        </div>

        <!-- Gym - Blank State for no Zones Medium Up -->
        <div class="placeholder-text  large  show-for-medium-up">
            
                <div class="vertical-align">

                    <h2 class="wb  fwb">You have no zones available to set routes on, yet.</h2>

                    <p>
                        Before you can start adding awesome routes & problems to your gym you must first create a zone. <span class="fwb">Add your first zone below!  </span>
                    </p>

                    <div class="media--fl" ng-show="isGymAccount()">

                        <button type="submit"
                                    alt="Add New Zone"
                                    class="btn--primary icon-plus btn--medium mb1 "
                                    ng-click="addClicked()">
                            Add Zone
                        </button>

                        <div>
                            <input type="text"
                                    name="name"
                                    id="wallName"
                                    placeholder="New zone Name"
                                    ng-model="form.wallName"
                                    class="mb1"/>
                        </div>


                    </div>
                    <p class="txt--micro">
                        <i><span class="uc fwb">Note:</span> Zones can serve as walls, climbing areas/sections, or whichever is the preferred method of wall categorization at your gym</i>.
                    </p>
                </div>
        </div>

        <img class="placeholderImage  show-for-medium-up" src="images/placeholder--zones.jpg" alt="">

    </section>

    <div class="small-12 columns">

        <ul class="list--tableStyle  list--navElem"  data-ui-component="gymZoneList">
            <li class="ptb2" ng-repeat="wall in walls"
                    ng-click="navigateToWall(gymId, wall.id)"
                    ng-hide="wall.hide">

                    {{wall.name}}
                   <span class="round  label success " ng-show="isUserAccount() && wall.new_count">{{wall.new_count}}</span>

                    <i class="icon-right-big right"> </i>

                    <span class="right">
                        {{wall.route_count}} Routes
                    </span>




            </li>

        </ul>

    </div>

</div>
