<!-- T - Wall Template -->
    <section class="row">

        <!-- S - Back Button -->
        <div class="header">

            <div class="left">
                <!-- [] Back to Manage Zones -->
                <button class="[ btn--secondary btn--medium right ] icon-left-big"
                        ng-click="navigateToWalls(gymId)" >
                    <span ng-show="isGymAccount()">
                        Manage
                    </span>

                    Zones
                </button>


            </div>

            <!-- S Zone Title -->
            <div class="row">

                <div class="small-12 columns">

                    <div class="media--fl"
                         ng-show="isEditMode">

                        <input ng-model="form.name"
                               type="text">
                        </input>

                        <!-- [] Save Route -->
                        <button class="btn--medium  btn--primary "
                                ng-click="save()">
                            Save
                        </button>
                    </div>

                    <h1 class="fwb"
                        ng-hide="isEditMode"
                        ng-click="selectRoute()">
                        {{wall.name}}

                        <!-- [] Edit Route -->
                        <a class="icon-pencil"
                           ng-click="edit()"
                           ng-hide="isUserAccount() || isEditMode">
                        </a>
                    </h1>

                </div>

            </div>

            <hr class="header-divider  hide-for-small-only">

        </div>

        <!-- S - Add Route - for Medium-Up -->

        <div class="small-12 columns  hide-on-small show-for-medium-up">

            <div class="row"
                 ng-show="isGymAccount()"
                 data-ui-component="routeActions">

                <div class="small-12 large-6 columns mb2">

                    <!-- [] Add Route -->
                    <button class="icon-plus btn--medium btn--primary btn--expanded"
                            ng-click="navigateToCreateRoute(gymId, wallId)">
                        Add Route
                    </button>

                </div>

                <!-- S - Strip Zone -->
                <div class="small-12  large-6 columns mb2">

                    <!-- [] - Strip Zone -->
                    <button class="icon-down-big btn--medium btn--secondary btn--expanded"
                            ng-click="stripZone(gymId, wallId)">
                        Strip Zone
                    </button>

                </div>

            </div>

        </div>

        <!-- S - Zone Image -->

        <div class="small-12 columns  text-center" ng-show="false && shouldShowWallImage()">

            <img class="mb4"  style="height: 160px; overflow: hidden; cursor: pointer;"
                 ng-click="getAccountId() === gymId && uploadImage()"
                 ng-src="{{getGymImageSrc(wall)}}">


        </div>
        <!-- [] - Drill Icon Button -->
        <button ng-show="isGymAccount()"
                class="btn--primary btn--fixedAction  show-for-small-only"
                ng-click="navigateToCreateRoute(gymId, wallId)">

            <!-- I - Drill -->
            <img src="images/icon--drill.svg"
                 alt=""
                 class="icon">
        </button>
</section>

<!-- Routes List & Delete Button -->
<section class="row  small-collapse large-uncollapse">

    <div class="columns" ng-class=" isRouteSelected() ? 'small-7' : 'small-12'  ">

        <!-- Displays the routes in this zone -->
        <ng-include src=" 'templates/ZoneRoutesTable.tpl.html' ">
            <!-- Routes Table Inserted Here-->
        </ng-include>

        <!-- Delete Zone -->
        <section class="row">

            <div class="small-12 columns  text-center mb4"
                 ng-show="isGymAccount()"
                 data-ui-component="routeSubActions">
                 <!-- [] - Delete Zone -->
                <a class="icon-trash"
                   ng-click="delete()">
                Delete Zone Permanently
                </a>
            </div>

        </section>

    </div>

    <!-- <div ng-cloak class="columns animate"
         ng-class="isRouteSelected() ? 'small-5' : 'ng-hide'">
        <div ng-include
            src=" 'templates/Route.tpl.html '"
            ng-controller="RouteController">
        </div>
    </div> -->

    <!-- <aside id="route_right" class="right-off-canvas-menu">

        <ul class="pt3  off-canvas-list"
            ng-show="isLoggedIn()"
            ng-include
            src=" 'templates/Route.tpl.html '"
            ng-controller="RouteController">
        </ul>

    </aside> -->

    <div class="animate" style="position: absolute; right: 0px; top: 0px; width: 85%; background-color: white;" ng-show="isRouteSelected()">
        <ul
            class="pt3  off-canvas-list"
            ng-show="isLoggedIn()"
            ng-include
            src=" 'templates/Route.tpl.html' "
            ng-controller="RouteController">
          </ul>
    </div>

</section>





<!-- Hidden Form used by Image Upload -->
<form id="image_form"
        style="display: none;"
        enctype="multipart/form-data"
        action="{{'/api/gyms/' + gymId + '/walls/' + wallId + '/image'}}"
        method="post"
        ng-upload="complete(content)">
    <input id="image_file"
        type="file"
        name="file" />
    <input id="image_submit"
        type="submit"></input>
    <input name="authorization"
        value="{{authorization}}"></input>
</form>
