
<!-- Loader -->
<div class="row">

    <div class="center  pt5  mt5" style="width: 80px; height: 80px; position: relative " ng-show="loading"
    us-spinner>

    </div>

</div>

<div ng-hide="loading">
    <!-- T - Wall Template -->
    <section ng-hide="loading">

        <!-- S - Back Button -->
        <div class="header" ng-click="hideModal()" >

            <!-- S Zone Title -->
            <div class="row">

                <div class="small-12 columns">

                    <div class="media--fl"
                         ng-show="isEditMode">

                        <input ng-model="form.name"
                               type="text">
                        </input>

                        <!-- [] Save Route -->
                        <button class="btn--medium  btn--primary "
                                ng-click="save()">
                            Save
                        </button>
                    </div>

                    <h1 class="fwb"
                        ng-hide="isEditMode"
                        ng-click="selectRoute()">
                        {{wall.name}}

                        <!-- [] Edit Route -->
                        <a class="icon-pencil"
                           ng-click="edit()"
                           ng-hide="!(isGymAccount() || isSetter()) || isEditMode">
                        </a>
                    </h1>

                </div>

            </div>

            <hr class="header-divider  hide-for-small-only">

        </div>

        <!-- [] - Drill Icon Button -->
        <button ng-show="isGymAccount() || isSetter()"
                class="btn--primary btn--fixedAction  show-for-small-only"
                ng-click="openCreateRouteModal()">

            <!-- I - Drill -->
            <img src="images/icon--drill.svg"
                 alt=""
                 class="icon">
        </button>
    </section>

    <section class="row">

      <section class="medium-6 small-12 columns">
        <div class="panel--dropshadow">

          <div class="section--primary" style="height: 10px;"></div>

          <div  style="padding: 20px;">
              <h1 class="fwb h2">Zone Image</h1>

              <div style="text-align: center;" class="text-center" ng-show="shouldShowWallImage()">

                  <ss-upload-image
                      clickable-class="wall_image"
                      class="wall_image"
                      image="{{getWallImageSrc(wall)}}"
                      authorization="{{authorization}}"
                      action="{{'/api/gyms/' + gymId + '/walls/' + wallId + '/image'}}"
                      callback="imageUploadCallback"
                      active="isGymAccount() || isSetter()">
                  </ss-upload-image>

              </div>
          </div>

        </div>
        <div style="height: 100px; width: 1px;"></div>

      </section>

      <!-- Routes List & Delete Button -->
      <div class="medium-6  small-12  columns animate" >
      <div class="panel--dropshadow">

        <div class="section--primary" style="height: 10px;"></div>

        <div style="padding: 20px;">
        <h1 class="fwb h2">Routes</h1>

        <!-- Gyms - Wall Actions for Medium up  -->
        <div class="row"
             data-ui-component="routeActions">

            <div class="small-12 columns mb2 show-for-large-up" ng-show="isGymAccount() || isSetter()">

                <!-- Gyms Add Route -->
                <button class="icon-plus btn--medium btn--primary display--inlineBlock "
                        ng-click="openCreateRouteModal()">
                    Add Route
                </button>


                <!-- [] - Strip Zone -->
                <button class="icon-down-big btn--medium btn--secondary display--inlineBlock right"
                        ng-show="hasRoutes()"
                        ng-click="stripZone(gymId, wallId)">
                    Strip Zone
                </button>

                <br>
                <div class="right" ng-show="hasRoutes()">
                  <!-- [] - Strip Color -->
                  <label class="[ select--medium select--secondary ] left">
                      <select ng-model="colorToStrip"
                              ng-options="color.value as color.name for color in colors">
                      </select>
                  </label>
                  <button class="icon-down-big btn--medium btn--secondary display--inlineBlock"
                          ng-click="stripColor(gymId, wallId, colorToStrip)">
                      Strip Color
                  </button>
                </div>

            </div>

            <div class="small-12 columns b2 hide-for-large-up"
                  ng-show="isGymAccount() || isSetter()">
                  <button class="icon-down-big btn--medium btn--secondary right"
                         ng-show="hasRoutes()"
                        ng-click="stripZone(gymId, wallId)">
                    Strip Zone
                </button>

                <br>
                <div class="right"  ng-show="hasRoutes()">
                  <!-- [] - Strip Color -->
                  <label class="[ select--medium select--secondary ] left">
                      <select ng-model="colorToStrip"
                              ng-options="color.value as color.name for color in colors">
                      </select>
                  </label>
                  <button class="icon-down-big btn--medium btn--secondary display--inlineBlock"
                          ng-click="stripColor(gymId, wallId, colorToStrip)">
                      Strip Color
                  </button>
            </div>

          </div>

         <div  class="row small-collapse large-uncollapse">

            <div class="small-12 columns  ng-hide"
                  ng-show="hasRoutes()"
                  ng-include src=" 'templates/ZoneRoutesTable.tpl.html' ">
                <!-- Routes Table Inserted Here-->

            </div>

            <div ng-show="!hasRoutes() && !(isGymAccount() || isSetter())"
                class="text-center ng-hide">
                <h2 class="fwl">This zone has no routes for you to climb yet.</h2>
            </div>

            <div ng-show="!hasRoutes() && (isGymAccount() || isSetter())"
                class="text-center ng-hide">
                <h2 class="fwl">There are no routes set at this zone. </h2>
            </div>

        </div>

        <!-- Delete Zone -->
        <section class="row">

            <div class="small-12 columns  text-center mb4"
                 ng-show="isGymAccount()"
                 data-ui-component="routeSubActions">
                 <!-- [] - Delete Zone -->
                <a class="icon-trash"
                   ng-click="delete()">
                Delete Zone Permanently
                </a>
            </div>

        </section>

      </div>

      </div>
    </div>
  </section>
</div>


<!-- TODO: Use this for uploading a wall image -->
<!-- action="{{'/api/gyms/' + gymId + '/walls/' + wallId + '/image'}}" -->
