<ul class="list--tableStyle  list--navElem">
    <li class="list--tableStyle  ptb2"
        ng-repeat="route in routes"
        ng-click="navigateToRoute(gymId, wallId, route.id)">
        <i class="icon-circle"
           ng-style="{color: route.value}"> </i>

        <!-- Name -->
        {{route.route_name}}

        <!-- Grade -->
        {{route.boulder_grade || route.rope_grade || UNRATED_STRING}}

        <!-- Icon -->
        <i class="icon-right-big  right"> </i>

        <!-- Sent -->
        <span style="margin-right: 20px;"
              ng-show="route.send">
            <span class="show-for-medium-up">You've</span> Sent
        </span>

        <!-- Stars -->
        <ng-include style="margin-right: 10px;"
                    ng-controller="StarRatingController"
                    src=" 'templates/StarRating.tpl.html' ">
        </ng-include>

        <!-- Sends -->
        {{route.send_count}} Send<span bindonce bo-show="{{route.send_count > 1}}">s</span>

        <!-- New -->
        <span class="icon--new label  success  border-radius"
               ng-show="isUserAccount() && route.isNew">New</span>
    </li>
</ul>
