<table class="[ small-12 columns ]  table--unStyled table--list table--clickableElem">
    <tbody >
        <tr
            ng-click="openRouteModal(route)"
            ng-repeat="route in routes">

                <td  class="pl2     ptb2">

                     <span class="hide-for-medium-up">

                        <i class="icon-circle display--block "
                       ng-style="{color: route.value}">
                       </i>

                        <!-- Grade -->
                        {{route.boulder_grade || route.toprope_grade || route.lead_grade || UNRATED_STRING}}

                    </span>

                    <!--Color for Medium Up-->
                    <span class="show-for-medium-up">

                        <i class="icon-circle"
                       ng-style="{color: route.value}">
                       </i>

                        <!-- Grade -->
                        {{route.boulder_grade || route.toprope_grade || route.lead_grade || UNRATED_STRING}}

                        <!-- New -->
                        <span class="border-radius  ml2  [ label round  success ] "
                               ng-show="isUserAccount() && route.isNew">New
                        </span>

                        <!-- Sent -->
                        <span class="ml2 fwb" ng-show="route.send">Sent</span>


                    </span>

                </td>


                <td>

                    <span class="hide-for-medium-up">
                        <!-- New -->
                        <span class="border-radius  ml2  [ label round  success ] "
                           ng-show="isUserAccount() && route.isNew">New
                        </span>

                        <!-- Sent -->
                        <span class="ml2 fwb" ng-show="route.send">Sent</span>

                    </span>

                </td>
                
                <td>
                    <ss-route-type-icon 
                        bouldering="route.boulder_grade"
                        toprope="route.toprope_grade"
                        lead="route.lead_grade">
                    </ss-route-type-icon>
                </td>

                <!-- Stars -->
                <td class="ptb2">


                <!-- Icon -->
                    <i class="icon-right-big right ">
                    </i>

                    <ng-include class="right rating rating--colored "
                                style="margin-right: 10px;"
                                ng-controller="StarRatingController"
                                src=" 'templates/StarRating.tpl.html' ">
                    </ng-include>
                </td>
        </tr>

    </tbody>
</table>

            <!-- Sends -->
    <!--         {{route.send_count}} Send<span bindonce bo-show="{{route.send_count > 1}}">s</span> -->
