<ul class="list--tableStyle  list--navElem">
    <li class="list--tableStyle  ptb2"
        ng-repeat="route in routes"
        ng-click="selectRoute(route)">
        <!-- ng-click="navigateToRoute(gymId, wallId, route.id)"> -->
        <i class="icon-circle"
           ng-style="{color: route.value}"> </i>

        <span class="display--inlineBlock  mr2"><!-- Name -->
            {{route.route_name}}

        <!-- Grade -->
        {{route.boulder_grade || route.toprope_grade || route.lead_grade || UNRATED_STRING}}
        </span>

        <!-- Icon -->
        <i class="icon-right-big  right"> </i>

        <!-- Sent -->
        <span class="fwb "
              ng-show="route.send">
              Sent
        </span>

        <!-- Stars -->
        <ng-include class="right rating rating--colored"
                    style="margin-right: 10px;"
                    ng-controller="StarRatingController"
                    src=" 'templates/StarRating.tpl.html' ">
        </ng-include>

        <!-- Sends -->
<!--         {{route.send_count}} Send<span bindonce bo-show="{{route.send_count > 1}}">s</span> -->

        <!-- New -->
        <span class="icon--new label  success  border-radius"
               ng-show="isUserAccount() && route.isNew">New</span>
    </li>
</ul>
