.route-panel(
  ng-show="show"
) 
  .right
    button(
      
    ) Edit
    
    button(
      
    ) Strip

    button(
      ng-click="show = false;"
    ) X
    
  hr
  
  .center
    img(
      src="assets/images/splash1.png"
      width="450px"
    )

  hr
  
  .left
    h3 Route Information
    
    .row
      .col-md-6.left
        span Avg. Rating
      .col-md-6.right
        span *****
    
    .row
      .col-md-6.left
        span Grade
      .col-md-6.right
        span V1
        
    .row
      .col-md-6.left
        span Color
      .col-md-6.right
        span 0
        
    .row
      .col-md-6.left
        span Zone
      .col-md-6.right
        span Right Gray
        
    .row
      .col-md-6.left
        span Setter
      .col-md-6.right
        span Moe Corbett
        
    .row
      .col-md-6.left
        span Date Set
      .col-md-6.right
        span Apr 29, 2016
        
  .projecting
    
  .sends
  
  .comments
        
