.col-3-fluid
  header
    .logo myApp
    .right.link Articles
    
  .fluid-wrapper
    .container-fluid.content
      .row
        .col-md-4.left
          

        .col-md-4.middle
          register

        .col-md-4.right
          

  footer
