
/*------------------------------------*\
    #Placeholders
\*------------------------------------*/


.placeholder--graph {
    opacity: .4; 
}

.placeholderImage {
    opacity: .4; 
    width: 100%; 
    min-height: rem-calc(250);
}


.placeholder-text { 
    width: 80%;
    padding-right: rem-calc(12);
    padding-left: rem-calc(12); 
  height: 60%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 4; 
  background-color: #fff; 
  @extend %dropshadow; 
  @extend %radius--boxes; 

}

.placeholder-text.small {
    height: 35%; 

    @media #{$medium-up} {
        width: 50%; 
    }

}

.placeholder-text.medium {
    height: 50%;

    @media #{$medium-up} {
        height: 50%; 
        width: 60%; 
    }

    @media #{$large-up} {
        height: 50%;
        width: 70%; 
    } 
}

.placeholder-text.large { 
    height: 80%;
    

    @media #{$medium-up} {
        height: 80%; 
        width: 80%; 
    }

    @media #{$large-up} {
        height: 60%;
        width: 60%; 
    }
}
