
<div class="col-3-fluid-with-banner">
  <header></header>
  <div class="fluid-wrapper">
    <div class="container-fluid banner">
      <div class="row">
        <banner></banner>
      </div>
    </div>
  </div>
  <div class="fluid-wrapper">
    <div class="container-fluid content">
      <div class="row">
        <div class="col-md-2 left">
          <navigation></navigation>
        </div>
        <div class="col-md-6 middle">
          <comments></comments>
        </div>
        <div class="col-md-4 right">
          <sends></sends>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>