
<span ng-hide="true" on-render-refresh-tooltip></span>

<!-- Gym Announcements -->
<section class="row">
    <div class="small-12 columns">
        <ng-include src=" 'templates/gym/panels/activity/sections/GymAnnouncements.tpl.html' "></ng-include>
    </div>
</section>




<!-- Newest -->
<section class="row small-collapse">

    <div class="small-12 columns">

        <div class="row ">

            <div class="small-5 columns">
                
            </div>

            <div class="small-7 columns">

                <span class="show-for-medium-up display--inlineBlock">

                Bouldering

                    <img role="tooltip"
                        data-tooltip
                        data-options="disable_for_touch:true" aria-haspopup="true"
                        title="Bouldering"
                        class="icon--hoverOpacity  mr1  has-tip  tip-top"
                        ng-click="setType(BOULDERING)"
                        src="images/icon--bouldering.svg" alt="" height="35px" width="35px">

                    <img  role="tooltip"
                        data-tooltip data-options="disable_for_touch:true" aria-haspopup="true"
                        title="Top Rope"
                        class="icon--hoverOpacity  mr1  has-tip  tip-top"
                        ng-click="setType(TOPROPE)"
                        src="images/icon--topRope.svg" alt="Top Rope" height="35px" width="35px" >

                    <img role="tooltip"
                        data-tooltip data-options="disable_for_touch:true" aria-haspopup="true"
                        title="Lead"
                        class="icon--hoverOpacity  mr1  has-tip  tip-top"
                        ng-click="setType(LEAD)"
                        src="images/icon--lead.svg" alt="" height="35px" width="35px">


                </span>


                <span class=" hide-for-medium-up   text-right">

                    <img role="tooltip"
                         data-tooltip
                         data-options="disable_for_touch:true" aria-haspopup="true"
                         title="Bouldering"
                         class="icon--hoverOpacity  mr1  has-tip  tip-top"
                         ng-click="setType(BOULDERING)"
                         src="images/icon--bouldering.svg" alt="" height="35px" width="35px">

                    <img  role="tooltip"
                         data-tooltip data-options="disable_for_touch:true" aria-haspopup="true"
                         title="Top Rope"
                         class="icon--hoverOpacity  mr1  has-tip  tip-top"
                         ng-click="setType(TOPROPE)"
                         src="images/icon--topRope.svg" alt="Top Rope" height="35px" width="35px" >

                    <img role="tooltip"
                         data-tooltip data-options="disable_for_touch:true" aria-haspopup="true"
                         title="Lead"
                         class="icon--hoverOpacity  mr1  has-tip  tip-top"
                         ng-click="setType(LEAD)"
                         src="images/icon--lead.svg" alt="" height="35px" width="35px">

                </span>

            </div>

        </div>

    </div>

</section>



<section class="row small-collapse">

    <!-- Newest -->
    <div class="small-12 medium-6  columns">
        <!-- Newest Boulder -->
        <ng-include
            ng-show="type === BOULDERING"
            src=" 'templates/gym/panels/activity/sections/NewestBoulder.tpl.html' ">
        </ng-include>

        <!-- Newest Top Rope -->
        <ng-include
            ng-show="type === TOPROPE"
            src=" 'templates/gym/panels/activity/sections/NewestTopRope.tpl.html' ">
        </ng-include>

        <!-- Newest Lead Routes -->
        <ng-include
            ng-show="type === LEAD"
            src=" 'templates/gym/panels/activity/sections/NewestLead.tpl.html' ">
        </ng-include>
    </div>

    <!-- Best -->
    <div class="small-12 medium-6  columns">

        <!-- Best Rated Boulder -->
        <ng-include
            src=" 'templates/gym/panels/activity/sections/BestRatedBoulder.tpl.html' "
            ng-show="type === BOULDERING">
        </ng-include>


        <!-- Best Rated Top Rope -->
        <ng-include
            src=" 'templates/gym/panels/activity/sections/BestRatedTopRope.tpl.html' "
            ng-show="type === TOPROPE">
        </ng-include>


        <!-- Best Rated Lead -->
        <ng-include
            src=" 'templates/gym/panels/activity/sections/BestRatedLead.tpl.html' "
            ng-show="type === LEAD">
        </ng-include>

    </div>

</section>




<!-- Latest Climber Sends -->
<section class="row">

    <div class="small-12 columns">
        <h2 class="mb1 fwl">
            Latest Climber Sends
        </h2>
    </div>

    <div class="row small-collapse">
        <div class="small-12  columns">

            <ng-include src=" 'templates/gym/panels/activity/sections/LatestClimberSends.tpl.html' "></ng-include>

        </div>
    </div>

</section>
