

<section class="row small-collapse  mb2">

    <!-- Newest -->
    <div class="small-12 columns large-6">

        <div class="row ">

            <div class="small-12  columns">

                <h2 class="fwl  mb2">
                    Latest Routes & Problems
                </h2>

            </div>

            <div class="small-12  columns  text-right">

                <label class="label--inline
                display--inlineBlock left">
                Showing
                </label>

                <label class="[ fwb text-right ] label--inline display--inlineBlock mr1">

                    <span>
                        {{ typeNewestCurrent }}
                    </span>

                </label>

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"

                     title="Bouldering"
                     class="opacityHover--lightToDark   mr1  has-tip  tip-top"
                     ng-click="setTypeNewest(BOULDERING)"
                     ng-class="{'active': typeNewest == BOULDERING}"
                     src="images/icon--bouldering.svg" alt="" height="32px" width="32px">

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"

                     title="Top Rope"
                     class="opacityHover--lightToDark   mr1  has-tip  tip-top"
                     ng-click="setTypeNewest(TOPROPE)"
                     ng-class="{'active': typeNewest == TOPROPE}"
                     src="images/icon--topRope.svg" alt="Top Rope" height="32px" width="32px" >

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"

                     title="Lead"
                     class="opacityHover--lightToDark   mr1  has-tip  tip-top"
                     ng-class="{'active': typeNewest == LEAD}"
                     ng-click="setTypeNewest(LEAD)"
                     src="images/icon--lead.svg" alt="" height="32px" width="32px">
            </div>

        </div>

        <div class="row small-collapse large-uncollapse">

            <div class="small-12 columns">
                <!-- Newest Boulder -->
                <div
                    ng-show="typeNewest === BOULDERING"
                    inject-when="true"
                    inject-template-when-visible
                    template="templates/gym/panels/activity/sections/LatestBoulder.tpl.html"
                    controller="LatestBoulderController">
                </div>

                <!-- Newest Top Rope -->
                <div
                    ng-show="typeNewest === TOPROPE"
                    inject-when="true"
                    inject-template-when-visible
                    template="templates/gym/panels/activity/sections/LatestTopRope.tpl.html"
                    controller="LatestTopRopeController">
                </div>

                <!-- Newest Lead Routes -->
                <div
                    ng-show="typeNewest === LEAD"
                    inject-when="true"
                    inject-template-when-visible
                    template="templates/gym/panels/activity/sections/LatestLead.tpl.html"
                    controller="LatestLeadController">
                </div>

            </div>

        </div>

    </div>

    <div class="small-12 large-6 columns">

        <!-- Best -->
        <div class="row ">

            <div class="small-12 columns">

                <h2 class="fwl  mb2">
                    Best Routes & Problems
                </h2>

            </div>

            <div class="small-12 columns  text-right">

                <label class="label--inline display--inlineBlock left">
                    Showing
                </label>

                <label class="[ fwb text-right ] label--inline display--inlineBlock mr1">

                    <span>
                        {{ typeBestCurrent }}
                    </span>

                </label>

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"
                     aria-haspopup="true"
                     title="Bouldering"
                     class="opacityHover--lightToDark  mr1  has-tip  tip-top"
                     ng-class="{'active': typeBest == BOULDERING}"
                     ng-click="setTypeBest(BOULDERING)"
                     src="images/icon--bouldering.svg" alt="" height="35px" width="35px">

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"
                     aria-haspopup="true"
                     title="Top Rope"
                     class="opacityHover--lightToDark  mr1  has-tip  tip-top"
                     ng-class="{'active': typeBest == TOPROPE}"
                     ng-click="setTypeBest(TOPROPE)"
                     src="images/icon--topRope.svg" alt="Top Rope" height="35px" width="35px" >

                <img role="tooltip"
                     data-tooltip
                     data-options="disable_for_touch:true"
                     aria-haspopup="true"
                     title="Lead"
                     class="opacityHover--lightToDark  mr1  has-tip  tip-top"
                     ng-class="{'active': typeBest == LEAD}"
                     ng-click="setTypeBest(LEAD)"
                     src="images/icon--lead.svg" alt="" height="35px" width="35px">

            </div>

        </div>

        <!-- Best -->
        <div class="row small-collapse large-uncollapse">

            <div class="small-12  columns">

                <!-- Best Rated Lead -->
                <ss-route-list
                    ng-show="typeBest === TOPROPE"
                    type="typeBest"
                    catagory="best"
                    limit="5">
                </ss-route-list>

            </div>

        </div>

    </div>

</section>




<section class="row small-collapse large-uncollapse">

    <!-- Gym Announcements -->
        <div class="small-12 large-6  columns mb2">

            <div class="small-12 columns panel">

                <ng-include src=" 'templates/gym/panels/activity/sections/GymAnnouncements.tpl.html' ">
                </ng-include>

            </div>

        </div>


<!-- Latest Climber Sends -->
        <div class="small-12 large-6  columns">
            <ng-include src=" 'templates/gym/panels/activity/sections/LatestClimberSends.tpl.html' "></ng-include>
        </div>



</section>



</section>
<span ng-hide="true" on-render-refresh-tooltip></span>
